<!DOCTYPE html>
<html lang='en'>
    <head>
        <!-- Favicon -->
        <link rel='icon' type='image/vnd.microsoft.icon' href='/static/imgs/favicon.ico' />
        <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
        <link href="/static/css/facebook.css" rel="stylesheet" type="text/css" />
        <link href="/static/sibt/css/shuuemura.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript">
            if (typeof jQuery == 'undefined') {
                var script= document.createElement('script');
                script.type= 'text/javascript';
                script.src= '/static/js/jquery.min.js';
                document.appendChild(script);
            }
            {% block head_script %}{% endblock %}
        </script>
        <title>Ask a Friend | Shu Uemura</title>
    </head>
    <body>
        <div id="header">
            <div class="_1kwrapper">
                <img class="vendor_logo"
                    src="/static/sibt/imgs/sibt-shu-logo.png"
                    width="226" height="29" />
            </div>
        </div>
        <div id="success_message" class="{% if not user_voted %}hidden{% endif %} emph">
            <div class="_1kwrapper">
                thanks for helping your friend. for your generosiy,
                GET A CHANCE TO WIN 1 of 3 shu uemura beauty sets,
                a value of $150! <a href="#">click here to enter</a>
            </div>
        </div>
        <div id="wrapper" class="_1kwrapper">
            <div id="asker_bar">
                <div class="choice">
                    <div class="emph title" style="padding:0; padding-top:20px;">
                        {% if user_voted %}
                            thanks for voting!
                        {% else %}
                            should <b>{{asker_name}}</b> get this?
                        {% endif %}
                    </div>
                    <div class="center" style="padding:20px 0;">
                        <div id="yes" class="button"
                             style="width:108px;
                                    height:32px;
                                    {% ifequal user_voted_what 'yes' %}
                                        background-image:url('/static/sibt/imgs/SHU-like-pressed-108x32.png');
                                    {% else %}
                                        {% if user_voted %}
                                        background-image:url('/static/sibt/imgs/SHU-like-transparent-108x32.png');
                                        {% else %}
                                        background-image:url('/static/sibt/imgs/SHU-like-norm-108x32.png');
                                        {% endif %}
                                    {% endifequal %}">
                        </div>
                        {% if user_voted %}
                            <div class="vote_counter"
                                style="background-image:url('/static/sibt/imgs/SHU-like-counter-28x32.png');">
                                <!-- how many yesses -->
                                {{ instance.get_yesses_count }}
                            </div>
                        {% endif %}

                        <div id="no" class="button"
                             style="width:126px;
                                    height:32px;
                                    {% ifequal user_voted_what 'no' %}
                                        background-image:url('/static/sibt/imgs/SHU-dislike-pressed-126x32.png');
                                    {% else %}
                                        {% if user_voted %}
                                        background-image:url('/static/sibt/imgs/SHU-dislike-transparent-126x32.png');
                                        {% else %}
                                        background-image:url('/static/sibt/imgs/SHU-dislike-norm-126x32.png');
                                        {% endif %}
                                    {% endifequal %}">
                        </div>
                        {% if user_voted %}
                            <div class="vote_counter"
                                style="background-image:url('/static/sibt/imgs/SHU-like-counter-28x32.png');">
                                <!-- how many noes -->
                                {{ instance.get_nos_count }}
                            </div>
                        {% endif %}
                    </div>

                    <img class="profile_pic"
                            src='{{ asker_pic|default:"https://fbcdn-profile-a.akamaihd.net/static-ak/rsrc.php/v2/yo/r/UlIqmHJn-SK.gif" }}' />
                    <span class="fbName asker_name_target">{{ asker_name|capfirst }}</span>
                    <br />
                    <span class="fbPost sharing_message_target">
                        {{ sharing_message|escape|default:"I'm thinking of buying this, but I'm not sure. what do you think?" }}
                    </span>
                </div>
                {% block left_screens %}{% endblock left_screens %}
            </div>
            <div id="main_content" class="slight-highlight">
                {% block right_screens %}{% endblock right_screens %}
            </div>
            <script type="text/javascript">
                {% block body_script %}{% endblock %}

                window.fbAsyncInit = function () {
                    // see: http://stackoverflow.com/questions/7655352/facebook-comment-fbcomment-returning-https-content-when-called-over-http
                    FB.init({
                        appId: '{{ FACEBOOK_APP_ID }}', // App ID
                        channelURL : '//{{ DOMAIN }}/static/js/fbchannel.html', // Channel File
                        status: true, // check login status
                        cookie: true, // enable cookies to allow the server to access the session
                        oauth: true, // enable OAuth 2.0
                        width: 375,
                        xfbml: true  // parse XFBML
                    });
                };
                var fbinit = function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s);
                    js.id = id;
                    js.async = true;
                    js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                };
            </script>
        </div>
        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23764505-9']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>