<!DOCTYPE html>
<html lang='en'>
    <head>
        <!-- Mixpanel -->
        <script type="text/javascript"> var mpq = []; mpq.push(["init", "{{MIXPANEL_TOKEN}}"]); (function() { var mp = document.createElement("script"); mp.type = "text/javascript"; mp.async = true; mp.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + "//api.mixpanel.com/site_media/js/api/mixpanel.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(mp, s); })(); </script>
        <!-- End Mixpanel -->
        
        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23764505-9']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        
        <!-- Favicon -->
        <link rel='icon' type='image/vnd.microsoft.icon' href='/static/imgs/favicon.ico' />
        
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
        <title>Social Referral</title>
        <meta name="description" content="What's the social value of your users?" />
        <meta name="keywords" content="social value, social payment, social worth, twitter value, twitter account value,
        tweet value, twittervalue, tweetvalue, social payments, twitter worth" />
        <link rel="start" href="http://www.wil.lt" title="Willet Social" />
        <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
        <script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"></script> 
        
        <script type="text/javascript">
            
            var share, reset, countChars, willet_conversion, sendGmail, highlight, sendEmailiframeBody,
                shareArea, shareFrame, shareText, charsLeft, clear, shareComplete, fbToken, next;
            
            $(document).ready(function() {
                iframeBody = document.getElementById('willt');
                shareFrame = document.getElementById('willt-frame');
                shareArea = document.getElementById('share-area'),
                userFound = {% if user_found %}{{ user_found }}{% else %}false{% endif %};
                shareText = document.getElementById('share-text'),
                charsLeft = document.getElementById('chars-left');

                if ( FB ) {
                    FB.init({ appId: '{{FACEBOOK_APP_ID}}',
                        status: true,
                        cookie: true,
                        xfbml: true,
                        oauth: true
                    });
                }
        
                // clear the share text
                shareComplete = function() {
                    toggleThanks();
                    console.log("Sharing complete!");
                    return true;
                };
            
                willet_conversion = function () {
                    $.ajax({
                        url: "/r/conversion",
                        type: 'post',
                        data: { referree_uid : "{{supplied_user_id}}",
                                app_uuid: "{{app_uuid}}" }
                    });// end ajax
                }; 
            
                clearText = function( elem ) {
                    elem.value = "";
                };
            
                errorCheckEmails = function () {
                    var to           = document.getElementById( 'to-emails' ),
                        msg          = $('#share-text-email'),
                        ret          = true,
                        emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;  
            
                    if ( to.value == "" ) {
                        to.value = "Please enter your friends' email addresses!";
                        ret = false;
                    }
                
                    if ( msg.val() == "" ) {
                        msg.val("Enter a message for your friends!");
                        ret = false;
                    }
                    return ret;
                }
            
                mixpanelTrack = function( event ) {
                    var user_id = {% if user %}
                                    "{{user.uuid}}"
                                  {% else %} 
                                    document.getElementById( 'from-email' );
                                  {% endif %}
            
                    // Track for the Client
                    mpq.push(['track', event + "{{app_uuid}}", 
                                      {'user'     : user_id, 
                                       'app' : "{{app_uuid}}",
                                       'bucket'   : "{{app_uuid}}"}]);
                
                    // Track for us
                    mpq.push(['track', event, {'user'     : user_id, 
                                               'app' : "{{app_uuid}}",
                                               'bucket'   : "{{app_uuid}}"}]);
                
                }
        
                sendEmailVia = function( who ){
                    var from_addr = 'you'; 
                    var to_addrs  = document.getElementById( 'to-emails' ).value,
                        msg       = $('#share-text-email').val(),
                        str;

                    // Tell the Server
                    if ( !sendEmail( false ) ) {
                        return;
                    }

                    if ( who === 'gmail' ) {
                        // Make a Gmail String
                        str = 'https://mail.google.com/mail/?view=cm&fs=1' +
                              '&to=' + to_addrs + 
                              '&su=' + "I've Given You a Gift!" + 
                              '&body=' + msg.replace(/\n/g,'%0A') + 
                              '&ui=2&tf=1';

                        mixpanelTrack( 'Gmail' );

                    } else if (who === 'yahoo') {
                        // Make a Yahoo string
                        str = "http://us.mc1216.mail.yahoo.com/mc/compose?.rand=1915749995" + 
                              "&to=" + to_addrs +
                              "&subject=" + "I've Given You a Gift!" + 
                              '&body=' + msg.replace(/\n/g,'%0A');

                        mixpanelTrack( 'Yahoo' );

                    } else if (who === 'hotmail') {
                        str = 'http://by156w.bay156.mail.live.com/default.aspx?rru=compose' + 
                              "&to=" + to_addrs +
                              "&subject=" + "I've Given You a Gift!" + 
                              '&body=' + msg.replace(/\n/g,'%0A');
                
                        mixpanelTrack( 'Hotmail' );
                    } else if (who === 'aol') {
                        str = "http://mail.aol.com/34007-211/aol-6/en-us/mail/compose-message.aspx?" + 
                              "&to=" + to_addrs +
                              "&subject=" + "I've Given You a Gift!" + 
                              '&body=' + msg.replace(/\n/g,'%0A');
                
                        mixpanelTrack( 'AOL' );
                    }
                    window.open( str );
                };

                sendEmail = function( via_willet ) {
                    var from_addr = 'you'; 
                    var to_addrs  = document.getElementById( 'to-emails' ),
                        msg       = $('#share-text-email');
            
                    // Check the fields.
                    if ( !errorCheckEmails() ) {
                        return false;
                    }
            
                    $.ajax({url: "/email/sendEmailInvites",
                        type: 'post',
                        data: { from_addr : from_addr, 
                                to_addrs  : to_addrs.value,
                                msg       : msg.val(),
                                url       : "{{willt_url}}",
                                willt_url_code : "{{willt_code}}",
                                via_willet : via_willet,
                                order_id  : '{{order_id}}'},
                        success: function(foo) {
                            toggleThanks();
                        },
                        error: function(foo) {
                        }
                    });// end ajax
            
                    // Track 'email' event
                    mixpanelTrack( 'Email' );
                    // Also track more general 'share' event
                    mixpanelTrack( 'Share' );

                    return true;
                };
 
                toggleThanks = function () {
                    $("#invite").toggle();
                    $("#thanks").fadeIn(300);
                };
    
                toggleSocialShare = function () {
                    $("#step1").toggle();
                    $("#step3").fadeIn(300);
                };

                toggleEmailShare = function( type ) {

                    $("#step1").toggle();
                    $("#email_div").fadeIn(300);
                    
                    /*
                    var $email_div = $('#email_div');
                    if ( $email_div.is(":visible") ) {
                        $email_div.slideUp();
                    } else {
                        $email_div.slideDown();
                        )ar foo = document.getElementById( 'choose_share_type' );
                        foo.style.display = "none";
                        var title = $( '#title_header' );
                        title.slideUp();
                    }
                    */
                };
                goBack = function() {
                    $('#step1').show();
                    toggleStep1Btns();
                };
                toggleStep1Btns = function () {
                    $('#email_div').hide();
                    $('#step3').hide();
                    
                    $("#step1_a").hide();
                    $("#step1_b").fadeIn(300);
                };

                // use the selected medium to share about your purchase
                share = function(medium, uid) {
                    var fb_share_handler = function(payload) {
                        console.log(payload)
                        $.ajax({url: "/fbShare",
                                type: 'post',
                                data: payload,
                                success: function (tr) {
                                    if (tr === 'ok') {
                                        shareComplete();
                                    } else {
                                        console.log("Facebook post failure");
                                    }
                                }
                        });
                    },
                    uid = uid || '';
                    var message = shareText.value.substring(0,141);
                    if (['linkedin', 'twitter', 'fb'].indexOf(medium) !== -1) {
                        // initiate facebook login event if requested
                        if (medium === 'fb') {
                            var fbData = {msg: message, wcode: '{{willt_code}}', order_id: '{{order_id}}'};
                            // first attempt server-provided token
                            if (userFound) {
                                fb_share_handler(fbData)
                                return;
                            } else {
                                if (!FB) {
                                    alert("Sorry Facebook appears to be down for the moment. Please try again in a bit.");
                                    return;
                                }
                                FB.login(function(lr) {
                                        console.log(lr);
                                        if (!lr.authResponse) {
                                            // we weren't given permission
                                            window.close();
                                        } else { 
                                            fbData.fb_token = lr.authResponse.accessToken;
                                            fbData.fb_id = lr.authResponse.userID;
                                            fb_share_handler(fbData);
                                            mixpanelTrack( 'Facebook' );
                                            mixpanelTrack( 'Share' );
                                        }
                                    }, {scope: 'publish_stream,offline_access,user_about_me,email'}
                                );
                    
                            } // if (userFound u
                        } else if (medium === 'twitter'){
                            var OAuthURL = '{{BASE_URL}}/oauth/twitter/login?wuid='
                                            + '&m=' + message + '&wcode={{willt_code}}&order_id={{order_id}}',
                                            AuthWindow = window.open(OAuthURL, '_blank');
                        } else if (medium === 'linkedin') {
                            console.log('linkedin share', message);
                            var OAuthURL = '{{BASE_URL}}/oauth/linkedin/login?wuid='
                                            + '&m=' + message + '&wcode={{willt_code}}&order_id={{order_id}}',
                                            AuthWindow = window.open(OAuthURL, '_blank');       
                        } else {
                            // style shareArea according to different social loader
                        }
                        shareArea.style.visibility = 'visible';
                    } else {
                        // social media provider not found
                    }
                };
            
                countChars = function() {
                    var count = 140 - shareText.value.length;
                    charsLeft.innerHTML = count + " characters left";
                    if (count < 0){
                        $('#twitter_button')
                        .addClass('disabled')
                        .attr('onclick', '');
                    } else {
                        $('#twitter_button')
                        .removeClass('disabled')
                        .attr('onclick', 'share("twitter");');
                    }
                };
        
                reset = function() { 
                    iframeBody.style.visibility = 'visible';
                    shareArea.style.visibility = 'hidden';
                    shareFrame.src = '';
                };
        
                toggleDefaultValue = function(el, onoff) {
                    if (onoff) {
                        var defaultvalue = el.siblings('.defaultValue').html();
                        el.css('color', '#777').val(defaultvalue);
                    } else {
                        el.css('color', '#444').val('');
                    }
                } // end function
            
                // Controls default values of input & textarea elements
                $('.defaultValue').siblings('input, textarea').focus(
                    function () {
                        var el = $(this),
                            defaultValue = el.siblings('.defaultValue').html();
                        if (el.val() === defaultValue) {
                            toggleDefaultValue(el, false);
                        }
                    }
                ).blur(
                    function () { 
                        var el = $(this);
                        if (el.val() === '' ) {
                            toggleDefaultValue(el, true);
                        }
                    }
                ).each(
                    function () { 
                        var el = $(this);
                        if (el.val() === '') {
                            toggleDefaultValue(el, true); 
                        }
                    }
                );
            
                countChars();
                willet_conversion();


                next = function (current_step) {
                    if ( current_step == "step1" ) {
                        var step1 = document.getElementById( 'step1');
                        var step2 = document.getElementById( 'step2');

                        step1.style.display = "none";
                        step2.style.display = "block";

                    } else if ( current_step == "step2" ) {
                        /*
                        var step2 = document.getElementById( 'step1');
                        var step3 = document.getElementById( 'step3');
                        var tp    = document.getElementById( 'top_image' );
                        var image = document.getElementById( 'step3_image' );

                        step2.style.display = "none";
                        step3.style.display = "block";
                        image.src = tp.src;
                        */
                    }
                };

                highlight = function( elem ) {
                    var tp   = document.getElementById( 'top_image' );
                    var left = document.getElementById( 'left_image' );
                    var rgh  = document.getElementById( 'right_image' );
                    var tmp  = tp.src;

                    if ( elem == tp ) {

                    } else if ( elem == left ) {
                        tp.src   = left.src;
                        left.src = tmp;
                    } else {
                        tp.src  = rgh.src;
                        rgh.src = tmp;
                    }
                    tp.style.border       = '5px solid #1f75cc';
                    tp.style.borderRadius = '4px';
                    tp.style.boxShadow    = '10px 10px 5px #888';
                };

                var skip_to = '{{ skip_to }}';
                if (skip_to != ''){
                    next(skip_to);
                }
            });
        </script>
            
        <!-- Blueprint CSS -->
        <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print" />
        <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

        <link rel="stylesheet" href="/static/referral/css/{{style}}.css" type="text/css" />

    </head>
    <body>

    <div id="fb-root"></div>
    <div id="wrapper" height="315px">
    <div id="invite" class="span-9 append-15 last willt">
        <div id="step1" class='step'>
        
            <!-- If this person was referred, let them know! -->
            {% if show_gift %}
                <h1>Your gift from {{app.product_name}} will be included in your order!</h1>
                <div class="last center">
                    <img height="120px" src="/static/imgs/gifts_for_2.png" /> 
                </div>

                <div id="step1_a">
                    <h2>Give a <span class='red'>free gift</span> from {{app.product_name}} to your friends!</h2>
            {% else %}
                <h1>Would you like to give a <span class='red'>free gift</span> to a friend from {{app.product_name}}?</h1>
                <div class="last center">
                    <img height="120px" src="/static/imgs/gifts_for_2.png" /> 
                </div>
                
                <div id="step1_a">
                    <h2 style="margin-bottom: 15px;">You'll get a free gift too!</h2>
            {% endif %}
                <div class="last">
                    <button style="padding: 10px 30px 30px 30px; font-size: 1.3em" onClick="toggleStep1Btns();">Give a Gift</button>
                </div>
            </div>

            
            <div id="step1_b" class="hidden" style="margin-top: 20px;">
                <div style="width: 110px" class='button-link' href="#" onClick="toggleEmailShare();" title="Share using your email account or let us email for you!"> 
                    <img src="/static/imgs/email_logo.png" width="27px" height="20px" />Email
                </div>

                <div style="width: 110px" class='button-link' href="#" onClick="toggleSocialShare();" title="Share on Facebook or Twitter!"> 
                    <img src="/static/imgs/fb-logo.png" width="20px" height="20px" />
                    <img src="/static/imgs/twitter-logo.png" width="20px" height="20px" />
                    Share
                </div>
                <div class="last" style="padding-top: 0.5em;"> 
                    <hr class="hor_line" />
                    or share your unique link:&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="share_code" readonly="readonly" class='small_text' type="text" value="{{ willt_url }}"  />
                </div>
            </div>
        </div>
            
        <div id="step3" class="last hidden" class='step'>
            <h1>Give a <span class='red'>free gift</span> to friends on<br />Facebook or Twitter</h1>
            <div class="prepend-top prepend-5 span-4 last" id="chars-left">140 characters left</div>
            
            <textarea wrap="soft" id="share-text" onupdate="countChars();" onkeydown="countChars();" onkeyup="countChars();">{{ text }}</textarea>

            <div class="last" id="choose_share_type">
                <div class="prepend-top button-link" title="Share on Facebook" onclick="share('fb');">
                    <img src="/static/imgs/fb-logo.png" width="20px" height="20px" />
                    Share on Facebook
                </div>
                <div id="twitter_button" class='button-link' title="Tweet on Twitter" onclick="share('twitter');">
                    <img src="/static/imgs/twitter-logo.png" width="20px" height="20px" />
                    Tweet on Twitter
                </div>
                <!--
                <a href="#" title="Share on LinkedIn" onclick="share('linkedin');">
                    <img src="/static/imgs/linkedin-logo.png" width="20px" height="20px" />
                </a>
                -->
            </div>
            
        </div>
        <div class="span-9 last hidden" id="email_div" class='step'>
            <div class="last center" style="margin-top: 1em">
                <h2>1. Complete your gift message</h2> 
            </div>
            <div class="span-1 clear">
                <div class="input-label">To</div>
            </div>
            <div class="input-content span-8 last">
                    <span class="defaultValue hidden">Friends' emails, separated by commas.</span>
                    <input id="to-emails" type="text" name="email" value="" />
            </div>
            
            <div class="prepend-1 span-8 last clear">
                <textarea wrap="soft" id="share-text-email" onkeydown="countChars();" value='asd'>Hi,

{{ email_text }}

Check it out here: {{willt_url}}</textarea>
            </div>
            <!--- 
            <div class="span-1">
                <div class="input-label">From</div>
            </div>
            <div class="span-8 append-bottom last">
                <div class="input-content">
                    <span class="defaultValue hidden">your email</span>
                    <input id="from-email" type="text" name="email" value="{{ user_email }}" />
                </div>
            </div>
            -->
            <div class="span-9" style="margin-top: 2em; margin-bottom: 0.5em">
                <h2>2. Select your e-mail provider</h2> 
            </div>
            <div class="span-5">
                <a class="email_btn box" href="#" onClick="sendEmailVia( 'gmail' );" title="GMail"> 
                    <img src="/static/imgs/gmail_logo.png" width="25px" height="20px" />
                </a>
                <a class="email_btn box" href="#" onClick="sendEmailVia( 'hotmail' );" title="Hotmail"> 
                    <img src="/static/imgs/hotmail_logo.png" width="29px" height="20px" />
                </a>
                <a class="email_btn box" href="#" onClick="sendEmailVia( 'yahoo' );" title="Yahoo Mail"> 
                    <img src="/static/imgs/yahoo_mail_logo.png" width="27px" height="20px" />
                </a>
                <a class="email_btn box" href="#" onClick="sendEmailVia( 'aol' );" title="AOL Mail"> 
                    <img src="/static/imgs/aol_mail_logo.png" width="27px" height="20px" />
                </a>
            </div>
            <div class="span-3 small_text" style="line-height: 3em;">let us email it for you:</div>
            <div class="span-1 last">
                <div class="right">
                    <a class="email_btn box" href="#" onClick="sendEmail(true);" title="We will send an email on your behalf"> 
                        <img src="/static/imgs/email_logo.png" width="27px" height="20px" />
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div id="thanks" class="span-9 append-15 last willt hidden">
        <h1 style="margin-top: 1.5em">Thanks for giving a gift!</h1>

        <div class="prepend-top append-bottom last center">
            <img width="120px" src="/static/imgs/gift.png" /> 
        </div>
        
        <h1 class="center last">Your <span class='red'>free gift</span> will be shipped with your order!</h1>
    </div>

    <div id="tweet-complete" onclick="shareComplete();"></div>
    <div id="share-area">
        <iframe id="willt-frame"></iframe>
    </div>
</div>
  </body>
</html>
