[submodule "static/js/localstorage"]
	path = static/js/localstorage
	url = https://github.com/wojodesign/local-storage-js.git
[submodule "scss"]
	path = scss
	url = https://github.com/Kronuz/pyScss.git
