{% extends "../../plugin/templates/ask.html" %}

{% block styles %}
{% endblock styles %}

{% block screens %}
<!---------------------------- Splash Screen ------------------------------>

            <div id="splash">
                <div class="title_bar">
                    <img alt="logo" src="/static/imgs/sibt_logo_79x50.png" />
                    <div>Ask Your Friends</div>
                    <div class="drop_bar" id="questionOptions">
                        <div class="grey_bar">
                            Should I buy this?
                        </div>
                        <img alt="arrow" src="/static/sibt/imgs/drop_arrow_29x29.png" />
                        <ul>
                            <!-- Question options appended when document ready -->
                        </ul>
                    </div>
                </div>
                <!-- 
                // Enable when styling complete
                {% if incentive_enabled %}
                <p>Save $5 off your next purchase by <br />asking your friends for shopping advice!</p>
                {% endif %}
                -->
                <div class="message" id="message">
                    <img alt="product" src="{{ product_images }}" />
                    <textarea id='shareText'>{{ AB_share_text|escape }}</textarea>
                </div>
                <div class="options">
                    <div class="option left">
                        <div class="button" id="postOnWall" title="Post to your wall">
                            <img alt="friends" src="/static/sibt/imgs/sibt_ask_all.png" />
                            <div class="title">Ask Friends</div>
                            <div class="subtitle">Post to Facebook</div>
                        </div>
                        <div class="hint">
                            <img alt="hint arrow" src="/static/sibt/imgs/little_arrow.png" />
                            <div>easy &amp; fast</div>
                        </div>
                    </div>
                    <div class="or">or</div>
                    <div class="option right">
                        <div class="button" id="showChooseScreen" title="Post to your friends' walls">
                            <img alt="friend" src="/static/sibt/imgs/sibt_choose_friends.png" />
                            <div class="title">Choose Friends</div>
                            <div class="subtitle">Get trusted advice</div>
                        </div>
                        <div class="hint">
                            <img alt="hint arrow" src="/static/sibt/imgs/little_arrow.png" />
                            <div>best advice</div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock screens %}

{% block js_globals %}
        {% if falsy %}<script>/* this is only for text editor coloring */{% endif %}
        var options = [
            // Could use template here
            {
                title: 'Should I buy this?',
                text: '{{ AB_share_text|escape }}'
            },
            {
                title: 'Does anyone own this?',
                text: 'I need help!  Does anyone own this? Let me know here:'
            }
        ];
{% endblock js_globals %}

{% block ajax_methods %}
        var storeAnalytics = function( evnt ) {
            var payload = { what          : evnt,
                            instance_uuid : '',
                            app_uuid      : '{{ app_uuid }}',
                            user_uuid     : '{{ user_uuid }}',
                            target_url    : '{{ target_url }}'
                          };
            $.ajax({
                url      : "{{ URL }}{% url TrackSIBTUserAction %}",
                dataType : 'json',
                data     : payload,
                type     : 'post',
                success  : function (response) {
                    return;
                }
            });
        };

        var startPartialInstance = function() {
            var payload = { app_uuid     : "{{app_uuid}}",
                            user_uuid    : "{{user_uuid}}",
                            product_uuid : "{{product_uuid}}",
                            willt_code   : "{{willt_code}}" };
            $.ajax({
                url      : "{{ URL }}{% url StartPartialSIBTInstance %}",
                type     : 'post',
                dataType : 'json',
                data     : payload,
                success  : function (tr) {
                    return;
                }
            });
        };

        var sendMessages = function() {
            var payload, friend_info, asker_info,
                msg   = $("#shareText").val(),
                error = false;

            // Gather up friend info, recording if a friend has an error
            friend_info = getFriendsInfo(); // either null or [...]

            // Gather asker info
            asker_info = asker.getAskerInfo(); // either null or [...]

            console.log('Asker: '+asker_info+' Friends: '+friend_info+' Error:'+error);
            
            if (friend_info && friend_info.length > 0 && asker_info && asker_info.length > 1) {
                // Clean up UI to show loader gif
                showScreen('asking');

                // No errors with friends, submit!
                payload = {
                    user_name       : "{{user_name}}",
                    user_uuid       : "{{user_uuid}}",
                    app_uuid        : "{{app_uuid}}",
                    product_uuid    : "{{product_uuid}}",
                    fb_access_token : fbAccessToken,
                    fb_id           : fbIdentity,
                    friends         : JSON.stringify(friend_info), // jQuery can't handle complex objects, make it string
                    asker           : JSON.stringify(asker_info),
                    msg             : msg,
                    willt_code      : "{{willt_code}}"
                };

                $.ajax({
                    url      : "{{ URL }}{% url SendFriendAsks %}",
                    type     : 'post',
                    dataType : 'json',
                    data     : payload,
                    statusCode : {
                        200: function () {
                            // Success
                            showScreen('success');
                        },
                        400: function (resp, status) {
                            // Bad Request
                            if (resp && resp.data && resp.data.message) {
                                $('.error_message').innerHTML("400 "+resp.data.message);
                            }
                            showScreen('failure');
                            
                        },
                        401: function (resp, status) {
                            // Unauthorized
                            if (resp && resp.data && resp.data.message) {
                                $('.error_message').innerHTML("401 "+resp.data.message);
                            }
                            showScreen('failure');
                            
                        },
                        500: function () {
                            // Internal server error
                            showScreen('failure');
                        }
                    }
                });
            }
        };
{% endblock ajax_methods %}

{% block js_functions %}
        // Show or hide list of question options on Splash screen
        // opt - true = show, false = hide
        var toggleShowQuestionOptions = function (opt) {
            $('#questionOptions>ul').toggle(opt);
        };

        // Question to ask has been selected.  Change button text and 
        // close list of options on Splash screen
        var selectQuestionOption = function (num) {
            $('#questionOptions>div').text(options[num].title);
            $('#message>textarea').text(options[num].text);
            toggleShowQuestionOptions();
        };
{% endblock js_functions %}

{% block js_init %}
            // Close drop down bar if it loses focus
            // Hack because div's dont have blur
            $("body").click(function (evt) {
                 var target = evt.target;
                 if ($(target).parents("#questionOptions").length === 0)  {
                     toggleShowQuestionOptions(false);
                 }
            });

            // Don't change this - click passes values into toggle,
            // which will trigger an animation we don't want. So
            // we wrap in function to block pass-through.
            $('#questionOptions>.grey_bar').click(function () {toggleShowQuestionOptions();
            });

            $('#questionOptions>img').click(function () {
                toggleShowQuestionOptions();
            });

            // Load up options
            (function () {
                var $ul = $('#questionOptions>ul');
                $.each(options, function (i, opt) {
                    $ul.append("<li onclick='selectQuestionOption("+i+");' >"+opt.title+"</li>");
                });
            })();

            // OK READY TO GO!
            showScreen('splash');
{% endblock js_init %}
