<!DOCTYPE html>
<html lang='en'>
    <head>
       <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23764505-9']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        
        <!-- Favicon -->
        <link rel='icon' type='image/vnd.microsoft.icon' href='/static/imgs/favicon.ico' />
        
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
        <title>Should I Buy This?</title>
        <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="/static/sibt/css/shopify.css" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            var userFound  = {% if user_found %}{{ user_found }}{% else %}false{% endif %};
            var shareText;
            var fbData = {
                msg: '', 
                img: '{{ productImg|first }}', 
                name: '{{ productName }}',
                product_id: '{{ product_id }}',
                app_uuid: '{{ app.uuid }}',
                willt_code: '{{ willt_code }}',
                product_img: '{{ productImg|first }}'
            };

            var storeAnalytics = function( evnt ) {
                $.ajax({
                    url: "{{URL}}/s/storeAnalytics?evnt="+ evnt +
                         "&target_url={{target_url}}&app_uuid={{app.uuid}}" +
                         "&user_uuid={{user.uuid}}",
                    type: 'get',
                    success: function (response) {
                        return;
                    }
                });
            };

            var share = function(medium, uid) {
                storeAnalytics( 'SIBT_ClickedOnShare' );

                // use the selected medium to share about your purchase
                $("#invite").hide();
                $("#loading").fadeIn();

                var uid = uid || '';
                var message = shareText.value.substring(0,141);
                if (medium === 'fb') {
                    fbData.msg = message; 
                    if (userFound) {
                        fb_share_handler(fbData)
                        return;
                    } else {
                        fb_login_and_share();
                        return;
                    } 
                } 
            };

            var fb_share_handler = function(payload) {
                $.ajax({
                    url: '{% url ShareSIBTInstanceOnFacebook %}',
                    type: 'post',
                    dataType: 'json',
                    data: payload,
                    success: function (response) {
                        if (response.success) {
                            shareComplete('facebook');
                        } else {
                            if (userFound) {
                                // we tried to use an existing user
                                // but the share failed!
                                userFound = false; // dont do this twice
                                fb_login_and_share();
                            }
                        }
                    }
                });
            };

            var fb_login_and_share = function() {
                // tries to auth with facebook 
                FB.login(function(lr) {
                        if (!lr.authResponse) {
                            storeAnalytics( 'SIBT_FBConnectCancelled' );
                            window.close();
                        } else { 
                            // TODO: need to support new authresponse
                            fbData.fb_token = lr.authResponse.accessToken;
                            fbData.fb_id = lr.authResponse.userID;
                            fb_share_handler(fbData);
                        }
                    }, {scope: 'publish_stream,offline_access,user_about_me,email'}
                );
            };

            var shareComplete = function(medium) {
                $("#invite").hide();
                $("#loading").hide();
                $("#thanks").fadeIn(300);

                var target = parent.postMessage ? parent : (parent.document.postMessage ? parent.document : undefined);
                target.postMessage(
                    'shared',
                    '*'
                );
                return true;
            };

            $(document).ready(function() {
                _willet_check_scripts();
            });

        </script>
        <style type="text/css">
            #wrapper {
                display: inline-block;
                width: 100%;
            }
                #wrapper div {
                    display: inline-block;
                    float: left;
                    font-family: Helvetica, Arial, sans-serif;
                }
                #wrapper div.hidden {
                    display: none; 
                }
                #wrapper div.left {
                    color: #333333;
                    background-color: #ECEFF5;
                    padding: 10px;
                    margin-right: 5%;
                    width:25%;
                    max-width:100px;
                    text-align: center;
                }
                    #wrapper div.left div {
                        margin-top: 1em;
                        width: 100%;
                        margin-bottom: 1em;
                    }
                        #wrapper div.left div h1 {
                            margin: auto;
                        }
                #wrapper div.right {
                    width: 75%;
                }
        </style>
    </head>
    <body>
        <div id="fb-root"></div>
        <div id="wrapper">
            <div class='left'>
                <h3>Here's how it works:</h3>
                <ol>
                    <li>Customize the message on the right</li>
                    <li>Share it on your Facebook wall</li>
                    <li>Your friends can vote if you should buy it</li>
                    <li>When the time's up we'll send you the resuls!</li>
                </ol>
                <h3>What are you waiting for? Ask your friends!</h3>
            </div>
            <div class='right'>
                <div id="invite" class="">
                    <div id="text-div">
                        <textarea wrap="soft" id="share-text">{{AB_share_text}} {{willt_url}}</textarea>
                    </div>

                    <div width="100%" id="buttons">
                        <div class="prepend-top button-link" title="Share on Facebook" onclick="share('fb');" style="width:90%">
                            <img src="/static/imgs/fb-logo.png" width="20px" height="20px" />
                            Share on Facebook
                        </div>
                    </div>
                </div>

                <div id="loading" class="hidden">
                    <h1 style="margin-top: 70px">Working ...</h1>
                    <img src="/static/imgs/ajax-loader.gif" />
                </div>

                <div id="thanks" class="hidden">
                    <h1 style="margin-top: 1.5em">Asking your friends ...</h1>
                </div>

                <div id="thanks_facebook" class="hidden">
                    <h1 style="margin-top: 2.5em">Asking your friends...</h1>
                    <p>
                        We will contact you as soon as your friends vote!
                    </p>
                </div>
            </div>
        </div>
        <script>
            window.fbAsyncInit = function() {
                // see: http://stackoverflow.com/questions/7655352/facebook-comment-fbcomment-returning-https-content-when-called-over-http
                //FB._https = true;
                FB.init({
                    appId: '{{FACEBOOK_APP_ID}}', // App ID
                    //channelURL : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
                    status: true, // check login status
                    cookie: true, // enable cookies to allow the server to access the session
                    oauth: true, // enable OAuth 2.0
                    xfbml: true  // parse XFBML
                });
            };
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s);
                js.id = id;
                js.async = true;
                js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
</html>
