<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                // close the iframe
                var target = parent.postMessage ? parent : (parent.document.postMessage ? parent.document : undefined);
                target.postMessage(
                    'close',
                    '*'
                );
            });            
        </script>
    </head>
    <body>

    </body>
</html>
