<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                // close the iframe
                /*
                var colorbox    = parent.document.getElementById('colorbox');
                var cboxOverlay = parent.document.getElementById('cboxOverlay');
                var cboxWrapper = parent.document.getElementById('cboxWrapper');
                $(colorbox).hide();
                $(cboxOverlay).hide();
                $(cboxWrapper).hide();
                */
            });            
        </script>
    </head>
    <body style="center">
        <p>This vote is now over.</p>
    </body>
</html>
