<html>
    <!-- ShowOnUnloadHook serves this page to our users.
         Please read (private) documentation of ShowOnUnloadHook for the
         purpose and usage of this template.
    -->
    <head>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript">
        if (typeof jQuery == 'undefined'){
            document.write(unescape("%3Cscript src='/static/js/jquery.min.js' type='text/javascript' charset='utf-8' %3E%3C/script%3E"));
        }
        </script>
    </head>
    <body>
        <script type="text/javascript">
            var _willet_visit_start = new Date ();
            $(window).unload(function () {
                var _willet_visit_end = new Date ();
                /* deprecated
                $.ajax ({
                    url: "{% url TrackSIBTUserAction %}?evnt={{evnt}}&duration=" +
                         (_willet_visit_end - _willet_visit_start) / 1000 +
                         "&app_uuid={{app_uuid}}" +
                         "&user_uuid={{user_uuid}}" +
                         "&instance_uuid={{instance_uuid}}" +
                         "&target_url={{target_url}}",
                    async: false // million-dollar line right here
                });
                */
            });
        </script>
    </body>
</html>
