{% extends "../../plugin/templates/vote.html" %}

{% block styles %}
    <style type="text/css">
        h2 a {
            color: inherit;
            text-decoration: none;
        }
        h2 a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block body_start %}{% endblock %}

{% block left_screens %}
    <div id="success_message" class="hidden blob">
        <div class="title">Thanks for voting!</div>
        {% for product in products %}
            <h4 id="why-{{ product.uuid }}" class="hidden">
                Tell {{asker_name}} why you voted for <i>{{ product.title }}</i>.
            </h4>
        {% endfor %}
        <div id="fb-root"></div>
        <div id="FOO" class="fb-comments hidden"
             data-href="{{fb_comments_url}}"
             data-num-posts="5" data-width="375"></div>
    </div>
{% endblock left_screens %}

{% block right_screens %}
    <div id="product_screen" class="wosib">
        <h2>Which one do you like more?</h2>
        {% for product in products %}
            <div class="product">
                <!-- thumbnail -->
                <a class="info_launch" data-uuid="{{ product.uuid }}">
                    <img alt="product image"
                         src='{{ product.images.0|default:"/static/imgs/noimage-willet.png" }}'
                         class="product-image center" />
                </a>
                <h2 class="title"
                    style="font-size: 1em">
                    <a href='{{ product.resource_url|default:"#" }}'>{{ product.title }}</a>
                </h2>
                <p style="text-align: center;">
                    <button class="button vote"
                            data-uuid="{{ product.uuid }}">
                        I like this one
                    </button>
                </p>
            </div>
            <div id="product_info_{{ product.uuid }}"
                class="product_info group1" rel="group1">
                <!-- details -->
                <div style="float:left; width: 400px;">
                    <a>
                        <img alt="product image"
                            src='{{ product.images.0|default:"/static/imgs/noimage-willet.png" }}'
                            class="product-image center"
                            style="max-width:300px; max-height:300px;" />
                    </a>
                    <button class="button vote" data-uuid="{{ product.uuid }}"
                            style="display:block; margin: 0 auto;
                                    width: 121px;">
                        I like this one
                    </button>
                </div>
                <div style="float:right; width: 400px;">
                    <h2 class="title">
                        <a href='{{ product.resource_url|default:"#" }}'>{{ product.title }}</a>
                    </h2>
                    {{ product.description|linebreaksbr|striptags }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock right_screens %}

{% block body_script %}
    $(document).ready(function () {
        var vote = function () {
            var product_uuid = $(this).data('uuid');
            if (product_uuid) {
                var payload = {
                    "user_uuid" : "{{ user_uuid }}",
                    "instance_uuid" : "{{ instance_uuid }}",
                    "product_uuid" : product_uuid
                };
                $.ajax({
                    url: "{{ URL }}{% url DoVote %}",
                    type: 'post',
                    data: payload,
                    success: function () {
                        $(".choice, #product_screen").hide();
                        $("#discount_screen, #success_message, #why-" + product_uuid + ", #FOO").show();

                        // get the discount code.
                        $.ajax({
                            url: "{% url DispenseClientDiscountCode %}",
                            data: {
                                'client_uuid': "{{ client_uuid }}",
                                'store_url': "{{ store_url }}"
                            },
                            type: 'post',
                            dataType: 'text',
                            success: function (data) {
                                if (data) {
                                    $("#discount_gettest").show();
                                }
                                $("#discount_code").val(data || "We're out!");
                            }
                        });
                        fbinit (document, 'script', 'facebook-jssdk');
                    },
                    error: function () {
                        $(".choice").hide();
                        $("#error_message").show();
                    }
                });
            } else {
                showError("Please select a product :)");
            }
        };
        $('.vote').click(vote);

        // wosib mode view product's info
        $('.info_launch').click(function () {
            var iid = '#product_info_' + $(this).data('uuid'),
                ctl = $(iid);
            $.colorbox({
                inline: true,
                fixed: true,
                href: ctl,
                rel: 'product_info',
                'transition': 'fade',
                'onOpen': function () {
                    ctl.show();
                },
                'onClosed': function () {
                    ctl.hide();
                }
            });
        });
    });
{% endblock %}