{% extends "../../plugin/templates/vote.html" %}

{% block styles %}{% endblock %}

{% block body_start %}{% endblock %}

{% block left_screens %}
    <div id="success_message" class="hidden blob">
        <div class="title">Thanks for voting!</div>
        <h4 class="yes">
            Tell {{ asker_name }} why you voted YES.
        </h4>
        <h4 class="no">
            Tell {{ asker_name }} why you voted NO.
        </h4>
    </div>
    <div id="facebook_box" class="blob">
        <div class="title">Discussion box</div>
        <div id="fb-root"></div>
        <!-- div id="FOO" class="fb-comments hidden" -->
        <div id="FOO" class="fb-comments"
             data-href="{{fb_comments_url}}"
             data-num-posts="5" data-width="400"></div>
    </div>
{% endblock left_screens %}

{% block right_screens %}
    <div id="product_screen">
        <div class="choice blob"
             style="text-align:center; margin: 18px;">
            <div class="title">
                Should <b>{{asker_name}}</b> get this?
            </div>
            <div class="center">
                <button class="button" id="yes">Yes</button>
                <button class="button" id="no">No</button>
            </div>
        </div>
        <h2><a href="{{ product_url }}">{{ product.title|striptags|escape }}</a></h2>
        <img id="product_img" class="slight-highlight product-image" src="{{ product_img }}" />
        <div class="description">
            {{ product.description|striptags }}
        </div>
    </div>
{% endblock right_screens %}

{% block body_script %}
    $(document).ready(function () {
        var vote = function (which) {
            $.ajax({
                url: "{% url DoVote %}",
                type: 'post',
                data: {
                    instance_uuid : "{{instance.uuid}}",
                    which : which
                },
                success: function (tr) {
                    $(".choice, #product_screen").hide();
                    $("#discount_screen, #success_message, #success_message h4." + which + ", #FOO").show();

                    // get the discount code.
                    $.ajax({
                        url: "{% url DispenseClientDiscountCode %}",
                        data: {
                            'client_uuid': "{{ client_uuid }}",
                            'store_url': "{{ store_url }}"
                        },
                        type: 'post',
                        dataType: 'text',
                        success: function (data) {
                            if (data) {
                                $("#discount_gettest").show();
                            }
                            $("#discount_code").val(data || "We're out!");
                        }
                    });
                    // fbinit (document, 'script', 'facebook-jssdk');
                },
                error: function () {
                    $(".choice").hide();
                    $("#error_message").show();
                }
            });
        };
        $('.choice button').click(function () {
            vote(this.id); // click button = vote
        });

        fbinit (document, 'script', 'facebook-jssdk');
    });
{% endblock body_script %}