{% extends "../../plugin/templates/vote.html" %}

{% block styles %}
    <style type="text/css">
        html. body {
            background: transparent !important;
            background-color: transparent !important;
        }
        h2 a {
            color: inherit;
            text-decoration: none;
        }
        h2 a:hover {
            text-decoration: underline;
        }
        #wrapper {
            margin-top: 130px;
        }
    </style>
{% endblock %}

{% block body_start %}
    <div id='header'>
        <div id="white"></div>
        <div id="cloud_bottom"></div>
        <div id="cloud_top"></div>
    </div>
{% endblock %}

{% block screens %}
    <div id="asker_title">
        <div id="title">
            {% if asker_pic %}
                <img align="left" src="{{ asker_pic }}"  />
            {% endif %}
            Should <b>{{asker_name}}</b> Buy This?
            <div id="share_again">
                Invite a friend to vote: <input style="width: 250px" type="text" readonly="readonly" value="{{ share_url }}" />
            </div>
        </div>
    </div>
    <div id="main_content" class="slight_highlight">
        <div id="product_screen">
            <h2><a href="{{ product_url }}">{{ product.title|escape }}</a>
                <br />
                <span class="mini">From <a href="{{ store_url }}">{{ store_name }}</a></span>
            </h2>
            <div id="left-div">
                <img src="{{ product_img }}" />
            </div>
            <div id="right-div" class="description">
                {{ product.description|escape }}
            </div>
        </div>
        <div id="success_screen" class="hidden">
            Thanks for voting!
            <h2 class="yes">
                Tell {{asker_name}} why you voted YES.
            </h2>
            <h2 class="no">
                Tell {{asker_name}} why you voted NO.
            </h2>
            <div id="fb-root"></div>
            <div id="FOO" class="fb-comments hidden" data-href="{{fb_comments_url}}" data-num-posts="5" data-width="400"></div>
        </div>
        <div id="error_screen" class="hidden">Something went wrong, and your vote was not counted! <br />
            Sorry! Please <a href="mailto:support@getwillet.com">tell us</a> about it.
        </div>
    </div>
    <div id="choice">
        <button class="button" id="yes">Yes</button>
        <button class="button" id="no">No</button>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            var yesses = {{yesses}};
            var noes = {{noes}};
            var percent_el = $('#percentage');

            var calculatePercent = function() {
                var total = yesses + noes;
                var value = Math.round(parseFloat(yesses/total)*100);
                if (isNaN(value)) {
                    value = 0;
                }
                return value;
            };
            var vote = function( which ) {
                //var count = $('#' + which + 'Count span');
                //var val = parseInt(count.text()) + 1;
                //count.text(val);
                if (which == 'yes') {
                    yesses++;
                } else {
                    noes++;
                }
                percent_el.text(calculatePercent());
                $.ajax({
                    url: "/s/doVote",
                    type: 'post',
                    data: {
                        instance_uuid : "{{instance.uuid}}",
                        which : which
                    },
                    success: function (tr) {
                        $("#product_screen").hide();
                        $("#choice").hide();
                        $("#success_screen").show();
                        $("#success_screen h2." + which).show();
                        $("#FOO").show();
                        fbinit (document, 'script', 'facebook-jssdk');
                    },
                    error: function () {
                        $("#product_screen").hide();
                        $("#choice").hide();
                        $("#error_screen").show();
                    }
                });
            };

            percent_el.text(calculatePercent ());

            $('#choice button').click(function () {
                vote (this.id); // click button = vote
            });
        });
    </script>
    <script>
        window.fbAsyncInit = function() {
            // see: http://stackoverflow.com/questions/7655352/facebook-comment-fbcomment-returning-https-content-when-called-over-http
            //FB._https = true;
            FB.init({
                appId: '{{FACEBOOK_APP_ID}}', // App ID
                //channelURL : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                oauth: true, // enable OAuth 2.0
                width: 400,
                xfbml: true  // parse XFBML
            });
        };

        var fbinit = function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s);
            js.id = id;
            js.async = true;
            js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        };
    </script>
{% endblock %}
