{% extends "../shopify/templates/base.html" %}

{% block head %}
    <script>
        $(document).ready(function() {
            $('#go_to_shopify').click(function() {
                window.location = "{{app.store_url}}/admin";
            });
            SnapABug.setUserEmail('{{ client_email }}');
            SnapABug.startChat('Hi, can we help you with the installation?');
        });
    </script>
{% endblock head %}

{% block right_head %}
    {% if analytics %}
        <p><a href="{% url ShowDashboard app.uuid %}">See Your Referral Analytics</a></p>
    {% endif %}
    <p><a href="{% url SIBTShopifyEditStyle app.uuid %}">Edit App Style</a></p>
{% endblock right_head %}

{% block content %}
<div class="lower-100 prepend-3 span-4 append-1 append-bottom" style="font-size: 1.5em; font-weight: bold; opacity: 0.6;"> 1. Register Store </div>
        <div class="lower-100 prepend-1 span-6 append-1 append-bottom" style="font-size: 1.5em; font-weight: bold;"> 2. Integrate 'Should I Buy This'</div>
        <div class="lower-100 prepend-1 span-6 append-1 append-bottom last" style="font-size: 1.5em; font-weight: bold; opacity: 0.6;"> 3. Confirm Installation </div>
        
        <h1 class="span-24 last center">Integration Guide for {{shop_name}}</h1>
        <div class="span-24 last" style="background-color: white; padding: 30px; border-radius: 20px" >
            <div class="center span-24 last append-bottom">
                <p>
                    {{shop_owner}}, thanks for installing "Should I Buy This"!  
                    <br />
                    Now, let's determine where to place the button on your product pages.
                </p>
            </div>

            <div class="prepend-top prepend-3 span-18 append-3 last append-bottom">
                <p>1. In your <a href="{{app.store_url}}/admin">Shopify administration panel</a>, open the <em>Template Editor</em> under <em>Themes</em>.</p>
                
                <img class="span-18" src="/static/imgs/template_editor.png" />
            </div>
            
            <hr class="thick_hr" /> 

            <div class="prepend-top prepend-3 span-12 append-bottom">
                <p class="lower-50"> 
                    2. Under the <em>Snippets</em> section, click on <em>product.liquid</em>. If you cannnot locate <em>product.liquid</em> under <em>Snippts</em>, try looking under
                    <em>Templates</em>.
                </p>
            </div>
            
            <div class="prepend-top prepend-2 span-6 last append-bottom">
                 <img src="/static/imgs/snippets_product.png" />
            </div>

            <hr class="thick_hr" /> 
            
            <div class="prepend-3 span-18 append-3 last append-bottom">
                <p>
                    <strong>3. Look </strong>for where you would like the advice button to be placed on your product pages. If you want to
                    place it near your "Add to Cart" or "Buy Now" button, look for <em>&lt;/form&gt;</em>.
                </p>
                 
                 <img class="span-18" src="/static/imgs/form.png" />
            </div>
            
            <hr class="thick_hr" /> 
            
            <div class="prepend-top prepend-3 span-18 append-3 last">
                <p>
                    <strong>4. Once </strong>you've picked a spot, add this code:

                    {% ifequal app.version '1' %}
                        <input style='font-size:13px;max-width: 275px;width: 245px;' type='text' readonly='readonly' value='&lt;div id="_willet_shouldIBuyThisButton"&gt;&lt;/div&gt;' />
                    {% else %}
                        <input style='font-size:13px;max-width: 275px;width: 245px;' type='text' readonly='readonly' value="&#123;&#37; include 'willet_sibt' &#37;&#125;" />
                    {% endifequal %}
                </p>
            </div>
           
            <hr class="thick_hr" /> 
            
            <div class="prepend-3 span-18 append-3 last append-bottom">
                <p>
                    <strong>5. Click</strong> <em>save</em> near the top of the screen.
                </p>
                 
                 <img class="span-18" src="/static/imgs/save.png" />
            </div>

            <hr class="thick_hr" /> 

            <div class="prepend-top prepend-3 span-12 append-bottom">
                <p class="lower-50"> 
                    6. Under the <em>Templates</em> section, click on <em>cart.liquid</em>.
                </p>
            </div>
            
            <hr class="thick_hr" /> 
            
            <div class="prepend-3 span-18 append-3 last append-bottom">
                <p>
                    <strong>7. Look </strong>for where you would like the advice button to be placed on your cart page.
                    After the <em>&lt;/table&gt;</em> tag would be a nice spot.
                </p>
                 
                 <img class="span-18" src="/static/imgs/snippets_wosib.png" />
            </div>
            
            <hr class="thick_hr" /> 
            
            <div class="prepend-top prepend-3 span-18 append-3 last">
                <p>
                    <strong>8. Once </strong>you've picked a spot, add this code:
                    <input style='font-size:13px;max-width: 275px;width: 245px;' type='text' readonly='readonly' value="&#123;&#37; include 'willet_wosib' &#37;&#125;" />
                </p>
            </div>
           
            <hr class="thick_hr" /> 
            
            <div class="prepend-3 span-18 append-3 last append-bottom">
                <p>
                    <strong>9. Click</strong> <em>save</em> near the top of the screen.
                </p>
                 
            </div>

            {% if new_order_code %}
                <hr class="thick_hr" /> 
                
                <div class="prepend-3 span-18 append-3 last append-bottom">
                    <p>
                        10. Open your <a href="{{app.store_url}}/admin/payments">Checkout and Payments</a> Preferences.
                    </p>
                </div>

                <hr class="thick_hr" /> 
                
                <div class="prepend-3 span-18 append-3 last append-bottom">
                    <p>
                        11. Under <em>Additional Settings</em> -&gt; <em>Additional Content & Scripts</em>, insert this text:
                        <textarea style='font-size:13px;max-height: 450px; height:450px;max-width: 600px;width: 600px;' type='text' readonly='readonly'>
&lt;!-- Begin Willet integration code --&gt;
&lt;script type="text/javascript"&gt;
  (function()&#123;
    var jsUrl = '{{URL}}/o/shopify/create.js?client_uuid={{client_uuid}}';
    var i = 0;
    var items = '';
    &#123;&#37 for line in line_items &#37&#125;
      items += 'item' + i + '=' + encodeURIComponent('&#123;&#123; line.product.id &#125;&#125;') + '&';
      i++;
    &#123;&#37 endfor &#37&#125;

    var jsSrc = jsUrl +
                '&order_id='+ encodeURIComponent('&#123;&#123; order_id &#125;&#125;') +
                '&order_num='+ encodeURIComponent('&#123;&#123; order_number &#125;&#125;') +
                '&subtotal='+ encodeURIComponent('&#123;&#123; subtotal_price | money_without_currency &#125;&#125;') +
                '&ref_site='+ encodeURIComponent('&#123;&#123; referring_site &#125;&#125;') +
                '&email='+ encodeURIComponent('&#123;&#123; customer.email &#125;&#125;') +
                '&name='+ encodeURIComponent('&#123;&#123; customer.name &#125;&#125;') +
                '&marketing='+ encodeURIComponent('&#123;&#123; customer.accepts_marketing &#125;&#125;') +
                '&num_items='+ i +
                '&'+ items;

    var script  = document.createElement('script');
    script.type = 'text/javascript';
    script.src  = jsSrc;
    document.getElementsByTagName("head")[0].appendChild(script);
  &#125;)();
&lt;/script&gt;
&lt;!-- End Willet integration code --&gt;
                        </textarea>

                    </p>
                </div>

               <hr class="thick_hr" /> 
                
                <div class="prepend-3 span-18 append-3 last append-bottom">
                    <p>
                        <strong>12. Click</strong> <em>Apply these settings</em>.
                    </p>
                </div>

            {% endif %}
            
            <div class="center prepend-top prepend-3 span-18 append-3 last append-bottom">
                <p><b>All done! Now, visit any of your product pages to verify the buttons are displaying correctly.</b></p>
            </div>

            <div class="prepend-top prepend-3 span-18 append-3 last append-bottom">
                <h3 class="center">Want to customize the location of the buttons? <br /> Have other questions? Email fraser@getwillet.com!</h3>
                <br />

                <div class="center">
                    <button class='blue' id='go_to_shopify'>
                        <img src="/static/imgs/shopify-bag-36.png" />
                        <span style="float: right;display: block;padding-left: 10px;margin-top: 5%;">
                            Return to your Store 
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            ;(function ($) {
                /* patch New SnapEngage script overlay does not close on click
                   https://www.pivotaltracker.com/story/show/23948937 */
                try {
                    var close_button = $('#SnapABug_P div img');
                    if (!!$.on) {
                        $('#SnapABug_W').on('click', function () {
                            close_button.click();
                        });
                    } else if (!!$.live) {
                        $('#SnapABug_W').live('click', function () {
                            close_button.click();
                        });
                    }
                } catch (e) {
                    // pass
                }
            }) (jQuery || $);
        </script>
{% endblock content %}
