{% extends "base.html" %}

{% block title %}The voting is complete!{% endblock %}

{% block content %}
    <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <td valign="top">
                <div style="font-size:110%">
                    <p>Hi {{ name }},</p>
                    {% if products %}
                        <p>Your vote has ended. These products tied in score:</p>
                        {% for prod in products %}
                            <center style="display:block;
                                           margin: 0 auto;
                                           text-align: center;">
                                {% if prod.title %}
                                    <p>
                                        <b>{{ prod.title }}</b>
                                    </p>
                                {% endif %}
                                <img src="{{ prod.images.0|default:"/static/imgs/noimage-willet.png" }}"
                                    style="text-align: center;
                                           margin: 0 auto;
                                           display: block;
                                           border: 1px silver solid;
                                           padding: 4px;"
                                    width="200" />
                                <p><a href="{{ prod.resource_url }}">
                                    Get this item
                                </a></p>
                            </center>
                        {% endfor %}
                    {% else %}
                        <p>You started a vote a few hours ago.
                           Your friends suggested you to get
                           <b>{{ product.title|default:"this" }}</b>:
                        </p>

                        <img src="{{ product.images.0|default:"/static/imgs/noimage-willet.png" }}"
                             style="text-align: center"
                             width="200" />
                        <p>
                            <a href="{{ product.resource_url }}">
                                Click here to buy it now!
                            </a>
                        </p>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}