{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block left_content %}
    <h1 class="lower-50 center">{{campaign.product_name|escape}}</h1>
    <div class="prepend-top center">
        <p>Store URL:<br/>{{campaign.target_url|escape}}</p>

        <p>Share text:<br />{{campaign.share_text|escape}}</p>

        <a class="call_to_action big" href="/account">Finish</a>
        <div class="edit_button">
            <a class="edit_button" href="/shopify/edit?id={{campaign.uuid}}" title="Edit Campaign">
                <img src="/static/imgs/edit.png" width=20 height=20 />
            </a>
        </div>
    </div>
{% endblock left_content %}

{% block right_head %}
{% endblock right_head %}

{% block right_content %}
    <h1 class="span-15 last lower-75 center">Final Step</h1>

        <div class="prepend-top prepend-1 span-14 last">
            <p>
                It only takes 1 step to empower your store with social referrals!
            </p>
            <p>
                Simply, visit your <a href="{{campaign.target_url}}/admin/payments">'Checkout and Payment'</a> admin panel and add this
                script under the 'Additional Content & Scripts' section. </p>
            <p class="code">
                &lt;script src="{{URL}}/static/js/shopify.js" type="text/javascript" charset="utf-8"&gt;&lt/script&gt;
            </p>
            <p class="tip">
                Note: 'Additional Content & Scripts' is near the bottom of the page, right before 'Policies'!
            </p>
        </div>

{% endblock right_content %}

{% block mixpanelTracking %}
    mpq.push(['track_funnel', 4, 'edit_page']);
{% endblock mixpanelTracking %}
