{% extends "base.html" %}

{% block title %}Updates from Willet!{% endblock %}

{% block content %}
    <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <td valign="top">
                <div style="font-size:100%">
                    <p> Hi {{name}}, </p>
                    <p> Well, Christmas is right around the corner and I bet things are beginning to pick up for you! Here's to
                    a successful holiday season! I wanted to let you know about some updates to our app "Should I Buy This"!</p>
                    </p>
    
                    <h2> Interesting Stats </h2>
                    <p> We're currently installed on over 70 Shopify stores. </p>
                    <p> Each time a customer ask their friends for shopping advice, we're driving (on average) 10 potential
                    customers to your store from Facebook! It's been as high as 50 friends in a few cases!</p>

                    <h2>New Features</h2>
                    <ul>
                        <li> 
                            <b>Button Customization</b> - 
                            Want to change what our button looks like? We've created a great tool to let you fully style the button. Check it out <a
                            href="http://social-referral.appspot.com/s/shopify/{{app_uuid}}/edit">here</a>!
                        </li>
                        <li>
                            <b>Increased Engagement</b> -
                            Our propietary "unsure detection" technology has been improved to offer new methods of engagement. When we detect a customer
                            is unsure, we now have 2 different ways for them to invite their friends!
                        </li>
                        <li>
                            <b>Faster Load Times</b> - 
                            Want our button to load instantly upon a page load without slowing down your site? <em>Email us and
                            we'll set your store up with this new feature!</em>
                        </li>
                        <li>
                            <b>Better Tracking & Analytics</b> - 
                            We're tracking usage, interaction, and engagement so we can further improve our app for your customers. The best part is that 
                            we can share this data with you!
                        </li>
                    </ul>

                    <h2>Upcoming Features</h2>
                    <ul>
                        <li>
                            <b>Analytics For You</b> - We realize that you'd like to know how our app is benefiting your store. Therefore,
                            we're building some reporting for you!
                        </li>
                        <li>
                            <b>Full App Customization</b> - Want to customize more than just our button? We're adding the ability to fully customize 
                        all components of our app!
                        </li>
                        <li>
                            <b>Targetted "Asks"</b> -
                            We're giving your customers the ability to post private messages and emails to certain friends!
                        </li>

                        <li>
                            <b>Incentivized Referrals</b> - 
                            You can encourage your customers to invite their friends to your store by offering a discount on their next purchase. This feature will only
                            be available to a handful of our first stores. <em>If you'd like to try out this feature, please reply
                            to this email and we'll tell you more!</em>
                        </li>
                        <li>
                            <b>Customizable Prompts</b> -
                            Want to choose how aggressive our "unsure detection" technology is? You'll be able to select from a series of options to
                            determine how often your customers are prompted to engage with their friends.
                        </li>
                    </ul>

                    <h2>Feedback</h2>
                    We're striving to create a fantastic app for both you and your customers. We'd love to hear your thoughts! Please email Barbara with 
                    any comments, questions, concerns!

                    <h3>Have a great week, Willet</h3>
				</div>
			</td>
        </tr>
    </table>
{% endblock %}
