{% extends "../../admin/templates/admin_base.html" %}

{% block head %}
    <script type="text/javascript">/*<![CDATA[*//*---->*/;!function () {
        "use strict";
        
        var lazy=function(a,b){b=b||function(){};var c=a.length,d=c,e=document.getElementsByTagName("head")[0],f=function(){--c||b()};while(d-- >0){if(a[d].indexOf("js")!=-1){var g=document.createElement("script");g.src=a[d];g.async=true;g.onload=f;g.onreadystatechange=function(){var a=g.readystate;if(a=="loaded"||a=="complete")f()}}else{c--;var g=document.createElement("link");g.rel="stylesheet";g.type="text/css";g.href=a[d]}e.appendChild(g)}};
        lazy (['http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js',
               'http://ajax.microsoft.com/ajax/jquery.ui/1.8.5/themes/redmond/jquery-ui.css'], function () {
            lazy (['http://ajax.microsoft.com/ajax/jquery.ui/1.8.5/jquery-ui.js'], function () {
                $(document).ready(function () {
                    $('#send').click(function () {
                        $.ajax({
                            url: document.location.href,
                            type: "POST",
                            data: {
                                'version': $('#version').val(),
                                'subject': $('#subject').val(),
                                'body': $('#body').val()
                            }, success: function () {
                                alert ("Taskqueue started!");
                            }, error: function(xhr) {
                                alert ("Fail! " + xhr.statusText);
                            }
                        });
                    });
                });
            });
        });
    }();/*--*//*]]>*/</script>
{% endblock %}

{% block content %}
    <div class="prepend-top span-24 last right_col">
        <div id="right_header" class="span-24 last">
            {% include "../../admin/templates/admin_menu.html" %}
        </div>
    </div>
{% endblock content %}

{% block bottom_content %}
    <div style='padding-top:80px;'><!-- don't make it a form! -->
        <h1>Send emails</h1>
        <table>
            <tr>
                <td>Subject:</td>
                <td><input type="text" id="subject" /></td>
            </tr>
            <tr>
                <td>Message (HTML tags allowed):</td>
                <td><textarea id="body" style="width:100%;height:350px;"></textarea></td>
            </tr>
            <tr>
                <td>Send to owners of SIBT version:</td>
                <td><select id="version">
                        <option>1</option>
                        <option>2</option>
                        <option selected="selected">3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input id="send" type="button" value="Spam ALL customers (!!)" /></td>
            </tr>
        </table>
    </div>
{% endblock bottom_content %}
