{% extends "base.html" %}

{% block title %}The voting is complete!{% endblock %}

{% block content %}
    <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <td valign="top">
                <div style="font-size:110%">
                    <p>Hi {{name}},</p>
                    <p>Your friends were voting on this:</p>

                    <img src="{{product_img}}" style="max-height: 25%; max-width: 25%; text-align: center" />
                    <p>
                        Overall, <strong>{{ buy_it_percentage }}%</strong> said to buy it.
                    </p>
                    <p>
                        <a href="{{ vote_url }}">Check the vote again!</a>
                    </p>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
