{% extends "base.html" %}

{% block title %}Can I Get Your Advice?{% endblock %}

{% block content %}
    <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <td valign="top">
                <div style="font-size:110%">
                    <p> Hi {{ name }}, </p>
                    <p><img alt="Enable images to see this!" src="{{ product_img }}" style="max-height: 25%; max-width: 25%; float: left; margin-left: 10px; margin-right: 10px; padding: 2px; border: 1px solid #FFF;" />{{ message }}</p>
                    <p><a href="{{ vote_url }}">Click here to provide advice</a></p>

                    <p style="font-size: 10px; margin-bottom: 0px; margin-top: 20px;">Email sent from <a href="http://willetinc.com">Willet</a> on behalf of <a href="{{ client_domain }}">{{ client_name }}</a>.</p>
				</div>
			</td>
        </tr>
    </table>
{% endblock %}