{% extends "base.html" %}

{% block title %}The voting is complete!{% endblock %}

{% block content %}
    <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <td valign="top">
                <div style="font-size:110%">
                    <p>Hi {{name}},</p>
                    <p>Your friends were voting on {{ products.0.title }}:</p>

                    <img src="{{ product.images.0|default:"/static/imgs/noimage-willet.png" }}"
                         style="max-height: 25%; max-width: 25%; text-align: center" />
                    <p>
                        <strong>{{ yesses }} out of
                        {{ yesses_and_noes }}</strong> friends said to buy it.
                    </p>
                    {% if product.resource_url %}
                        <table cellspacing="0"
                            cellpadding="0"
                            style="border-collapse:collapse">
                            <tbody>
                                <tr>
                                    <td style="padding:5px;
                                               background-color:#fff9d7;
                                               border-left:1px solid #eecc22;
                                               border-right:1px solid #eecc22;
                                               border-top:1px solid #eecc22;
                                               border-bottom:1px solid #eecc22">
                                        <a href="{{ product.resource_url }}"
                                           style="color:#336699;"
                                           target="_blank">
                                            {% if buy_it %}
                                                Click here to buy it now
                                            {% else %}
                                                Find something else you might like!
                                            {% endif %}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <p>Thank you for creating the vote!</p>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}