{% extends "base.html" %}

{% block title %}A Friend Voted!{% endblock %}

{% block content %}
    <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <td valign="top">
                <div style="font-size:110%">
                    <p> Hi {{name}}, </p>
                    <p> Your friend voted "{{vote_type}}" for the following product:
                    </p>

                    <img alt="Awesome product from {{client_domain}}!" src="{{product_img}}" style="max-height: 25%; max-width: 25%; text-align: center; padding: 2px; border: 1px solid #FFF;" />
                    <p><a href="{{vote_url}}">Visit the product again!</a></p>

                    <p style="font-size: 10px; margin-bottom: 0px; margin-top: 20px;">Email sent from <a href="http://willetinc.com">Willet</a> on behalf of <a href="{{client_domain}}">{{client_name}}</a>.</p>
				</div>
			</td>
        </tr>
    </table>
{% endblock %}
