{% extends "base.html" %}

{% block title %}Your weekly SmartButtons report!{% endblock %}

{% block content %}
<table border="0" cellpadding="10" cellspacing="0" width="100%">
    <tr>
        <td valign="top">
            <div style="font-size:120%; line-height: 46px; margin-bottom: 20px;">
                <img alt="ShopConnection logo"
                     src="http://social-referral.appspot.com/static/imgs/ShopConnection_icon_60x60.png" style="height: 60px; width: 60px; padding: 2px; border: 1px solid #777; margin-right: 10px; float: left;" />
                Your weekly SmartButtons report!
            </div>
            <div style="font-size:110%; margin-left: 70px;">
                <p>Top 10 shared items this week:</p>
                <ol>
                    {% for item in item_shares %}
                        <li>
                            <div>
                                {{item.name}}
                                (Shared {{item.total_shares}} times)
                            </div>
                            <div>
                                {% for network in item.networks%}
                                    <span>
                                        {{network.shares}} x
                                        {{network.network}}
                                        ({{network.percent}}%)
                                    </span>
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ol>
                <p>Top networks this week:</p>
                    {% for item in item_shares %}
                    <li>
                        {{item.network}}
                        (Shared {{item.shares}} times)
                    </li>
                    {% endfor %}
                <ol>
                </ol>
            </div>
            <div>
                <p style="font-size: 10px; margin-bottom: 0px; margin-top: 40px;">Email sent from <a href="http://willetinc.com">Willet</a></p>
            </div>
        </td>
    </tr>
</table>
{% endblock %}