{% extends "base.html" %}

{% block title %}Your weekly SmartButtons report!{% endblock %}

{% block content %}
<table border="0" cellpadding="10" cellspacing="0" width="100%">
    <tr>
        <td valign="top">
            <div style="font-size:150%; font-weight: bold;
            line-height: 66px; margin-bottom: 20px;">
                <img alt="ShopConnection logo"
                     src="{{ willet_url }}/static/imgs/ShopConnection_icon_60x60.png"
                     style="height: 60px; width: 60px; padding: 2px; border: 1px solid #777; margin-right: 10px; float: left;" />
                Your weekly ShopConnection report
            </div>
            <div style="font-size:110%; margin-left: 70px;">
                {% include "smart_buttons_report_content.html" %}
            </div>
            <div style="text-align: right; font-size: 9px;">
                <a
                        href="{{ willet_url }}{% url ButtonsShopifyUnsubscribe %}?uuid={{ uuid }}">
                    Unsubscribe?
                </a>
            </div>
        </td>
    </tr>
</table>
{% endblock %}