{% extends "base.html" %}

{% block title %}The voting is complete!{% endblock %}

{% block content %}
    <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <td valign="top">
                <div style="font-size:110%">
                    <p>Hi {{name}},</p>
                    {% if products %}
                        <p>You started a vote a couple of hours ago. These products tied in score:</p>
                        {% for prod in products %}
                            <img src="{{ prod.images.0|default:"/static/imgs/noimage-willet.png" }}" style="max-height: 25%; max-width: 25%; text-align: center" />
                            <p>
                                <a href="{{ prod.resource_url|default:prod.client.url }}">Buy this item</a>
                            </p>
                        {% endfor %}
                    {% else %}
                        <p>You started a vote a couple of hours ago. Your friends suggested you to buy this:</p>

                        <img src="{{ product.images.0|default:"/static/imgs/noimage-willet.png" }}" style="max-height: 25%; max-width: 25%; text-align: center" />
                        <p>
                            <a href="{{ product.resource_url|default:product.client.url }}">Click here to buy it now!</a>
                        </p>
                    {% endif %}
				</div>
			</td>
        </tr>
    </table>
{% endblock %}
