{% extends "base.html" %}

{% block title %}A Friend Voted!{% endblock %}

{% block content %}
    <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <td valign="top">
                <div style="font-size:110%">
                    <p> Hi {{name}}, </p>
                    <p> Your friend voted for one of your products. Go to <a href="{{cart_url}}">your cart</a> and check which one it is!</p>

                    <p style="font-size: 10px; margin-bottom: 0px; margin-top: 20px;">Email sent from <a href="http://willetinc.com">Willet</a> on behalf of <a href="{{client_domain}}">{{client_name}}</a>.</p>
				</div>
			</td>
        </tr>
    </table>
{% endblock %}
