{% extends "base.html" %}

{% block title %}The voting is complete!{% endblock %}

{% block content %}
    <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <td valign="top">
                <div style="font-size:110%">
                    <p>Hi {{name}},</p>
                    {% if products %}
                        <p>You started a vote a few of hours ago. These products tied in score:</p>
                        {% for prod in products %}
                            <img src="{{ prod.images.0|default:"/static/imgs/noimage-willet.png" }}"
                                 style="text-align: center"
                                 width="200" />
                            <p><a href="{{ prod.resource_url|default:prod.client.url }}">
                                Get this item
                            </a></p>
                        {% endfor %}
                    {% else %}
                        <p>You started a vote a few hours ago. Your friends suggested you to buy this:</p>

                        <img src="{{ product.images.0|default:"/static/imgs/noimage-willet.png" }}"
                             style="text-align: center"
                             width="200" />
                        <p>
                            Buy this item at
                            <a href="{{ product.resource_url|default:product.client.url }}">
                                {{ product.resource_url|default:product.client.url }}
                            </a>
                        </p>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
