/*
-*  Willet Social CSS
-*  Author: Fraser Harris
-*  Copyright Willet Inc, 2011
*/

@import url("/static/css/fonts.css");

/* ------------------------- SECTION POSITIONING ---------------------------- */
/*      This section is only for positioning the header, main and footer      */
html, body {
    height: 100%;
}
body > div#wrap {
    height: auto;
    min-height: 100%;
}
div#main {
    position: relative;
    padding-top: 0;
    padding-bottom: 180px; /* must be same height as the footer + gap */
    
}
div#header {
    /*position: absolute;*/
}
div#header > div {
}
div#footer {
    height: 145px;
    margin-top: -145px;
}
div#footer > div {
    position: relative;
    margin-top: -145px; /* negative value of footer height */
    min-height:20%;
    clear: both;
}

/* ------------------------------ DEFAULTS ---------------------------------- */

html {
    color:#484848;
	background-color: #E8F7FB;
    font-family: 'PT Sans', Arial, sans-serif;
}

body {
    font-size: 62.5%;
}
h1 {
    font-family: 'trebuchet ms', helvetica, sans-serif;
    font-size: 4.0em;
    font-style: italic;
    font-weight: bold;
    color: #474747;
    margin: 0 0 30px 0;
    letter-spacing: -2px;
}

h2 {
    font-family: 'trebuchet ms', helvetica, sans-serif;
    color: #006280;
    font-size: 2.8em;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
    letter-spacing: 0px;
}

h3 {
    font-family: 'trebuchet ms', helvetica, sans-serif;
    font-size: 2.0em;
    letter-spacing: -1px;
}
p, td, ul li {
    font-size: 1.7em;
}
li {
    margin-bottom: 1.0em;
}
p+p {
    text-indent: 0;
}
a, a:link, a:visited {
    font-family: 'PT Sans', Arial, sans-serif;
    color: #056380;
    text-decoration: none;
}
a:hover {
    text-shadow: #474747 1px 1px 1px;
}
a:active {
    color: #B00C0B;
}
ul.bar {
    float: right;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    margin-top: 10px;
}
ul.bar>li {
    float: right;
    display: inline;
}
ul.bar>li.last {
    padding-right: none;
}
ol {
    font-size:1.5em;
}

/* -------------------- GENERALLY USEFUL CLASSES ---------------------------- */

.no_scroll {
    overflow: hidden;
}
.hidden {
    display: none;
}
.lower-5 {
    padding-top: 5px;
}
.lower-10 {
    padding-top: 10px;
}
.lower-15 {
    padding-top: 15px;
}
.lower-25 {
    padding-top: 25px;
}
.lower-50 {
    padding-top: 50px;
}
.lower-75 {
    padding-top: 75px;
}
.lower-100 {
    padding-top: 100px;
}
.lower-150 {
    padding-top: 150px;
}
.indent-20 {
    text-indent: 20px;
}
.indent-40 {
    text-indent: 40px;
}
.indent-60 {
    text-indent: 60px;
}
.center {
    text-align: center;
}
.super {
    vertical-align: text-bottom;
    font-size: 0.9em;
}
.sub {
    vertical-align: text-bottom;
    font-size: 0.9em;
}
.right {
    float: right;
}
.left {
    float: left;
}
.tip {
    border: 1px solid #21847D;
    background: #006280;
    color: white;
    padding: 5px;
}
.code {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background: #EEE;
    color: #222;
    padding: 2px;
}
span.code {
    font-size: 0.9em;
}
p.code {
    font-size: 1.2em;
    text-indent: 0;
    padding: 5px;
}
.code span.purple {
    color: #881280;
}
.code span.brown {
    color: #994500;
}
.code span.blue {
    color: #1A1AA6;
}
.code span.green {
    color: #236E25;
}
.code span.grey {
    color: #555;
}
.code span.black {
    color: #222;
}
.number {
    font-family: "New Courier", Courier, serif;
    font-size: 1.1em;
}
.logout {
    margin-left:10px;
    font-size:.9em;
}
.left_33, .mid_33, .right_33 {
    float: left:
    width: 30%;
}
/* CLEAR FIX*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* ------------------------------ BACKGROUND -------------------------------- */
div#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dcf0f4; /* Old browsers */
    background: -moz-linear-gradient(left, #dcf0f4 0%, #e8f7fb 50%, #dcf0f4 100%); /* FF 3.6+ */
    background: -webkit-linear-gradient(left, #dcf0f4 0%,#e8f7fb 50%,#dcf0f4 100%); /* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(left, #dcf0f4 0%,#e8f7fb 50%,#dcf0f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #dcf0f4 0%,#e8f7fb 50%,#dcf0f4 100%); /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcf0f4', endColorstr='#dcf0f4',GradientType=1 ); /* IE 6-9 */
    background: linear-gradient(left, #dcf0f4 0%,#e8f7fb 50%,#dcf0f4 100%); /* W3C */
}
div#starburst {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
div#starburst>div {
    position: relative;
    top: 0;
    width: 960px;
    margin: 0 auto;
}
div#starburst>div>div {
    width: 1994px;
    height: 975px;
    margin-top: -170px;
    margin-left: -840px;
    background-image: url("/static/imgs/starburst.png");
}

/*--------------------------------- CALL TO ACTION ---------------------------*/

.call_to_action {
    border: 2px solid #FFF;
    padding: 10px 30px 10px 20px;
    max-height: 100px;
    font-size: 0.9em;
    color: #FFF;
    text-align: center;
    text-shadow: none;
    background-image: -moz-linear-gradient(top, #d03f31 14%, #ae0909);
    background-image: -webkit-linear-gradient(top, #d03f31 14%, #ae0909);
    background-image: -ms-linear-gradient(top, #d03f31 14%, #ae0909);
    background-image: -o-linear-gradient(top, #d03f31 14%, #ae0909);
    background-image: linear-gradient(top, #d03f31 14%, #ae0909);
    -pie-background: linear-gradient(top, #d03f31 14%, #ae0909);
    -khtml-box-shadow: 0 0 10px #C0C0C0;
    -o-box-shadow: 0 0 10px #C0C0C0;
    -webkit-box-shadow: 0 0 10px #C0C0C0;
    -moz-box-shadow: 0 0 10px #C0C0C0;
    box-shadow: 0 0 10px #C0C0C0;
    -khtml-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    behavior: ("../js/PIE.htc");
}
.call_to_action.big {
    color: white;
    font-family: 'trebuchet ms', helvetica, sans-serif;
    font-size: 3.0em;
    font-style: italic;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
}
a.call_to_action {
    text-shadow: none;
}
.call_to_action:hover {
    cursor: pointer;
    background-image: -moz-linear-gradient(top, #ae0909 14%, #d03f31);
    background-image: -webkit-linear-gradient(top, #ae0909 14%, #d03f31);
    background-image: -ms-linear-gradient(top, #ae0909 14%, #d03f31);
    background-image: -o-linear-gradient(top, #ae0909 14%, #d03f31);
    background-image: linear-gradient(top, #ae0909 14%, #d03f31);
    -pie-background: linear-gradient(top, #ae0909 14%, #d03f31);
    behavior: ("../js/PIE.htc");
}
a.call_to_action:hover {
    color: #FFF;
}
.call_to_action:active {
    background-image: none;
    background-color: #d03f31;
}
a.call_to_action:active {
    color: #FFF;
}
.call_to_action.secondary {
    border: 2px solid #FFF;
    padding: 10px 20px 10px 20px;
    color: #FFF;
    font-size: 22pt;
    text-align: center;
    background-image: -moz-linear-gradient(top, #cfcaad 14%, #a7a37e);
    background-image: -webkit-linear-gradient(top, #cfcaad 14%, #a7a37e);
    background-image: -ms-linear-gradient(top, #cfcaad 14%, #a7a37e);
    background-image: -o-linear-gradient(top, #cfcaad 14%, #a7a37e);
    background-image: linear-gradient(top, #cfcaad 14%, #a7a37e);
    -pie-background: linear-gradient(top, #cfcaad 14%, #a7a37e);
    -khtml-box-shadow: 0 0 10px #C0C0C0;
    -o-box-shadow: 0 0 10px #C0C0C0;
    -webkit-box-shadow: 0 0 10px #C0C0C0;
    -moz-box-shadow: 0 0 10px #C0C0C0;
    box-shadow: 0 0 10px #C0C0C0;
    -khtml-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    behavior: url("../js/PIE.htc");
    margin-top: -10px;
    height: 60px; /* so it's the same size as primary */
}
div.call_to_action.secondary:hover {
    cursor: pointer;
    background-image: -moz-linear-gradient(top, #a7a37e 14%, #cfcaad);
    background-image: -webkit-linear-gradient(top, #a7a37e 14%, #cfcaad);
    background-image: -ms-linear-gradient(top, #a7a37e 14%, #cfcaad);
    background-image: -o-linear-gradient(top, #a7a37e 14%, #cfcaad);
    background-image: linear-gradient(top, #a7a37e 14%, #cfcaad);
}
div.call_to_action.secondary:active {
    background-image: none;
}
div.call_to_action div.title {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}
div.call_to_action div.subtitle {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

/*--------------------- TWEET TO ACTION --------------------------------------*/

.tweet_to_action {
    border: 2px solid #A4CCE5;
    padding: 8px 8px 8px 8px;
    width: 290px;
    height: 50px;
    position: relative;
    font-size: 0.9em;
    color: #186487;
    font-family: 'trebuchet ms', helvetica, sans-serif; 
    text-align: center;
    text-shadow: none;
    background-color: #E8F3F9;
    background-image: -moz-linear-gradient(top, #FFF 14%, #D5E6EF);
    background-image: -webkit-linear-gradient(top, #FFF 14%, #D5E6EF);
    background-image: -ms-linear-gradient(top, #FFF 14%, #D5E6EF);
    background-image: -o-linear-gradient(top, #FFF 14%, #D5E6EF);
    background-image: linear-gradient(top, #FFF 14%, #D5E6EF);
    -pie-background: linear-gradient(top, #FFF 14%, #D5E6EF);
    -khtml-box-shadow: 0 0 10px #C0C0C0;
    -o-box-shadow: 0 0 10px #C0C0C0;
    -webkit-box-shadow: 0 0 10px #C0C0C0;
    -moz-box-shadow: 0 0 10px #C0C0C0;
    box-shadow: 0 0 10px #C0C0C0;
    -khtml-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    behavior: ("../js/PIE.htc");
}
.tweet_to_action:hover {
    border: 2px solid #53A3D6;
    color: #0B3752;
    cursor: pointer;
    background-color: #D8EBF6;
    background-image: -moz-linear-gradient(top, #FFF 14%, #BFDFED);
    background-image: -webkit-linear-gradient(top, #FFF 14%, #BFDFED);
    background-image: -ms-linear-gradient(top, #FFF 14%, #BFDFED);
    background-image: -o-linear-gradient(top, #FFF 14%, #BFDFED);
    background-image: linear-gradient(top, #FFF 14%, #BFDFED);
    -pie-background: linear-gradient(top, #FFF 14%, #BFDFED);
    behavior: ("../js/PIE.htc");
}
.tweet_to_action:active {
    color: #658A9D;
    border: 2px solid #7AB8DF;
    background-color: #CEE5F4;
    background-image: none;
    -pie-background: none;
    behavior: ("../js/PIE.htc");
}
.tweet_to_action div.title {
    float: left;
    width: 240px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-shadow: 1px 1px white;
}
.tweet_to_action div.subtitle {
    float: left;
    width: 240px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-shadow: 1px 1px white;
}
.tweet_to_action div.title:hover, .tweet_to_action div.subtitle:hover {
    text-shadow: 1px 1px #F5F7F9;
}
.tweet_to_action div.title:active, .tweet_to_action div.subtitle:active {
    text-shadow: 1px 1px #DEECF3;
}
.tweet_to_action div.bird {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 50px;
    height: 50px;
    background-image: url('../imgs/willet_bird_50.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.tweet_to_action:hover div.bird {
    background-position: 0 -50px;
}
.tweet_to_action:active div.bird {
    background-position: 0 -100px;
}

/* -------------------------------- BASE -------------------------------------*/

div#header {
    height: 0;
    width: 100%;
}
div#header>div#white {
    position: absolute;
    top: 0px;
    height:20px;
    width:100%;
    z-index: 1;
    background:#FFFFFF;
}
div#header>div#cloud_bottom {
    position: absolute;
    top: 20px;
    width:100%;
    height:86px;
    background:transparent;
    background: url(/static/imgs/cloud_bottom.png) center top repeat-x;
}

div#header>div#cloud_top {
    position: absolute;
    margin-top: 20px;
    width:100%;
    height:77px;
    z-index: 1;
    background: transparent;
    background: url(/static/imgs/cloud_top.png) center top repeat-x;
}
div#wrap {
}
div#content {
}

div#footer {
    position: relative;
    min-width: 970px;
    width:100%;
}
div#footer>div#sailboat {
    position: absolute;
    top: 70px;
    right: 100px;
    z-index: 4;
    margin-right: 0;
}
div#footer>div#ocean {
    position: absolute;
    top: 0;
    margin: 0;
    min-width: 970px;
    width:100%;
    min-height: 0;
    height:60px;
    background-image: url("../imgs/wave_ocean.png");
    background-repeat: repeat-x;
}
div#footer>div#surf {
    position: absolute;
    top: 20px;
    margin: 0;
    min-width: 970px;
    width:100%;
    min-height: 0;
    height:36px;
    background-repeat: repeat-x;
    background-image: url("../imgs/wave_beach_sand.png");
}
div#footer>div#beach {
    position: absolute;
    top: 56px;
    margin: 0;
    min-width: 970px;
    width:100%;
    min-height: 0;
    height: 144px;
    background-image: url("../imgs/sand.png");
    background-color: #D9D7BF;
}

div#footer button {
    font-size: 0.9em;
    margin-left: -5px;
    margin-top: 10px;
}
.right_col {
    height: 100%;
}
.left_col {
    height: 100%;
    background: #006280;
    padding: 30px 5px 30px 5px;
    -khtml-border-bottom-right-radius: 30px;
    -o-border-bottom-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
    -khtml-border-bottom-left-radius: 30px;
    -o-border-bottom-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    behavior: ("../js/PIE.htc");

    -moz-box-shadow: 0 -5px 5px #222;
    -webkit-box-shadow: 0 -5px 5px #222;
    box-shadow: 0 -5px 5px #222;
}

.left_col h1, .left_col h2, .left_col p, .left_col a {
    color: white;
    text-shadow: #474747 1px 1px 1px;
}

/*******************************************************************************
|                                   PAGES                                      |
|******************************************************************************/

/* ------------------------ LANDING ------------------------------------------*/

img#bird_arrow {
    padding: 0 0 0 50px;
}
img#img1 {
    padding-left: 30px;
    margin: 0;
}
img#img2 {
    margin: 0;
}
img#img3 {
    margin: 20px 0 0 -30px;
}

/* ------------------------ ACCOUNT ------------------------------------------*/

tr.bottom_border td {
    border-bottom: 1px solid grey;
}

/* ------------------------ CODE ---------------------------------------------*/

div.edit_button {
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}
div.edit_button a {
}

/* ------------------------ OTHER ------------------------------------------- */

input[type="text"], textarea {
    color: black;
    font-family: 'PT Sans', Arial, sans-serif;
    max-width: 300px;
    width: 300px;
    height: 24px;
    max-height: 100px;
    padding: 5px;
    border: 1px solid #999;
    font-size: 1.5em;
    margin-right: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.submit {
    left: 130px;
}

.campaign_link {
    font-size: 1.9em;
    width: 100%;
}

.default_label {
    color: white;
    text-shadow: #474747 1px 1px 1px;
    font-size: 1.5em;
    margin-top: 30px;
}

#share_text {
    height: 100px;
}

#get_started {
    width: 910px;
    border-radius: 10px;
}

li {
    background-image: none;
    list-style: none;
}
ul.disc li {
    list-style-type: disc;
}
td{
    text-align: center;
    min-width: 125px;
}
td.title {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 1.6em;
    letter-spacing: -1px;
}

#twitter_foo {
    position: fixed:
    top 500px;
    left: 500px;
    width: 500px;
    height: 700px;
    border-radius: 10px;
}   

#twitter_foo textarea {
    max-width: 500px;
    width: 100%;
    height: 75px;
    border-radius: 10px;
}
.style {
    color: #ae0909;
}

#influencer_title {
    font-size: 1.6em;
}

.influencer {
    background-color: #4747474;
    border-radius: 5px;
    margin-bottom: 1px;
    color: white;
    text-align: center;
    font-size: 1.4em;
}

.influencer a {
    text-shadow: none;
    color: white;
}

.profile_pic {
    height: 30px;
    margin: 5px 0px 0px 0px;
    padding: -10px 0px 0px 0px;
}

.number {
    text-align: center;
    color: black;
    font-family: 'trebuchet ms', helvetica, sans-serif;
    font-size: 1.7em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.smaller_data {
    font-size: 1.3em;
}

.klout_logo {
    height: 15px;
    margin-top: 5px
}

.klout_score {
    color: black;
}

.click_ratio {
    font-size: 1.5em;
}

.clicks {
    font-size: 1.5em;
}

.about {
    font-size: 1.5em;
}

.about .link, .about .link:visited {
    font-size: 1.8em;
    font-family: 'PT Sans', Arial, sans-serif;
    text-decoration: none;
}
.about .link:hover {
    text-shadow: #474747 1px 1px 1px;
}

.role {
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
}
#twitter-preview {
    border-radius: 5px;
}

button {
    font-style: normal;
    letter-spacing: 0px;
    border: 2px solid #FFF;
    padding: 5px 5px 5px 5px;
    font-size: 1.7em;
    color: #FFF;
    text-align: center;
    background-image: -moz-linear-gradient(top, #d03f31 14%, #ae0909);
    background-image: -webkit-linear-gradient(top, #d03f31 14%, #ae0909);
    background-image: -ms-linear-gradient(top, #d03f31 14%, #ae0909);
    background-image: -o-linear-gradient(top, #d03f31 14%, #ae0909);
    background-image: linear-gradient(top, #d03f31 14%, #ae0909);
    -pie-background: linear-gradient(top, #d03f31 14%, #ae0909);
    -khtml-box-shadow: 0 0 10px #C0C0C0;
    -o-box-shadow: 0 0 10px #C0C0C0;
    -webkit-box-shadow: 0 0 10px #C0C0C0;
    -moz-box-shadow: 0 0 10px #C0C0C0;
    box-shadow: 0 0 10px #C0C0C0;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: ("../js/PIE.htc");
}
button:hover {
    cursor: pointer;
    background-image: -moz-linear-gradient(top, #ae0909 14%, #d03f31);
    background-image: -webkit-linear-gradient(top, #ae0909 14%, #d03f31);
    background-image: -ms-linear-gradient(top, #ae0909 14%, #d03f31);
    background-image: -o-linear-gradient(top, #ae0909 14%, #d03f31);
    background-image: linear-gradient(top, #ae0909 14%, #d03f31);
    -pie-background: linear-gradient(top, #ae0909 14%, #d03f31);
    behavior: ("../js/PIE.htc");
}
button:active {
    background-image: none;
    background-color: #d03f31;
}

.landing {
    font-size: 1.2em;
}

.landing .number {
    margin-top: 6px;
}

#right_header {
    position: relative;
    z-index: 2;
    float: right;
}
#right_header p {
    float: right;
    padding-left: 20px;
}

/* EDIT PAGE STUFF */
#blurb_iframe_container {
    width:372px;
    height:99px;
    overflow:hidden;
    margin:auto;
}

#blurb_iframe_container iframe {
    width: 372px;
    height:99px;
 }

#share_iframe_container {
    width:372px;
    height:246px;
    overflow:hidden;
    margin:auto;
}

#share_iframe_container iframe {
    width: 372px;
    height:500px;
 }
