{% extends "../../../plugin/templates/ask.html" %}

{% block styles %}{% endblock styles %}

{% block screens %}
    <!--                          Splash Screen                             -->
    <div id="splash">
        <div class="title_bar">
            <img alt="logo" src="/static/plugin/imgs/blue_logo_shdw_50x60.png" />
            <div>Need Help Deciding? Ask Your Friends</div>
        </div>
        <div class="content narrow">
            <div class="message" id="message">
                <img alt="product" src="{{ product_images|first }}" />
                <textarea id='shareText'>I like this, but...</textarea>
                <div class="detailed">Hint: detailed questions get better answers</div>
            </div>
            <div class="options">
                <div class="option left">
                    <div class="button" id="postOnWall" title="Post to your wall">
                        <img alt="friends" src="/static/sibt/imgs/friends_green_bg_60x40.png" />
                        <div class="title">Ask Friends</div>
                        <div class="subtitle">Post to Facebook</div>
                    </div>
                    <div class="hint">
                        <img alt="hint arrow" src="/static/sibt/imgs/little_arrow.png" />
                        <div>easy &amp; fast</div>
                    </div>
                </div>
                <div class="or">or</div>
                <div class="option right">
                    <div class="button" id="showChooseScreen" title="Post to your friends' walls">
                        <img alt="friend" src="/static/plugin/imgs/happy_face.png" />
                        <div class="title">Choose Friends</div>
                        <div class="subtitle">Get trusted advice</div>
                    </div>
                    <div class="hint">
                        <img alt="hint arrow" src="/static/sibt/imgs/little_arrow.png" />
                        <div>best advice</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock screens %}

{% block js_globals %}{% endblock js_globals %}

{% block ajax_methods %}
    // Sends analytic data point to server
    var storeAnalytics = function(evnt) {
        var payload = {
            evnt: evnt,
            instance_uuid: '',
            app_uuid: '{{ app_uuid }}',
            user_uuid: '{{ user_uuid }}',
            target_url: '{{ target_url }}'
        };
        $.ajax({
            url      : "{{ URL }}{% url TrackSIBTUserAction %}",
            dataType : 'json',
            data     : payload,
            type     : 'post',
            success  : function (response) {
                return;
            }
        });
    };

    // Initiates an instance of your app on the server
    var startPartialInstance = function() {
        // Note: Only used for non-Facebook Connect (ie: using FB dialog)
        var payload = { app_uuid     : "{{ app_uuid }}",
                        user_uuid    : "{{ user_uuid }}",
                        product_uuid : "{{ product_uuid }}",
                        willt_code   : "{{ willt_code }}" };
        $.ajax({
            url      : "{{ URL }}{% url StartPartialSIBTInstance %}",
            type     : 'post',
            dataType : 'json',
            data     : payload,
            success  : function (tr) {
                return;
            }
        });
    };

    // Sends information to server to ask friends & handles response
    var sendMessages = function() {
        var payload, friend_info, asker_info,
            msg   = $("#shareText").val(),
            error = false;

        // Gather up friend info, recording if a friend has an error
        friend_info = getFriendsInfo(); // either null or [...]

        // Gather asker info
        asker_info = asker.getAskerInfo(); // either null or [...]

        console.log('Asker: '+asker_info+' Friends: '+friend_info+' Error:'+error);

        if (friend_info && friend_info.length > 0 && asker_info && asker_info.length > 1) {
            // Clean up UI to show loader gif
            showScreen('asking');

            // No errors with friends, submit!
            var payload = {
                user_name       : "{{user_name}}",
                user_uuid       : "{{user_uuid}}",
                app_uuid        : "{{app_uuid}}",
                product_uuid    : "{{product_uuid}}",
                fb_access_token : fbAccessToken,
                fb_id           : fbIdentity,
                friends         : JSON.stringify(friend_info), // jQuery can't handle complex objects, make it string
                asker           : JSON.stringify(asker_info),
                msg             : msg,
                default_msg     : "{{AB_share_text|escape}}",
                willt_code      : "{{willt_code}}"
            };

            $.ajax({
                url: "{{ URL }}{% url SendFriendAsks %}",
                type: 'post',
                dataType: 'json',
                data: payload,
                statusCode: {
                    200: function () { // Success
                        updateEmailAddress();
                        showScreen('success');
                    },
                    400: function (resp, status) {
                        showScreen('failure');
                    },
                    401: function (resp, status) {
                        showScreen('failure');
                    },
                    500: function () {
                        showScreen('failure');
                    }
                }
            });
        }
    };
{% endblock ajax_methods %}

{% block js_functions %}{% endblock js_functions %}

{% block js_init %}
    showScreen('splash');
{% endblock js_init %}