<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Shu Uemura - Ask a Friend</title>
        <link rel='icon' href='http://www.shuuemura-usa.com/favicon.ico' />

        <!-- Blueprint CSS -->
        <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print" />
        <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
        <!-- link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css" media="screen" / -->

        <!-- Scripts -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript">
        if (typeof jQuery == 'undefined'){
            document.write(unescape("%3Cscript src='/static/js/jquery.min.js' type='text/javascript' charset='utf-8' %3E%3C/script%3E"));
        }
        </script>
        <!-- script src="/static/js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script -->


        {% block head %}{% endblock head %}
    </head>
    <body>
        <div id="background"></div>
        <!-- div id="starburst"><div><div></div></div></div -->

        <div id='wrap'>
            <div id='main' class='container'>
                <div class="span-24 append-bottom last">
                    {% block content %}
                    <div class="span-8 left_col">
                        {% block left_content %}
                        {% endblock left_content %}
                    </div>
                    <div class="prepend-top span-15 last right_col">
                        <div id="right_header" class="span-15 last">
                            {% block right_head %}{% endblock right_head %}
                        </div>

                        {% block right_content %}

                        {% endblock right_content %}
                    </div>
                    {% endblock content %}
                </div>
                <div class="lower-50 span-24 append-bottom last">
                    {% block bottom_content %}
                    {% endblock bottom_content %}
                </div>
            </div>
        </div>
        <!-- END CONTENT -->

        <!-- FOOTER -->
        <div id='footer' class='stripe'>
            <div class='container'>
                <div class="prepend-top span-24 last">
                    <div class="prepend-1 span-5 lower-50" style="font-size: 1.4em">
                        <!-- a href="/">Home</a> <br />
                        <a href="/about">About / Contact Us</a> <br />
                        <button href="#chat" onclick="return SnapABug.startChat(false);">Chat With Us</button -->
                    </div>
                    <div class="prepend-2 span-8 lower-50 center">
                        <!-- h1 style="margin-bottom: 15px;"><a href="/">{{NAME}}</a></h1 -->
                    </div>
                    <div class="prepend-2 span-6 lower-75 last center" style="margin-top: 5px;">
                        <!-- p>Copyright &copy; 2011 <a href='http://www.getwillet.com'>Willet Inc</a></p>
                        <a href="http://mixpanel.com/f/partner"><img style="margin-top: -25px" src="http://mixpanel.com/site_media/images/partner/badge_blue.png" alt="Web Analytics" /></a -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- Preload these images -->
        <div class='hidden'>
        {% block hidden %}{% endblock %}
        </div>

       <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23764505-9']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>

         <!-- Late loading scripts -->
        {% block lazyload %}{% endblock %}

    </body>
</html>