{% extends "vote-base.html" %}

{% block left_screens %}
    <div class="choice blob">
        <div class="title">
            Which one should <b>{{asker_name}}</b> get?
        </div>
        <div class="center">
            {% for product in products %}
                <button class="button vote" data-uuid="{{ product.uuid }}">
                    {{ product.title }}
                </button>
            {% endfor %}
            <div id="error_bar"></div>
        </div>
    </div>
    <div id="success_message" class="hidden blob">
        <div class="title">Thanks for voting!</div>
        {% for product in products %}
            <h4 id="why-{{ product.uuid }}" class="hidden">
                Tell {{asker_name}} why you voted for <i>{{ product.title }}</i>.
            </h4>
        {% endfor %}
        <div id="fb-root"></div>
        <div id="FOO" class="fb-comments hidden" data-href="{{fb_comments_url}}" data-num-posts="5" data-width="375"></div>
    </div>
{% endblock left_screens %}

{% block right_screens %}
    <div id="product_screen">
        <table>
            {% for product in products %}
            <tr>
                <td>
                    <h2 class="title">
                        <a href='{{ product.resource_url|default:"#" }}'>{{ product.title }}</a>
                    </h2>
                    <img alt="product image" src="{{ product.images.0 }}" class="slight-highlight product-image" />
                    <div class="description">
                    {{ product.description|linebreaksbr|striptags }}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock right_screens %}

{% block body_script %}
    $(document).ready(function () {
        var vote = function () {
            var product_uuid = $(this).data('uuid');
            if (product_uuid) {
                var payload = {
                    "user_uuid" : "{{ user_uuid }}",
                    "instance_uuid" : "{{ instance_uuid }}",
                    "product_uuid" : product_uuid
                };
                $.ajax({
                    url: "{{ URL }}{% url DoVote %}",
                    type: 'post',
                    data: payload,
                    success: function () {
                        $(".choice, #product_screen").hide();
                        $("#discount_screen, #success_message, #why-" + product_uuid + ", #FOO").show();

                        // get the discount code.
                        $.ajax({
                            url: "{% url DispenseClientDiscountCode %}",
                            data: {
                                'client_uuid': "{{ client_uuid }}",
                                'store_url': "{{ store_url }}"
                            },
                            type: 'post',
                            dataType: 'text',
                            success: function (data) {
                                $("#discount_code").val(data || "We're out!");
                            }
                        });
                        fbinit (document, 'script', 'facebook-jssdk');
                    },
                    error: function () {
                        $(".choice").hide();
                        $("#error_message").show();
                    }
                });
            } else {
                showError("Please select a product :)");
            }
        };
        $('.vote').click(vote);
        $('#cart_items_display input').prop('checked', false);
    });
{% endblock body_script %}