{% extends "vote-base.html" %}

{% block left_screens %}
    <div class="choice blob">
        <div class="title">
            Should <b>{{asker_name}}</b> get this?
        </div>
        <div class="center">
            <button class="button" id="yes">Yes</button>
            <button class="button" id="no">No</button>
        </div>
    </div>
    <div id="success_message" class="hidden blob">
        <div class="title">Thanks for voting!</div>
        <h4 class="yes">
            Tell {{asker_name}} why you voted YES.
        </h4>
        <h4 class="no">
            Tell {{asker_name}} why you voted NO.
        </h4>
        <div id="fb-root"></div>
        <div id="FOO" class="fb-comments hidden" data-href="{{fb_comments_url}}" data-num-posts="5" data-width="375"></div>
    </div>
{% endblock left_screens %}

{% block right_screens %}
    <div id="product_screen">
        <h2><a href="{{ product_url }}">{{ product.title }}</a></h2>
        <img id="product_img" src="{{ product_img }}" />
        <div id="right-div" class="description">
            {{ product.description }}
        </div>
    </div>
{% endblock right_screens %}

{% block body_script %}
    $(document).ready(function () {
        var vote = function (which) {
            $.ajax({
                url: "{% url DoVote %}",
                type: 'post',
                data: {
                    instance_uuid : "{{instance.uuid}}",
                    which : which
                },
                success: function (tr) {
                    $(".choice, #product_screen").hide();
                    $("#discount_screen, #success_message, #success_message h4." + which + ", #FOO").show();

                    // get the discount code.
                    $.ajax({
                        url: "{% url DispenseClientDiscountCode %}",
                        data: {
                            'client_uuid': "{{ client_uuid }}",
                            'store_url': "{{ store_url }}"
                        },
                        type: 'post',
                        dataType: 'text',
                        success: function (data) {
                            $("#discount_code").val(data || "We're out!");
                        }
                    });
                    fbinit (document, 'script', 'facebook-jssdk');
                },
                error: function () {
                    $(".choice").hide();
                    $("#error_message").show();
                }
            });
        };
        $('.choice button').click(function () {
            vote (this.id); // click button = vote
        });
    });
{% endblock body_script %}