{% extends "base.html" %}

{% block head %}
    <style>
        p {
            text-indent: 0px;
        }
    </style>
{% endblock head %}

{% block content %}
    <div class="prepend-top span-24 center last lower-100">
        <div class="prepend-1 span-12 append-1" style="text-align: left; background-color: #FAFAFA;">
            <h3 class="center lower-25">Your order</h3>
            <p> The following items were included in this shipment: </p>
            <div class="prepend-1 span-7">
                <ol>
                    <li>1 Official Book Of Hanjie</li>
                    <li>1 Paint-doku</li>
                    <li>1 More O'Ekaki: Paint by Number</li>
                </ol>
            </div>
            <div class="span-3 append-1 last" style="text-align:right">
                <ul>
                    <li>$9.43</li>
                    <li>$11.66</li>
                    <li>$11.66</li>
                </ul>
            </div>
            <hr />
            <div class="prepend-1 span-7">
                <ul> 
                    <li>Item Subtotal:</li>
                    <li>Shipping and handling:</li>
                    <li>Total Tax:</li>
                    <li>GST:</li>
                    <li>PST:</li>
                    <li>Total:</li>
                    <li>Paid by Visa:</li>
                </ul>
            </div>
            <div class="span-3 append-1 last" style="text-align:right">
                <ul>
                    <li>$32.75</li>
                    <li>$0.00</li>
                    <li>$1.63</li>
                    <li>$1.63</li>
                    <li>$0.00</li>
                    <li>$34.38</li>
                    <li>$34.38</li>
                </ul>
            </div>
            <hr />
            <p>
                This shipment was sent via UPS to:
            </p>
            <ul>
                <li>Snoopy the Dog</li>
                <li>9 Privett Drive</li>
                <li>Little Whinging, UK</li>
            </ul>
            <p>
                For your reference, the number you can use to track your package 
                is 1Z8WW102032668. You can refer to our Web site's Help page or:
                http://www.mystore.ca/wheres-my-stuff/ to retrieve current tracking 
                information. Please note that tracking information might not be 
                available immediately.
            </p>
            <h2 class="center"> Thank you for shopping with us! </h2>
        </div>
        <div class="span-9 last">
            <iframe allowtransparency="true" frameborder="0" scrolling="no" src="{{ BASE_URL }}/r/shopify/load/referral?store_id={{ LANDING_CAMPAIGN_STORE }}" style="width:389px; min-height:
            350px;"> </iframe>
        </div>
    </div>
{% endblock content %}
