{% extends "base.html" %}

{% block title %}Willet Social has results for you!{% endblock %}

{% block content %}
    <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <td valign="top" >
                <div >
                    <p> Congratulations for using Willet Social! Willet gives you unparalleled insight into your users' social value!</p>
                    <p><strong> You've had 10 people Tweet since adding our widget to your site! </strong></p>
                    <p> Visit <a href="http://www.wil.lt/campaign?id={{campaign_id}}">your custom results page</a> to view your first 10 Tweeters!  </p>
                    <br />

                    <p>If you haven't done so already, please tweet about <a href="http://www.wil.lt">Willet Social</a> on our main <a href="http://www.wil.lt"> website</a>.</p>
                    <br />
                    <p> Have questions about Willet Social? Just reply to Barbara at <a href="mailto:Barbara@wil.lt">Barbara@wil.lt</a></u>.</p>
                    <p> -- The Willet Team (Fraser, Barbara, & Sy) </p>
				</div>
			</td>
        </tr>
    </table>
{% endblock %}

