{% extends "base.html" %}

{% block snapabug %}{% endblock snapabug %}

{% block head %}{% endblock head %}

{% block content %}
    <div style="text-align:center;margin-top: 180px; font-size: 1.6em;">
        <img src="/static/imgs/logo.png" width="160px" />
        <h2>Turn Browsers into Shoppers.</h2>
    </div>

    <div style="text-align:center;">
        <p> <br />
            Try our app: <br />
            <a href="/b/shopify/beta"><img alt="ShopConnection"
                                           src="/static/imgs/ShopConnectionLogo.png"
                                           style="width:310px;height:310px;padding:15px;" /></a>
        </p>
        <h1><a href="http://www.willetinc.com/" style="color: #fce8e3; margin-top: 25px;" class="new_call_to_action">Learn More</a></h1>
    </div>
{% endblock content %}

{% block bottom_content %}{% endblock bottom_content %}

{% block lazyload %}{% endblock lazyload %}