{% extends "base.html" %}

{% block head %}
    <script src="http://svpply.com/api/all.js#xsvml=1" type="text/javascript"></script>
    
    <script src="http://platform.tumblr.com/v1/share.js" type="text/javascript"></script>
    
    <style>
        input[type='text'], textarea {
            width: 75%;
            margin-bottom: 5px;
        }
        div button {
            position: relative;
            top: -1px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            var site = $('#site');
            var site_input = $('#site_input');
            var install_link = $('#install_link');
            var install_url = $('#install_url');
            var input_default = $('#input_default');
            
            var setDefault = function() {
                site_input.css('color', 'grey');
                site_input.val(input_default.val());
            }
            var update = function() {
                var val = site_input.val();
                var pos = val.search('.myshopify.com');
                if (pos != -1) {
                    // user entered storename.myshopify.com into the input
                    var temp = val.substr(0, pos); 
                    site_input.val(temp)
                }
                site.html(site_input.val());
                install_link.attr('href', install_link.text());
            }
            site_input.keypress(function() {
                update();
            }).keyup(function() {
                update(); 
            }).keydown(function() {
                update(); 
            }).focus(function() {
                if (site_input.val() == input_default.val()) {
                    site_input.val('');
                }
                site_input.css('color', 'black');
            }).blur(function() {
                if (site_input.val() == '' || site_input.val() == input_default.val()){
                    setDefault();
                }
            });
            $('#do_install').click(function() {
                window.location = install_link.attr('href'); 
            });
            setDefault();

            var button_div = document.getElementById('_willet_buttons_app' );

            button_div.style = "float: left; height:30px; width: 205px;";

            // Tumblr
            var a = document.createElement( 'a' );
            var style = "display:inline-block; text-indent:-9999px; " +
                        "overflow:hidden; width:63px; height:20px; " + 
                        "background:url('http://platform.tumblr.com/v1/" + 
                        "share_2.png') top left no-repeat transparent; float: left; margin-top: 3px;" 
            $(a).attr( 'href', 'http://www.tumblr.com/share' );
            $(a).attr( 'title', "Share on Tumblr" );
            $(a).attr( 'style', style);
            $(a).html = "Share on Tumblr";
            button_div.appendChild( a );
        });
    </script>
{% endblock head %}

{% block content %}

    <h1 class="span-24 last lower-100 center">ShopConnection</h1>

    <div class="prepend-4 span-6">
        <img src="/static/imgs/ShopConnectionLogo.png" width="250px" />
    </div>
    <div class="prepend-1 span-11 last">
        <p class="span-11 last">Get these terrific product sharing tools for your store!

            <div id="_willet_buttons_app" style="background-color: white; border-radius: 10px; margin-left: 110px; padding: 5px;height:28px; width: 195px;"> 
                <div style="float: left; margin-top: 3px; margin-right: 5px; width: 70px !important;"> 
                    <sv:product-button type="boxed"></sv:product-button> 
                </div> 
                <div style="float: left; margin-right: 5px; width: 50px !important;">
                    <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fmonahan-braun4718.myshopify.com%2Fproducts%2Fposter&media=http%3A%2F%2Fstatic.shopify.com%2Fs%2Ffiles%2F1%2F0104%2F0742%2Fproducts%2Fpixel_poster_halloween_full_large.jpg%3F85&description=A%20really%20swanky%20poster!" class="pin-it-button" count-layout="horizontal">Pin It</a>
                    <script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>

                </div>
            </div>
        </p>
        <p class="span-11 append-bottom last">
            Try out the buttons for yourself!
            <br /><br />
            Buttons can be placed anywhere on your product page. 
            <br /><br />
            Installation takes two minutes and we're here to support you at every step!
        </p>
    </div>
    <p class="span-15 last center">
        The buttons can be placed anywhere on your product page. 
        <br /> 
        Installation takes two minutes and we're here to support you at every step!
    </p>

    <div class="about prepend-top append-bottom span-24 last center">
        <div>
            <input type="hidden" id="input_default" value="your store name" />
            Enter <input type="text" id="site_input" value="Your store name" />.myshopify.com
            <button id="do_install">Install Now</button>
        </div>
    </div>
    
    <div class="about prepend-top append-bottom span-24 last center">
        or copy your install url manually:<br />
        <div id="install_url">
            <a id="install_link" href="">https://<span id="site">your site</span>.myshopify.com/admin/api/auth?api_key={{SHOPIFY_API_KEY}}</a>
        </div>
    </div>
{% endblock content %}
