{% extends "base.html" %}

{% block head %}
<style>
    .shopconnection-header {
        height: 62px;
        margin: 10px 0;
    }
    .shopconnection-header img {
        border: 1px solid #93BC8B;
        border-radius: 10px;
        width: 60px;
        height: 60px;
        float: left;
    }
    .shopconnection-header h3 {
        color: #0496AC;
        text-shadow: 1px 1px 1px #FFF;
        line-height: 2em;
        padding-left: 90px;
        margin: 0;
    }
    .box-design {
        background-color: #fff;
    }
    .box-design form {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.5em;
    }

    #config-free {
        display: block;
    }

    .config-option, .submit {
        clear: both;
    }

    .config-option {
        display: block;
    }

    .config-option .left-column {
        display   : inline-block;
        text-align: right;
        width     : 200px;
    }

    input {
        display: inline;
    }

    .buttons {
        height: 40px;
    }

    .buttons label, .buttons span {
        position: relative;
        top: -9px;
    }

    .buttons label.disabled {
        color: #aaa;
    }

    .submit {
        text-align: center;
    }

    #unused-buttons, #default-buttons {
        list-style-type: none;
        margin: 0;
        display: inline-block;
        height: 20px;
        padding: 2px 2px 4px 2px;
        min-width: 100px;
        border: 1px dashed #aaa;
    }

    #default-buttons li, #unused-buttons li {
        display: inline-block;
    }

    .icon span {
        display: none;
    }

    .icon {
        height: 20px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        padding: 1px;
    }

    .icon.Facebook {
        background-image: url('/static/imgs/sb-config-facebook.png');
        width: 48px;
    }

    .icon.Twitter {
        background-image: url('/static/imgs/sb-config-twitter.png');
        width: 56px;
    }

    .icon.GooglePlus {
        background-image: url('/static/imgs/sb-config-googleplus.png');
        width: 32px;
    }

    .icon.Svpply {
        background-image: url('/static/imgs/sb-config-svpply.png');
        width: 70px;
    }

    .icon.Fancy {
        background-image: url('/static/imgs/sb-config-fancy.png');
        width: 56px;
    }

    .icon.Pinterest {
        background-image: url('/static/imgs/sb-config-pinterest.png');
        width: 43px;
    }

    .icon.Tumblr {
        background-image: url('/static/imgs/sb-config-tumblr.png');
        width: 62px;
    }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"
        type="text/javascript"></script>
<script>
    $(document).ready(function(){
        var MAX_BUTTONS = 3,
            update_networks = function() {
                var networks = [];
                $("#default-buttons > li").each(function(index, item){
                    networks.push($(item).text().trim());
                });
                $("input[name='button_order']").val(networks.join(","));
            };

        $("#default-buttons, #unused-buttons").sortable({
            connectWith: ".connectedSortable",
            update: function(event, ui) {
                update_networks();
            },
            over: function (event, ui) {
                if ($("#default-buttons > li").length > MAX_BUTTONS) {
                    $(ui.sender).sortable('cancel');
                    update_networks();
                }
            }
        }).disableSelection();
    });
</script>
{% endblock %}

{% block header-class %}tall{% endblock %}

{% block content %}
<div class="span-24 last shopconnection-header">
    <img src="/static/imgs/ShopConnection_icon_60x60.png" />
    <h3>{{ message }}</h3>
</div>

<div class="prepend-top span-24 last box-design content-container">
    <h1>ShopConnection Configuration</h1>

    <div class="prepend-top prepend-3 span-18 append-3 append-bottom last">
        <div class="box-design">
            <form method="POST" action="{{ action }}">
                <div id="config-free">
                    <div class="config-option buttons">
                        <label for="default-buttons" class="left-column">
                            Default Buttons:
                        </label>
                        <ul id="default-buttons" class="connectedSortable">
                            {% for button in button_order %}
                            <li class="icon {{ button }}">
                                <span>{{ button }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        <span>(Max: 3)</span>
                    </div>
                    <div class="config-option buttons">
                        <label for="unused-buttons"
                               class="left-column disabled">
                            Available Buttons:
                        </label>
                        <ul id="unused-buttons" class="connectedSortable">
                            {% for button in unused_buttons %}
                            <li class="icon {{ button }}">
                                <span>{{ button }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="config-option" style="height: 40px;">
                        <label for="button-count"
                               class="left-column">
                            Show Button Count:
                        </label>
                        <input id="button-count" name="button_count"
                               type="radio"
                               value="True"
                               {% if button_count %}checked{% endif %}/>
                        <label for="button-count">Show</label>
                        <input id="no-button-count" name="button_count"
                               type="radio"
                               value="False"
                               {% if not button_count %}checked{% endif %}/>
                        <label for="no-button-count">Hide</label>
                    </div>
                    <div class="config-option">
                        <label for="button-spacing" class="left-column">
                            Button Spacing:
                        </label>
                        <input id="button-spacing" name="button_spacing"
                               type="text" value="{{ button_spacing }}"
                               style="width: 50px;"/>px
                    </div>
                    <div class="config-option">
                        <label for="button-padding" class="left-column">
                            Button Padding:
                        </label>
                        <input id="button-padding" name="button_padding"
                               type="text" value="{{ button_padding }}"
                               style="width: 50px;"/>px
                    </div>
                    <div class="config-option">
                        <label for="sharing-message" class="left-column">
                            Sharing Message:
                        </label>
                        <input id="sharing-message" name="sharing_message"
                               type="text" value="{{ sharing_message }}"/>
                        (for Twitter and Pinterest)
                    </div>
                </div>
                <div class="submit">
                    <input type="hidden" name="button_order"
                           value='{{ button_order|join:"," }}' />
                    <button class="blue">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}