{% extends "base.html" %}

{% block head %}
    <style>
        .pricing-col {
            height: 430px;
            margin: 20px 0;
            background-color: white;
            position: relative;
            color: #444;
            background-color: #FFF;
            text-shadow: rgba(210, 210, 210, 0.296875) 1px 1px 0px;
        }
        .pricing-col ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        .pricing-col>ul {
            padding: 35px;
        }
        .pricing-col>ul>li {
            padding: 0;
        }
        .pricing-col li {
            margin: 0 0 10px 0;
            font-size: 1.3em;
        }
        .pricing-col li.title {
            letter-spacing: 0.05em;
            font-size: 1.8em;
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;
        }
        .pricing-col li.price {
            font-size: 2.2em;
            text-align: center;
            margin-bottom: 15px;
        }
        .pricing-col span.dollar {
            font-size: 0.7em;
            vertical-align: text-top;
        }
        .pricing-col span.per-month {
            font-size: 0.7em;
            vertical-align: text-bottom;
        }
        /*.pricing-col li.subtitle {
            font-size: 1.6em;
            text-align: center;
            margin-bottom: 20px;
        }*/
        .pricing-col li.features ul {
        }
        .pricing-col li.features li {
            text-align: left;
            padding-left: 35px;
            position: relative;
        }
        .pricing-col li.features li::before {
            content: '✓';
            font-family: Helvetica, sans-serif;
            display: block;
            font-size: 20px;
            color: green;
            position: absolute;
            top: 0;
            left: 0;
        }
        /*.pricing-col li.features li:first-child {
            text-align: center;
            padding-left: 0;
            font-weight: bold;
        }
        .pricing-col li.features li:first-child::before {
            display: none;
        }*/
        .pricing-col li.features li.not-included {
            color: #B8B8B8;
        }
        .pricing-col li.features li.not-included::before {
            content: '✗';
            color: #B8B8B8;
        }
        .pricing-col li.features li.blank {
            visibility: hidden;
        }
        .pricing-col li.features li.blank::before {
            content: '';
        }
        .pricing-col li.features a {
            font-size: 0.9em;
            border-bottom: 1px dotted #056380;
        }
        .pricing-col div.call-to-action {
            position: absolute;
            bottom: 25px;
            width: 100%;
        }
        .pricing-col div.call-to-action>div {
            margin: 0 auto;
        }
        .pricing-col .narrow {
            width: 100px;
        }
        .pricing-col .wide {
            width: 190px;
        }
        .pricing-col button {
            text-align: center;
        }
        .explanation-col p {
            font-size: 1.5em;
            margin-top: 40px;
            text-align: justify;
        }
        .faq {
            background-color: #FFF;
        }
        .faq ul {
            padding: 10px 0;
        }
        .faq li+li {
            margin-top: 30px;
        }
        .faq li h4 {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }
        .faq li p {
            color: #555;
            font-size: 1.0em;
        }
        .faq li h4, .faq li p {
            text-align: left;
            padding-left: 35px;
            position: relative;
        }
        .faq li h4::before {
            content: 'q';
            font-family: Helvetica, sans-serif;
            display: block;
            font-size: 20px;
            color: #066D99;
            position: absolute;
            top: -5px;
            left: 0;
        }
        .faq li p::before {
            content: 'a';
            font-family: Helvetica, sans-serif;
            display: block;
            font-size: 20px;
            color: #088EC8;
            position: absolute;
            top: 0;
            left: 0;
        }

        /*----------------------------  ONE-OFFS ---------------------*/

        .shopconnection-logo {
            border: 1px solid #FFF;
            border-radius: 10px;
            width: 60px;
            height: 60px;
            float: left;
        }
        .hi-shop-owner {
            color: #0496AC;
            text-shadow: 1px 1px 1px #FFF;
            line-height: 2em;
            padding-left: 90px;
        }
        .seal {
            width: 95px;
            height: 45px;
            background-image: url('/static/imgs/gold_seal_125x125.png');
            padding: 40px 15px;
            position: absolute;
            top: -20px;
            right: -20px;
            font-size: 1.2em;
            font-weight: bold;
            line-height: 14px;
            text-align: center;
        }
        .under-wave {
            position: relative;
        }
        .under-wave>img {
            position: absolute;
            bottom: -4px;
            left: -4px;
        }
        li span.coming-soon {
            font-style: italic;
            color: #777;
        }
    </style>
{% endblock head %}

{% block content %}
		<div class="lower-10 span-24 last
                    right_col installation-steps">
            <div class="prepend-2 span-5 append-1 append-bottom"> 1. Register Store </div>
            <div class="prepend-1 span-5 append-1 append-bottom on-this-step"> 2. Pick a version </div>
            <div class="prepend-1 span-6 append-1 append-bottom last"> 3. Setup ShopConnection </div>
        </div>

        <div class="lower-50 span-24 last">
            <img class="shopconnection-logo" src="/static/imgs/ShopConnection_icon_60x60.png" />
            <h3 class="hi-shop-owner">{{shop_owner}}, thanks for installing ShopConnection.<br />
                                      Please choose which version is right for your store:
            </h3>
        </div>

        <div class="prepend-top span-24 last
                    box-design content-container" >
            <h1>Grow Your Business By Increasing Your Stores Sharing</h1>
            <h3>For a limited time, Smart ShopConnection is free for 15 days. Upgrade, downgrade, or cancel anytime.</h3>

            <div class="prepend-top prepend-1 span-22 append-1 append-bottom last">
        		<div class="span-9 
                            pricing-col box-design">
        			<ul>
                        <li class="title">ShopConnection</li>
                        <li class="price">Free</li>
                        <li class="features">
                            <ul>
                                <li>Social buttons - <i>Pinterest, etc</i></li>
                                <li>Simple installation with support</li>
                                <li class="not-included">Personalized sharing</li>
                                <li class="not-included">Weekly sharing report</li>
                                <li class="not-included">Customization control panel</li>
                                <li class="blank">intentionally left blank</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="call-to-action">
                        <div class="narrow">
                            <a href="{% url ButtonsShopifyInstructions %}?shop={{shop_url}}&t={{token}}">
                                <button class="grey">Choose</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="span-1">
                    <div style="visibility: hidden">Hack to force span</div>
                </div>
                <div class="span-12 last
                            pricing-col box-design">
                    <div class="seal">
                        Guaranteed to increase sharing
                    </div>
                    <ul>
                        <li class="title"><span class="under-wave"><img src="/static/imgs/red-underline.png" />Smart</span> ShopConnection</li>
                        <li class="price">
                            <span class="dollar">$</span>{{price}}
                            <span class="per-month">/ month</span>
                        </li>
                        <li class="features">
                            <ul>
                                <li>Social buttons - <i>Pinterest, etc</i></li>
                                <li>Simple installation with support</li>
                                <li>Personalized sharing <a href="#learn">Learn more</a></li>
                                <li>Weekly sharing report <span class="coming-soon">(coming soon)</span> </li>
                                <li>Customization control panel <span class="coming-soon">(coming soon)</span></li>
                                <li>15 day no-risk trial</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="call-to-action">
                        <div class="wide">
                            <a href="{% url ButtonsShopifyUpgrade %}?shop_url={{shop_url}}">
                                <button class="blue">Start your free trial!</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <hr />

            <h1 id="learn">Learn More About <span class="under-wave"><img src="/static/imgs/red-underline.png" />Smart</span> ShopConnection</h1>
            <div class="lower-25 prepend-2 span-20 append-2 append-bottom last">
                <div class="span-7 append-1
                            explanation-col">
                    <p>
                        Stop guessing which social networks your customer wants to use. Personalize which buttons 
                        appear for <i>each and every</i> customer. You get more sharing without the clutter of more buttons.
                    </p>
                </div>
                <div class="span-12 last">
                    <div style="width:450px; height:250px; border: 1px solid black; text-align: center; line-height: 250px;">
                        Video
                    </div>
                </div>
            </div>
 
            <div class="lower-25 prepend-1 span-22 append-1 append-bottom last">
                <div class="prepend-1 span-20 append-1">
                    <h2 id="faq">Frequently Asked Questions</h2>
                </div>
                <div class="lower-25 prepend-1 span-20 append-1 append-bottom last
                             box-design faq">
                    <ul>
                        <li>
                            <h4>How do you determine which social networks a customer uses?</h4>
                            <p>The largest social networks feature passive ways to determine if someone is a
                                user, without revealing anything about that person. In addition, we make
                                a note whenever someone shares with a network.
                            </p>
                        </li>
                        <li>
                            <h4>What if you don't find any networks they are using?</h4>
                            <p>Smart ShopConnection always displays 3 social buttons. We will default to the
                                3 that you choose. we use Pinterest, Tumblr, and the Fancy if you haven't set a default.
                            </p>
                        </li>
                        <li>
                            <h4>Are there any privacy concerns with this?</h4>
                            <p>Nope. We don't determine any personal information, and everything happens
                                on your customers' computer.  It is never shared or stored elsewhere.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>

            <hr />

            <h1>Choose The Right ShopConnection For Your Store</h1>
            <div class="prepend-top prepend-1 span-22 append-1 append-bottom last">
                <div class="span-9 
                            pricing-col box-design">
                    <ul>
                        <li class="title">ShopConnection</li>
                        <li class="price">Free</li>
                        <li class="features">
                            <ul>
                                <li>Social buttons - <i>Pinterest, etc</i></li>
                                <li>Simple installation with support</li>
                                <li class="not-included">Personalized sharing</li>
                                <li class="not-included">Weekly sharing report</li>
                                <li class="not-included">Customization control panel</li>
                                <li class="blank">intentionally left blank</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="call-to-action">
                        <div class="narrow">
                            <a href="{% url ButtonsShopifyInstructions %}?shop={{shop_url}}&t={{token}}">
                                <button class="grey">Choose</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="span-1">
                    <div style="visibility: hidden">Hack to force span</div>
                </div>
                <div class="span-12 last
                            pricing-col box-design">
                    <div class="seal">
                        Guaranteed to increase sharing
                    </div>
                    <ul>
                        <li class="title"><span class="under-wave"><img src="/static/imgs/red-underline.png" />Smart</span> ShopConnection</li>
                        <li class="price">
                            <span class="dollar">$</span>{{price}}
                            <span class="per-month">/ month</span>
                        </li>
                        <li class="features">
                            <ul>
                                <li>Social buttons - <i>Pinterest, etc</i></li>
                                <li>Simple installation with support</li>
                                <li>Personalized sharing <a href="#learn">Learn more</a></li>
                                <li><i>Coming soon:</i> Weekly sharing report</li>
                                <li><i>Coming soon:</i> Customization control panel</li>
                                <li>15 day no-risk trial</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="call-to-action">
                        <div class="wide">
                            <a href="{% url ButtonsShopifyUpgrade %}?shop_url={{shop_url}}">
                                <button class="blue">Start your free trial!</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
{% endblock content %}