					<div class="video-container">
						<style>
					    	#videoDiv {
					    		width: 560px;
					    		height: 315px;
					    		text-align: center;
					    		line-height: 560px;
					    	}
					    </style>
					    <div id="videoDiv">Loading...</div>
					    <p>
					        Stop guessing which social networks your customers use. Personalize which buttons 
					        appear for <i>each and every</i> customer. You get more sharing without the clutter of more buttons.
					    </p>
					</div>
					<script src="http://www.google.com/jsapi" type="text/javascript"></script>
					<script>
						google.load('swfobject','2.2');
					</script>   
				    <script type="text/javascript">
					    function embed_working_browsers () {
					    	var intervalID = null,
					    		max_ratio_reached = 0,
					    		// Player State enum
					    		UNSTARTED  = -1,
					    		ENDED      = 0,
					    		PLAYING    = 1,	
					    		PAUSED     = 2,
					    		BUFFERING  = 3,
					    		VIDEO_CUED = 5;

					    	// This function is called when video is playing
					    	// Track video progression by quarters
					    	function onPlayingUpdate() {
					    		var ratio = 0,
					    			ytplayer = document.getElementById("ytPlayer");
							    try {
							    	ratio = ytplayer.getCurrentTime() / ytplayer.getDuration();
							    } catch (err) {
							    	// Report error? Divide by zero?
							    }

							    if (( ratio > 0.9  && max_ratio_reached < 4 ) ||
							    	( ratio > 0.75 && max_ratio_reached < 3 ) ||
							    	( ratio > 0.5  && max_ratio_reached < 2 ) ||
							    	( ratio > 0.25 && max_ratio_reached < 1 )) {
							    	max_ratio_reached += 1;
							    	window._gaq.push(['_trackEvent', 'Video', 'Reached', max_ratio_reached]);
							    }
							}

							// This function is called when the player changes state
							function onPlayerStateChange(newState) {
								var ytplayer = document.getElementById("ytPlayer"),
									pageTracker = _gat._getTracker("UA-23764505-9");

								switch (newState) {

									case PLAYING:
										// Track load
										pageTracker._trackPageview("/b/shopify/datum_video");
										window._gaq.push(['_trackEvent', 'Video', 'Load']);

										// Start timer tracker
										intervalID = window.setInterval(onPlayingUpdate, 250);
										onPlayingUpdate();
										break;

									case FINISHED:
								    	intervalID && window.clearInterval(intervalID);
								    	break;

								    default:
								    	break;
								}
							}

							// This function is automatically called by the player once it loads
							function onYouTubePlayerReady(playerId) {
								alert('Hey! Where am I?');
								var ytplayer = document.getElementById("ytPlayer");
								ytplayer.addEventListener("onStateChange", "onPlayerStateChange");
							}

							// The "main method" of this sample. Called when someone clicks "Run".
							function loadPlayer() {
								var videoID = "7JF-583xVFk",
									params = { allowScriptAccess: "always",
											   modestbranding: 1,
											   rel: 0 },
									atts = { id: "ytPlayer" };

								swfobject.embedSWF("http://www.youtube.com/v/" + videoID + 
							                   "?version=3&enablejsapi=1&playerapiid=player1", 
							                   "videoDiv", "560", "315", "9", null, null, params, atts);
							}

							// Get video loading
							google.setOnLoadCallback(loadPlayer);
						}

						function embed_ie () {
							// swfobject would not work on IE.  Reported success with opt callback, but no request to youtube would happen.
							// I give up... we can get analytics from everyone else.  I hate you IE, I hate you bad
							$('#videoDiv').html('<iframe width="560" height="315" src="http://www.youtube.com/embed/7JF-583xVFk" frameborder="0" allowfullscreen></iframe>');
						}

						if ($.browser.msie) {
							embed_ie();
						} else {
							embed_working_browsers();
						}
				    </script>