{% extends "base.html" %}

{% block head %}
    <script>
        $(document).ready(function() {
            $('#go_to_shopify').click(function() {
                window.location = "{{app.store_url}}/admin";

            });
            SnapABug.setUserEmail('{{ client_email }}');
            SnapABug.startChat('Hi, can we help you with the installation?');
        });
    </script>

    <style>
        p {
            padding: 0px 0px 0px 0px;
            margin-bottom: 10px;
        }
        h2 {
            padding: 0px 0px 0px 0px;
            margin-bottom: 5px;
        }
        input[type="text"] {
            margin-bottom: 0px;
        }
    </style>
{% endblock head %}

{% block right_head %}
    {% if analytics %}
        <p><a href="{% url ShowDashboard app.uuid %}">See Your Referral Analytics</a></p>
    {% endif %}
{% endblock right_head %}

{% block content %}
        <h1 class="span-24 last lower-100 center">Thanks!</h1>
        <div class="span-24 last" style="background-color: white; border-radius: 20px; padding: 10px;" >
            <p class="center"> 
                Thanks for installing "Social Sharing Buttons"!  
                There are only 2 additional steps to complete the installation!
            </p>

            <h2> First Step </h2>
            <p>
                Navigate to the <em>Template Editor</em> for your <a href="{{app.store_url}}/admin/themes">store's Theme</a>.
                Under the <em>Layouts</em> section, click on <em>theme.liquid</em>.
            </p><p>
                <strong>1. Add </strong>the following code immediately after the <span class="code">&lt;head&gt;</span> line:
                <input style='font-size:13px;max-width: 435px;width:435px;' type='text' readonly='readonly' value='<script src="http://svpply.com/api/all.js#xsvml=1" type="text/javascript"></script>' />
            </p><p>
                <strong>2. Click</strong> <em>save</em> near the top!
            </p>

            <h2> Second Step </h2>

            <p>
                Under the <em>Snippets</em> section, click on <em>product.liquid</em>.
            </p><p>
                <strong>1. Look </strong>for where you would like the sharing buttons to be placed on your product pages.
                <br />
                A really good spot is immediately beside your <em>Buy</em> or <em>Add to Cart</em> button.
            </p><p>
                <strong>2. Once </strong>you've picked a spot, add this code:
                <input style='font-size:13px; max-width: 515px; width: 515px;' type='text' readonly='readonly' value='<div id="_willet_buttons_app" style="height:28px; width: 285px;"> <div style="float: left; margin-top: 3px; margin-right: 5px; width: 70px !important;"> <sv:product-button type="boxed"></sv:product-button> </div> </div>' />           
            </p><p>
                <strong>2. Click</strong> <em>save</em> near the top!
            </p>

            <br /><br /><br />
            <h3 class="center">If you have any other questions, please chat with us right now!</h3>
            <br />

            <div class="center">
                <button class='blue' id='go_to_shopify'>
                    <img src="/static/imgs/shopify-bag-36.png" />
                    <span style="float: right;display: block;padding-left: 10px;margin-top: 5%;">
                        Return to your Store 
                    </span>
                </button>
            </div>
        </div>
{% endblock content %}

{% block mixpanelTracking %}
{% endblock mixpanelTracking %}
