{% extends "base.html" %}

{% block head %}
    <script>
        $(document).ready(function() {
            $('#go_to_shopify').click(function() {
                window.location = "{{app.store_url}}/admin";

            });
            SnapABug.setUserEmail('{{ client_email }}');
            SnapABug.startChat('Hi, can we help you with the installation?');
        });
    </script>

    <style>
        p {
            padding: 0px 0px 0px 0px;
            margin-bottom: 10px;
        }
        h2 {
            padding: 0px 0px 0px 0px;
            margin-bottom: 5px;
        }
    </style>
{% endblock head %}

{% block right_head %}
    {% if analytics %}
        <p><a href="{% url ShowDashboard app.uuid %}">See Your Referral Analytics</a></p>
    {% endif %}
{% endblock right_head %}

{% block content %}
        <div class="lower-75 prepend-2 span-4 append-2" style="opacity=0.6"> 1. Register Store </div>
        <div class="lower-75 prepend-2 span-4 append-2" style=""> 2. Integrate ShopConnection </div>
        <div class="lower-75 prepend-2 span-4 append-2 last" style="opacity=0.6"> 3. Confirm Installation </div>
        
        <h1 class="span-24 last center">Integration Guide for {{shop_name}}</h1>
        <div class="span-24 last" style="background-color: white; padding: 30px; border-radius: 20px" >
            <p class="center"> 
                Thanks for installing "ShopConnection"!  
                There is only 1 more step!
                <br /><br />
                Now, let's determine where to place the buttons on your product pages.
            </p>

            <br /><br />
            <p> In your Shopify administration panel, open the <em>Template Editor</em> under <a href="https://{{app.store_url}}/admin/themes/"><em>Themes</em></a>.</p>

            <p>
                Under the <em>Snippets</em> section, click on <em>product.liquid</em>.
            </p><p>
                <strong>1. Look </strong>for where you would like the sharing buttons to be placed on your product pages. If you want to
                place your buttons near your "Add to Cart" or "Buy Now" button, look for <em>&lt;/form&gt;.
            </p><p>
                <strong>2. Once </strong>you've picked a spot, add this code:
                <input style='font-size:13px; max-width: 515px; width: 515px;' type='text' readonly='readonly' value='<div id="_willet_buttons_app"></div>' />           
            </p><p>
                <strong> 3. Click</strong> <em>save</em> near the top of the screen.
            </p>

            <br /><br /><br />
            <h3 class="center">If you have any other questions, please e-mail Barbara at: barbara@getwillet.com </h3>
            <br />

            <div class="center">
                <button class='blue' id='go_to_shopify'>
                    <img src="/static/imgs/shopify-bag-36.png" />
                    <span style="float: right;display: block;padding-left: 10px;margin-top: 5%;">
                        Return to your Store 
                    </span>
                </button>
            </div>
        </div>
{% endblock content %}

{% block mixpanelTracking %}
{% endblock mixpanelTracking %}
