{% extends "base.html" %}

{% block head %}
    <style>
        input[type='text'], textarea {
            width: 75%;
            margin-bottom: 5px;
        }
    </style>
{% endblock head %}

{% block left_content %}
    <h1 class="prepend-top center">Contact Us</h1>

    <div class="center">

        <p><a href="http://support.willetinc.com">Support website</a></p>
        <p><a href="mailto:support@getwillet.com">Support@GetWillet.com</a></p>

        <hr style="width: 75%; margin-left: 40px;" class="center" />
    </div>
{% endblock left_content %}

{% block right_content %}
    <h1 class="span-15 last lower-75 center">About Us</h1>

    <div class="about prepend-top append-bottom span-15 last">
        <div class="span-5">
            <div class="span-5 last center about">
                <img src="/static/imgs/team/fraser.png" width=141 height=150> </img>
            </div>
        </div>
        <div class="span-10 last">
            <h3>Fraser Harris</h3>
            Mountains, projects, startups - whatever he's doing, Fraser is leading.
            Loves to chat entrepreneurship, and uses "entrepreneuring" as a verb.
        </div>
    </div>

    <div class="about prepend-top append-bottom span-15 last">
        <div class="span-5">
            <div class="span-5 last center about">
                <img src="/static/imgs/team/barbara.png" width=135 height=150></img>
            </div>
        </div>
        <div class="span-10 last">
            <h3>Barbara Macdonald</h3>
            Phew! Just barely escaped a zombie outbreak in time to hack this up! Barbara is the <em>ultimate</em> hacker. She once wrote a operating system in 1 month!

            <br />
            An international speaker, Barbara presented at <a href="http://futureofwebapps.com">Future of Web Apps UK</a> in 2011!
        </div>
    </div>

    <div class="about prepend-top append-bottom span-15 last">
        <div class="span-5">
            <div class="span-5 last center about">
                <img src="/static/imgs/team/matt.jpg" width=135></img>
            </div>
        </div>
        <div class="span-10 last">
            <h3>Matt Harris</h3>

            Where’s Matt? He’s not in front of his computer. Look! On the mountain! Is it a bird? A plane? It’s boulder-er extreme, Matt Harris!
            <br />

            Matt is the ultimate hacker, plus he’s the only member of Team Willet with a successful exit under his belt.
            </div>
    </div>

{% endblock right_content %}
