{% extends "base.html" %}

{% block content %}
    <div class="span-24 last lower-15" id="right_header">
        <p><a href='/shopify'>Own a Shopify Store?</a></p>
        <p><a href="/demo">Discover</a></p>
        <p><a href='/about'>About Us</a></p>
    </div>
    <div class="lower-75 span-24 last">
        <h1 class="main_title center">Turn Browsers into Shoppers</h1>
        <p id="long_line" class="center">Optimizing the 2<sup>nd</sup>ecommerce funnel you didn't know you have.</p>
    </div>
    <div class="prepend-top span-24 last">
        <div class="span-12">
            <h2><span class="big"></span> The 2<sup>nd</sup> Funnel </h2>
            <p class="prepend-1 span-8" id="long_line" style="text-align: justify">
                Traffic lacking intent to buy
            </p>
        <br />
            <h2><span class="big"></span> Engage Your Social Customers </h2>
            <p class="prepend-1 span-8" id="long_line" style="text-align: justify">
                Engage with these people
            </p>
        <br />
            <h2><span class="big"></span> Maximize Your Sales </h2>
            <p class="prepend-1 span-8" id="long_line" style="text-align: justify"> 
                so that you can make moeny
            </p>
        </div>
        <div class="span-12 last">
            <img  style="background-color: white; border-radius: 20px;" class="span-12 last" src="http://unbouncepages-com.s3.amazonaws.com/hello.rf.rs/what_you_know.original.png" />
            <h1><a href="/demo" style="color: #fce8e3; margin-top: 25px;" class="center new_call_to_action">Discover</a></h1>
        </div>
    </div>
{% endblock content %}

{% block bottom_content %}
    something else ...
    
{% endblock bottom_content %}

{% block lazyload %}
{% endblock lazyload %}
