{% extends "base.html" %}

{% block content %}
    <div class="span-24 last lower-15" id="right_header">
        <p><a href='/about'>About Us</a></p>
        <p><a href='/'>Home</a></p>
    </div>
    <div class="lower-75 span-24 last">
        <h1 class="center">Welcome Shopify Store Owner</h1>
        <p id="long_line" class="center">Choose from our 2 stellar Shopify apps!</p>
    </div>
    <div class="prepend-top span-24 last">
        <div class="prepend-2 span-10 center">
            
            <a href="/s/shopify/beta"> 
                <img style="background-color: white; border-radius: 20px;" class="span-8" src="static/imgs/should_i_buy_this.png">
            </a>
            <h3>Should I Buy This</h3>
            <p class="lower-25">The best way to get shopping advice from friends </p>
        </div>
        <div class="span-10 append-2last center">
            <a href="/s/shopify/beta"> 
                <img style="background-color: white; border-radius: 20px;" class="span-8" src="static/imgs/ShopConnectionLogo.png">
            </a>
            <h3>ShopConnection</h3>
            <p class="lower-25">A collection of social tools specifically designed for ecommerce </p>
        </div>
    </div>
{% endblock content %}
