{% extends "base.html" %}

{% block head %}
    <style>
        p, ul > li, b {
            font-size: 1.4em;
        }
    </style>
{% endblock head %}

{% block content %}
    <div class="span-24 last lower-15" id="right_header">
        <p><a href='/shopify'>Own a Shopify Store?</a></p>
        <p><a href='/about'>About Us</a></p>
        <p><a href='/'>Home</a></p>
    </div>
    <div class="lower-75 prepend-2 span-20 append-2 last" style="background-color: white; border-radius: 20px" >
    
        <div class="span-20 last">
            <h1 class="center">Browsers Are Not Shoppers</h1>
            <p id="long_line" class="center">Until Willet converts them.</p>
        </div>
        <div class="prepend-top span-20 last">
            <h2> Optimize for the 2<sup>nd</sup> Funnel </h2>
            <p>
                Ecommerce traffic from social networks converts to a sale at 1.2%. Ecommerce traffic from
                the Internet's largest portals converts at 2.6% - over double! 
            </p>
            <p>
                Traffic arriving from social networks lacks an intent to buy - this is a 
                brand new funnel of traffic that ecommerce sites must optimize for.
            </p>
        </div>
        <div class="prepend-top span-20 last">
            <h2>Our Products</h2>
            <p>We have 2 products available for Shopify:</p>
            <div class="span-20 last">
                <div class="prepend-3 span-5 append-2 center">
                    
                    <a href="{% url ShowBetaPage %}"> 
                        <img style="background-color: white; border-radius: 20px;" class="span-5" src="static/imgs/SIBT_Shopify_Logo_310x310.png">
                    </a>
                    <h3>Should I Buy This</h3>
                    <p>The best way to get shopping advice from friends </p>
                </div>
                <div class="prepend-2 span-5 append-3 last center">
                    <a href="{% url ButtonsShopifyBeta %}"> 
                        <img style="background-color: white; border-radius: 20px;" class="span-5" src="static/imgs/ShopConnectionLogo.png">
                    </a>
                    <h3>ShopConnection</h3>
                    <p>A collection of social tools specifically designed for ecommerce </p>
                </div>
            </div>
        </div>
        <div class="prepend-top span-20 last">
            <h2>Simple, Hassel-Free Integration</h2>
            <div class="prepend-6 span-8 append-6 last append-bottom">
                <img class="span-3 append-1" src="/static/imgs/shopify_logo.png" />
                <img class="prepend-1 span-3" src="/static/imgs/magento_logo.png" />
            </div>
            <p>
                Integration is automatic and happens in minutes with our plugin for the largest hosted ecommerce solution, Shopify. If you have a
                custom solution or shopping cart that we currently don't support, don’t worry. We're expanding to you next! :)
            </p>
            
        </div>
        <div class="prepend-top span-20 last">
            <h2>Tracking, Analytics, & Optimization</h2>
            <p>
                Our tracking & analytics dashboard gives you visibility into customer behavior by letting you track the entire referral funnel.
            </p>
            <p>
                Our proprietary technology optimizes the look and feel of our app for your customers. As we learn their likes, wants, and social
                profile information, we tailor the experience for each customer. 
            </p>
        </div>
        <div class="prepend-top span-20 last">
            <h2>No Risk</h2>
            <p>It as easy as possible to get started. The app is free and installation takes fewer than 10 minutes.</p>
        </div>
        <div class="prepend-top span-20 last">
            <h2>Maximize Your Sales</h2>
            <p>We believe in our product.  See for yourself and start growing your sales!</p>
        </div>
    </div>

{% endblock content %}
