{% extends "base.html" %}

{% block title %}The voting is complete!{% endblock %}

{% block content %}
    <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <td valign="top">
                <div style="font-size:110%">
                    <p>Hi {{name}},</p>
                    <p>Your friends were voting on this:</p>

                    <img src="{{product_img}}" style="max-height: 25%; max-width: 25%; text-align: center" />
                    <p>
                        Overall, <strong>{{ buy_it_percentage }}%</strong> said to buy it.
                    </p>
                    <table cellspacing="0"
                           cellpadding="0"
                           style="border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td style="padding:5px;
                                           background-color:#fff9d7;
                                           border-left:1px solid #eecc22;
                                           border-right:1px solid #eecc22;
                                           border-top:1px solid #eecc22;
                                           border-bottom:1px solid #eecc22">
                                    <a href="{{product_url}}"
                                       style="color:#336699;"
                                       target="_blank">
                                        {% if buy_it %}
                                            Click here to buy it now
                                        {% else %}
                                            Find something else you might like!
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}