html{
    font-family:'Rokkitt', Helvetica, Serif;
}

body{
    font-family:'Rokkitt', Helvetica, Serif;
}

div.guider_buttons{
    display:none;
}

div#main_iframe{
    padding-bottom:30px;
}

div#cart{
    font-family:'Rokkitt', Helvetica, Serif;
    border:1px black solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
a#checkout_button{
    font-family:'Rokkitt', Helvetica, Serif;
    text-align:center;
    top: -63px;
    position: relative;
    right: -645px;
    width: 175px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    
}

button{
    margin-top: 30px;
    position: relative;
    width: 60%;
    text-align: center;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    left: -175px;
}

.msg_button{
    margin-top: 30px;
    position: relative;
    width: 80%;
    text-align: center;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    left: 0px;
}

h1{
    margin-top:50px;
    
    font-family:Helvetica, Serif;
    text-align:center;
    font-size:34px;
}

h2{
    margin-top:50px;
    
    font-family:Helvetica, Serif;
    text-align:center;
    font-size:24px;
}


a#twitter{
    position: relative;
    left: -173px;

}
a#twitter img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#twitter_box{
    font-family: 'Lucida Grande', sans-serif;
    font-size: 14px;
    height: 53px;
    width: 510px;
    position: relative;
    left: -150px;
    top: -170px;
}


a#facebook{
    position: relative;
    left: -175px;
}
a#facebook img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#facebook_box{
    font-family: 'Lucida Grande', sans-serif;
    font-size: 12px;
    height: 32px;
    width: 486px;
    position: relative;
    left: -154px;
    top: -139px;
}

#skip{
    position: relative;
    right: -140px;
    bottom: -290px;
}

#skip_share{
    
    position: relative;
    right: 0px;
    bottom: 10px;
}