{% extends "base.html" %}

{% block head %}
    <script>
    saveMsg = function () {
        alert('asd');
        var msg = document.getElementById( "share_text" );

        $.ajax({
            url: "/r/shopify/doUpdateOrCreate",
            type: 'post',
            data: { share_text   : msg.value,
                    target_url   : "{{app.target_url}}",
                    product_name : "{{app.product_name}}",
                    uuid         : "{{app.uuid}}",
                    token        : "{{store_token}}" }
        });// end ajax
    }; 

    </script>
{% endblock head %}

{% block left_content %}
    <h1 class="lower-50 center">{{app.product_name|escape}}</h1>
    <div class="span-8 last center">
        <label class="default_label" for="share_text">Default Message</label>
        <p style="margin-bottom: 0px; font-size: 1.2em; padding-bottom: 0px;">Please enter short message that your customers can customize and share with their friends.</p>
        
        <br />

        <textarea id="share_text" name="share_text" onBlur="saveMsg();">{{app.share_text}}</textarea>
        <button class="regular_button" onClick="saveMsg();" value="Save">Save </button>
    </div>
{% endblock left_content %}

{% block right_head %}
    <!-- <p><a href="{{logout_url}}">Logout</a></p> -->
    <p><a href="/r/app/{{app.uuid}}">See Your Referral Analytics</a></p>
{% endblock right_head %}

{% block right_content %}
    <h1 class="span-15 last lower-75 center">All Done!</h1>

        <div class="prepend-top prepend-1 span-14 last">
            <p>
                That's it! Now we'll start juicing your social referrals!
            </p>
            <p> 
                Start thinking of the perfect gift to give to your buyers - will it be a limited edition item or 
                some overstock from last season? Pick something that you know your buyers will love!
            </p>
            <p> 
                If you don't already, start paying attention to the "Note" field for your orders. We'll attach notes so you know
                when to include gifts!
            </p>
            
            <div class="prepend-top span-9">
                <h3> We'll email you for successful referrals! </h3>
            </div>
            <div class="span-4 last append-bottom">
                <a href="#chat" onClick="return SnapABug.startChat(false);">
                    <button class="regular_button">
                        <img style="height: 20px" src="/static/imgs/friendship.png" />
                        <p style="margin-bottom: 10px"> Have Questions? </p>
                    </button>
                </a>
            </div>

            <div class="prepend-top span-13 center last">
                <a href="{{app.target_url}}/admin">
                    <button>
                        <img style="height: 40px" src="/static/imgs/shopify-bag2.png" />
                        <p style="margin-bottom: 10px"> Back to Your Store </p>
                    </button>
                </a>
            </div>
        </div>

{% endblock right_content %}

{% block mixpanelTracking %}
    mpq.push(['track_funnel', 4, 'edit_page']);
{% endblock mixpanelTracking %}

