{% extends "base.html" %}

{% block head %}
    <script>
    saveMsg = function () {
        var msg = document.getElementById( "share_text" );

        $.ajax({
            url: "/r/shopify/doUpdateOrCreate",
            type: 'post',
            data: { share_text   : msg.value,
                    target_url   : "{{app.target_url}}",
                    product_name : "{{app.product_name}}",
                    uuid         : "{{app.uuid}}",
                    token        : "{{store_token}}" }
        });// end ajax
    }; 
    </script>
{% endblock head %}

{% block left_content %}
    {% include "left_col.html" %} 

{% endblock left_content %}

{% block right_head %}
    {% if analytics %}
        <p><a href="/r/app/{{app.uuid}}">See Your Referral Analytics</a></p>
    {% endif %}
{% endblock right_head %}

{% block right_content %}
    <h2 class="span-15 last lower-100 center">3. See Results</h2>
    <div id="step2_right" class="prepend-1 prepend-top span-14 last left">
        <p>
            That's it! The App has been installed into your store and now we'll start juicing your social referrals!
        </p>
        <h2>Test it out!</h2>
        <p>Here's the referral app that your customers will use to invite their friends.<br /> Try it out!</p>

        <iframe width="393" height="322" src='/r/shopify/load/referral?app_id={{app.uuid}}&style=shopify_demo' id="share_iframe" scrolling="no"></iframe>
        <a href="{{app.target_url}}/admin">
            <button>
                <img style="height: 40px" src="/static/imgs/shopify-bag2.png" />
                <p style="margin-bottom: 10px"> Back to Your Store </p>
            </button>
        </a>
    </div>
{% endblock right_content %}

{% block mixpanelTracking %}
    mpq.push(['track_funnel', 4, 'edit_page']);
{% endblock mixpanelTracking %}

