{% extends "base.html" %}

{% block head %}
    <script>
    </script>
{% endblock head %}

{% block left_content %}
    <h1 class="lower-50 center">{{app.product_name|escape}}</h1>
    <div class="prepend-top center">
        <label class="default_label" for="share_text">Default Share Text</label>

        <textarea id="share_text" name="share_text" readonly="readonly">{{app.share_text}}</textarea>

        <div class="edit_button">
            <a class="edit_button" href="/r/shopify/edit?id={{app.uuid}}" title="Edit Campaign">
                <img src="/static/imgs/edit.png" width=20 height=20 />
            </a>
        </div>
    </div>
{% endblock left_content %}

{% block right_head %}
    <p><a href="{{logout_url}}">Logout</a></p>
    <p><a href="/r/app/{{app.uuid}}">Analytics Dashboard</a></p>
{% endblock right_head %}

{% block right_content %}
    <h1 class="span-15 last lower-75 center">All Done!</h1>

        <div class="prepend-top prepend-1 span-14 last">
            <p>
                You've successfully installed our social referral app into your store! Your buyers will
                start referring their friends when they complete purchases!
            </p>
            <h2> We'll email you when a successful referral occurs! </h2>
            <a style="color:white" class="call_to_action big" href="{{app.target_url}}/admin">Back to Store</a>
            </div>
        </div>

{% endblock right_content %}

{% block mixpanelTracking %}
    mpq.push(['track_funnel', 4, 'edit_page']);
{% endblock mixpanelTracking %}

