{% extends "base.html" %}

{% block head %}
    <!-- Guiders stuff -->
    <script src="/static/guiders/jquery-1.5.1.min.js" type="text/javascript"></script>
    <script src="/static/guiders/guiders-1.1.0.js" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            var toggleDefaultValue;

            toggleDefaultValue = function ($this, onoff) {
                if (onoff) {
                    $this.css('color', 'grey');
                    $this.val($this.siblings('.defaultValue').attr('innerHTML'));
                } else {
                    $this.css('color', 'black');
                    $this.val('');
                }
            } // end function
            
            // Controls default values of input & textarea elements
            $('.defaultValue').siblings('input, textarea').each(
                function () { 
                    var $this = $(this);
                    if ($this.val() === '') {
                        toggleDefaultValue($this, true); 
                    }
                }
            ).focus(
                function () {
                    var $this = $(this),
                        defaultValue = $this.siblings('.defaultValue').attr('innerHTML')
                    if ($this.val() === defaultValue) {
                        toggleDefaultValue($this, false);
                    }
                }
            ).blur(
                function () { 
                    var $this = $(this);
                    if ($this.val() === '' ) {
                        toggleDefaultValue($this, true);
                    }
                }
            );
        });
    </script>
    <link rel="stylesheet" href="/static/guiders/guiders-1.1.0.css" type="text/css" />
{% endblock head %}

{% block left_content %}
    <h1 class="lower-50 center">Welcome {{shop_owner}}!</h1>

    <div class="span-8 last center">
        {% if error %} <p class="error"> {{error}} </p> {% endif %}
        <form action="/r/shopify/doUpdateOrCreate" class="offer_form" method="post">
            <div>
                <label class="default_label" for="share_text">Default Message</label>
                <p style="margin-bottom: 0px; font-size: 1.2em; padding-bottom: 0px;">Please enter short message that your customers can customize and share with their friends.</p>
                <!--<div id="tweet-counter-left" style="float: right; color: #056380; font-weight: bold;">140</div>-->
                <br />
                <textarea id="share_text" name="share_text" onFocus="update_share_text();" onKeyUp="update_share_text()"; onBlur="update_share_text();">{% if app %}{{app.share_text}}{% endif %}</textarea>
                <span class="defaultValue hidden" id="share_text_span">I love {{app.product_name}} because ...! You should check them out at {{app.target_url}}!</span>
            </div>

            <input class="call_to_action big submit" id="submit" type="submit" value="Finish" title="Finish" />
            
            <input type="hidden" name="target_url"   value="{{app.target_url}}" />
            <input type="hidden" name="product_name" value="{{app.product_name}}" />
            <input type="hidden" name="uuid"         value="{{app.uuid}}"  />
            <input type="hidden" name="token"        value="{{store_token}}"  />
        </form>

    </div>

{% endblock left_content %}

{% block right_head %}
    <!-- <p><a href="{{logout_url}}">Logout</a></p> -->
    <p><a href="/campaign/{{app.uuid}}">View Your Referral Analytics</a></p>
{% endblock right_head %}

{% block right_content %}
        <h1 class="span-15 last lower-75 center">{{NAME}}</h1>
        <h3 class="center" style="margin-top: -20px;" >Social Means Business</h3>

        <div id="step1_right" class="prepend-1 span-14 last">
            <p>
                Start out by telling us what you'd like your buyers to share on their social networks. Here's
                what your customers will see:
            </p>
            <div class="center" id="share_iframe_container">
                <iframe width="371" height="315" src='/r/shopify/load/referral?app_id={{app.uuid}}' id="share_iframe" scrolling="no" onLoad="update_share_text();"></iframe>
            </div>
        </div>
        
        <script>
            // Fill examples
            var i_share_text, i_twitter_url, i_unique_link, i_chars_left, i_plugin_title,
                share_text    = document.getElementById('share_text'),
                target_url    = document.getElementById('target_url'),
                share_i_frame = document.getElementById('share_iframe');
            
            function update_share_text() {
              if (!i_share_text) {
                    i_share_text   = share_i_frame.contentWindow.document.getElementById('share-text');
                    i_unique_link  = share_i_frame.contentWindow.document.getElementById('unique_link');
                    i_chars_left   = share_i_frame.contentWindow.document.getElementById('chars-left');
                    i_plugin_title = share_i_frame.contentWindow.document.getElementById('plugin-title');
                }
                i_share_text.innerHTML   = share_text.value;
                i_unique_link.value      = "{{app.target_url}}";
                i_plugin_title.innerText = "Invite Your Friends to {{app.product_name}}";

                var count = 140 - share_text.value.length;
                i_chars_left.innerHTML = count + " characters left";
            }
            
            function url_text() {
                document.getElementById('share_text_span').innerText = 'I love ' + target_url.value + ' because ...! You should check them out!';
                $("#share_text").val($("#share_text").siblings('.defaultValue').attr('innerHTML'));
                
                update_share_text();
            }

        </script>


        <script>
            // Guiders.js code
            guiders.createGuider({
              buttons: [{name: "Next"}],
              description: "<p> Our App has already been installed onto your store's checkout pages. </p> <p> When your customers complete a purchase, they'll be prompted to refer their friends for a <em>gift</em>. </p> <p>We'll add a note to your orders to let you know when to include the gift - so be sure to watch for it when fulfilling your orders!  </p><p>As for the gift itself, start thinking of the perfect gift for your buyers! Should it be a limited edition item or overstock from last season? <em>Pick something you know your buyers will love! </em> </p> <br />",
              id: "first",
              next: "second",
              overlay: true,
              width: 600,
              title: "Juice your sales with {{NAME}}!"
            }) {% if show_guiders %} .show() {% endif %} ;
        
            guiders.createGuider({
              attachTo: "#share_text",
              buttons: [{name: "Next"}],
              description: "Start by entering a quick message that your customers can customize and share onto their social networks. <br />",
              id: "second",
              next: "third",
              width: 300,
              position: 3,
              title: "What do you want people to know about {{app.product_name}}?"
            });
         
            guiders.createGuider({
              attachTo: "#share_iframe_container",
              buttons: [{name: "Next"}],
              description: "When your customers checkout, here is what they'll see!",
              id: "third",
              next: "fourth",
              position: 1,
              width: 300,
              title: "Look!"
            });
         
            guiders.createGuider({
              attachTo: "#submit",
              buttons: [{name: "Close"}],
              description: "When you've crafted the perfect message, click here and you're all done!",
              id: "fourth",
              next: "finally",
              position: 3,
              width: 300,
              title: "It's That Simple!"
            });
        </script>

{% endblock right_content %}

{% block mixpanelTracking %}
    mpq.push(['track_funnel', 2, 'edit_page']);
{% endblock mixpanelTracking %}
