{% extends "base.html" %}

{% block head %}
    <!-- Guiders stuff -->
    <script src="/static/guiders/guiders-1.1.0.js" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            var toggleDefaultValue;

            toggleDefaultValue = function ($this, onoff) {
                if (onoff) {
                    $this.css('color', 'grey');
                    $this.val($this.siblings('.defaultValue').attr('innerHTML'));
                } else {
                    $this.css('color', 'black');
                    $this.val('');
                }
            } // end function
            
            // Controls default values of input & textarea elements
            $('.defaultValue').siblings('input, textarea').each(
                function () { 
                    var $this = $(this);
                    if ($this.val() === '') {
                        toggleDefaultValue($this, true); 
                    }
                }
            ).focus(
                function () {
                    var $this = $(this),
                        defaultValue = $this.siblings('.defaultValue').attr('innerHTML')
                    if ($this.val() === defaultValue) {
                        toggleDefaultValue($this, false);
                    }
                }
            ).blur(
                function () { 
                    var $this = $(this);
                    if ($this.val() === '' ) {
                        toggleDefaultValue($this, true);
                    }
                }
            );

            // CACHE SOME OBJECTS
            var st = $('#share_text');
            var ct = $('#compose_text');
            var cd = $('#compose_div');
            window.ce = $('#compose_error');
            var updateST = function(el) {
                // update the share text
                var id = el.attr('id');
                var insert = $('#insert_' + id);
                var val = el.val();
                
                insert.html((val != '' ? val : '&nbsp;&nbsp;&nbsp;'))
                    .effect("highlight", {}, 3000);
                st.html(ct.text());
            };
            $('#step1_right div.wizard button.next').click(function(event) {
                // go to next wizard step
                event.preventDefault();
                var el = $(this);
                var par = el.closest('div.wizard');
                var next = par.next('div.wizard');
                var last = par.children('div')
                    .children('input.helper:first');
                var last_id = next.children('div')
                    .children('input.helper:first').attr('id');

                updateST(last);
                
                // make sure value is not blank
                if (last.val() == '') {
                    // too short
                    window.ce.html('Please enter a longer answer').slideDown();
                    window.ce.data('timeout', setTimeout('window.ce.slideUp();', 3000));
                } else if (st.text().length > 120) {
                    // too long
                    window.ce.html('Please enter a shorter answer').slideDown();
                    window.ce.data('timeout', setTimeout('window.ce.slideUp();', 3000));
                } else {
                    // good to go!
                    if (next.find('textarea').length > 0) {
                        // there is a textarea, last wizard
                        st.show();
                        cd.hide();
                    } else {
                        // any other wizard
                        st.hide();
                        cd.show();
                    }

                    par.hide();
                    next.fadeIn();
                }
            });
            $('#step1_right div.wizard button.goback').click(function(event) {
                // go back to the first
                event.preventDefault();
                var el = $(this);
                var par = el.closest('div.wizard');
                var first = par.closest('#step1_right').find('div.wizard:first');
                par.hide();
                first.fadeIn();
                st.hide();
                cd.show();
            });
            $('#step1_right div.wizard em span').click(function() {
                var el = $(this);
                el.parent('em')
                    .parent('p')
                    .siblings('div')
                    .children('input.helper:first')
                    .val(el.html());
            });
        });
    </script>
    <style type="text/css">
        #compose_text {
            display: block;
            width: 100%;
            background: rgba(245, 252, 253, 0.75);
            border-radius: 5px;
            box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
            padding: 20px;
            font-size: 160%;
        }
        #compose_text span {
            display: inline-block;
            background: #F0F0F0;
            border-radius: 5px;
            padding: 3px 5px 3px 5px;
            margin-bottom: 3px;
        }
        #compose_text span.highlight {
            background: #FFF68F;
        }
        #step1_right em span {
            color: #006280;
            cursor: pointer;
        }
        #step1_right em span:hover {
            border-bottom: 1px solid #006280;
        }
        button.blue {
            -webkit-box-shadow: 0 1px 2px #999;
            -moz-box-shadow: 0 1px 2px #999;
            box-shadow: 0 1px 2px #999;
            color: #FCE8E3;  
            border-color: #1495CC #2B8AB3 #066D99;
            background: -moz-linear-gradient(top, #AFE3FA, #6CB8D9 5%, #088EC8 100%);
            background: -webkit-gradient(linear, left top, left bottom, from(#AFE3FA), to(#088EC8), color-stop(0.05, #6CB8D9));
            background: -o-linear-gradient(top, #AFE3FA, #6CB8D9 5%, #088EC8 100%);
            color: #EBF9FF;
        }
        div.wizard {
            font-size: 100%;
        }
        div.wizard input {
            margin-bottom: 0px;
        }
        div.wizard p {
            margin-bottom: 0.5em;
        }
        div.wizard p em {
            font-size: 90%; 
        }
        div.wizard textarea {
            width: 500px;
            max-width: 500px;
        }
    </style>
    <link rel="stylesheet" href="/static/guiders/guiders-1.1.0.css" type="text/css" />
{% endblock head %}

{% block left_content %})
   {% include "left_col.html" %}  
{% endblock left_content %}

{% block right_head %}
    <!-- <p><a href="{{logout_url}}">Logout</a></p> -->
    {% if analytics %}
        <p><a href="/r/app/{{app.uuid}}">See Your Referral Analytics</a></p>
    {% endif %}
{% endblock right_head %}

{% block right_content %}
        <h2 class="span-15 last lower-100 center">2. Create Message</h2>
        <div id="step1_right" class="prepend-1 span-14 last left">
            <p>
                We will now create the message that your customers will share to their friends.
            </p>
            <form action="/r/shopify/doUpdateOrCreate" class="offer_form" method="post">
                <input type="hidden" name="target_url"   value="{{app.target_url}}" />
                <input type="hidden" name="product_name" value="{{app.product_name}}" />
                <input type="hidden" name="uuid"         value="{{app.uuid}}"  />
                <input type="hidden" name="token"        value="{{store_token}}"  />

                {% if has_app %}
                        <div>
                            <textarea id="share_text" name="share_text">{% if app %}{{app.share_text}}{% endif %}</textarea>
                            <span class="defaultValue hidden" id="share_text_span">I've given you a gift from {{app.product_name}} because ...! Go grab it here: {{app.target_url}}!</span>
                        </div>

                        <input class="call_to_action big submit" id="submit" type="submit" value="Save" title="Save" />
                        
                {% else %}
                    <div class="error" id="compose_error" style="display: none;">&nbsp;</div>
                    <div class='wizard' id="compose_1">
                        <h3>What type of products does your store specialize in?</h3>
                        <div>
                            <input type="text" class="helper" id="product" />
                            <button class="next">Next</button>
                        </div>
                        <p>
                            <em>eg, <span>purses</span>, <span>shoes</span>, <span>electronics</span></em><br />
                        </p>
                    </div>
                    <div class='wizard' id="compose_2" style="display: none;">
                        <h3>In one word, describe what is <em>great</em> about your products?</h3>
                        <div>
                            <input type="text" class="helper" id="product_adj" /> 
                            <button class="next">Next</button>
                        </div>
                        <p>
                            <em>eg, <span>colourful</span>, <span>rare</span></em><br />
                        </p> 
                    </div>
                    <div class='wizard' id="compose_3" style="display: none;">
                        <h3>What is <em>special</em> about your store?</h3>
                        <div>
                            <input type="text" class="helper" id="store_adj" />
                            <button class="next">Next</button>
                        </div>
                        <p>
                            <em>eg, <span>fast delivery</span>, <span>excellent customer service</span></em><br />
                        </p>
                    </div>
                    <div class='wizard' id="compose_4" style="display: none;">
                        <h3>Happy with your message?</h3>
                        <p class="quiet">
                            <em>
                                Please check the grammar of this message.
                            </em>
                        </p>
                        <textarea style="display: none;" id="share_text" name="share_text">{% if app %}{{app.share_text}}{% endif %}</textarea>
                        <button class="submit" id="submit">Save my message</button>&nbsp;or&nbsp;
                        <button class="goback blue">Back to the start</button>
                    </div>
                    <br />
                    <div id="compose_div">
                        <h3 class='quiet' style='margin-top:5px; margin-bottom: 5px;'>Message Preview</h3>
                        <div id="compose_text">I left a free gift for you at {{app.product_name}}. I love their <span id="insert_product_adj">&nbsp;&nbsp;&nbsp;</span> <span id="insert_product">&nbsp;&nbsp;&nbsp;</span> and their store has great <span id="insert_store_adj">&nbsp;&nbsp;&nbsp;</span>.</div>
                    </div>
                {% endif %}
            </form>
        </div>
{% endblock right_content %}

{% block mixpanelTracking %}
    mpq.push(['track_funnel', 2, 'edit_page']);
{% endblock mixpanelTracking %}
