{% extends "base.html" %}

{% block head %}
    <script>
    </script>
{% endblock head %}

{% block left_content %}
    {% include "left_col.html" %}
{% endblock left_content %}

{% block right_head %}
    <!-- <p><a href="{{logout_url}}">Logout</a></p> -->

    {% if analytics %}
        <p><a href="/r/app/{{app.uuid}}">See Your Referral Analytics</a></p>
    {% endif %}
{% endblock right_head %}

{% block right_content %}
        <h2 class="span-15 last lower-100 center">1. Get Started</h2>
        <div class="prepend-top prepend-1 span-14 last">
            <p>
                <i>Invite for a Gift</i> is Shopify App to help your store generate more sales by using your customers'
                social networks.
            </p>
            <p> 
                In a few steps, we will help you craft an effective message for your customers to share.
                Then we will install <i>Invite for a Gift</i> into your Shopify store.
            </p>
        </div>
        <div class="span-15 last center">
            <a href="/r/shopify/edit?{{query_string}}">
                <button> Let's Get Started! </button>
            </a>
        </div>

{% endblock right_content %}

{% block mixpanelTracking %}
    mpq.push(['track_funnel', 4, 'edit_page']);
{% endblock mixpanelTracking %}

