{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/colorpicker.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/smoothness/jquery-ui-1.8.16.custom.css" />
    <script type="text/javascript" src="/static/js/colorpicker.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#go_to_shopify').click(function() {
            window.location = "{{app.store_url}}/admin";
        }); 
        $('input.make_colorpicker').each(function(i){
            var el = $(this);
            var options = {
                color: el.attr('data-default') || 'blue',
                onSubmit: function(hsb, hex, rgb, el) {
                    //$(el).closest('input').val(hex);
                    $(el).val(hex);
                    $(el).ColorPickerHide();
                },
                onChange: function(hsb, hex, rgb, el) {
                    $(el).val(hex).css('background-color', '#'+hex);
                },
                onShow: function(picker) {
                    $(picker).fadeIn('fast');
                    return false;
                },
                onHide: function(picker) {
                    $(picker).fadeOut('fast');
                    return false;
                },
                onBeforeShow: function () {
                    $(this).ColorPickerSetColor(this.value);
                }
            };
            el.css('background-color', '#'+el.val());
            el.ColorPicker(options);
        });
        $('input.slider').each(function(i){
            var el = $(this);
            var options = {
                value: el.val(),
                min: el.attr('data-min') || 0,
                max: el.attr('data-max') || 100,
                step: el.attr('data-step') || 1,
                slide: function(event, ui) {
                    $(this).data('caller').val(ui.value);
                }
            };
            var slider = $(document.createElement('div'));
            el.after(slider);
            slider.slider(options);
            slider.data('caller', el);
        });
        $('h3').click(function(){
            $(this).next('div').toggle('blind');
        });
    });
    </script>
    <style type="text/css">
        input {
            width: 75px !important;
            height: initial;
            padding: 1px !important;
            margin: 1px !important;
        }
        h4 {
            padding: 10px;
            margin: 0px;
            text-align: left;
        }
        h3 {
            cursor: pointer;
        }
        h3.clear {
            padding-top: 15px;
        }
        .grid {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .white {
            background: rgba(255,255,255,0.7);
        }
        ._willet_button {
            display: block !important;
        }
        {{ css }}
    </style>
{% endblock head %}

{% block right_head %}
    {% if analytics %}
        <p><a href="{% url ShowDashboard app.uuid %}">See Your Referral Analytics</a></p>
    {% endif %}
{% endblock right_head %}

{% block content %}
        <h2 class="span-24 last lower-100 center">Edit your button style</h2>
        <form method="POST" action="?">
            <div class="span-12 ">
                <h3>Button - Normal</h3>
                <div class="span-12 center">
                    <div class="span-12 white grid">
                        <div class="span-6"><h4>Button Width</strong></div>
                        <div class="span-6 last">
                            <input readonly="readonly" value='{{ willet_button.width }}' name='willet_button:width' type="text" class="slider" data-max='500' />
                        </div>
                    </div>
                    <div class="span-12 white grid">
                        <div class="span-6"><h4>Text Color</h4></div>
                        <div class="span-6 last">
                            <input value="{{ willet_button.color }}" name='willet_button:color' type="text" class="make_colorpicker" data-default="" />
                        </div>
                    </div>

                    <div class="span-12 grid">
                        <div class="span-6"><h4>Text Size</strong></div>
                        <div class="span-6 last">
                            <input readonly="readonly" value='{{ willet_button.text_size }}' name='willet_button:text_size' id='willet_button_text_size' type="text" class="slider" />
                        </div>
                    </div>

                    <div class="span-12 white grid">
                        <div class="span-6"><h4>Text Font</strong></div>
                        <div class="span-6 last">
                            <select name='willet_button:font-family'>
                                {% for ff in ff_options %}
                                    {% ifequal willet_button.font_family ff %}
                                        <option value="{{ ff }}" selected="selected">{{ ff }}</option>
                                    {% else %}
                                        <option value="{{ ff }}">{{ ff }}</option>
                                    {% endifequal %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="span-12 grid">
                        <div class="span-6"><h4>Border Color</strong></div>
                        <div class="span-6 last">
                            <input value="{{ willet_button.border_color }}" name='willet_button:border_color' id='willet_button_border_colour' type="text" class="make_colorpicker" data-default="" />
                        </div>
                    </div>
                    
                    <div class="span-12 white grid">
                        <div class="span-6"><h4>Border Size</strong></div>
                        <div class="span-6 last">
                            <input readonly="readonly" value='{{ willet_button.border_width }}' name='willet_button:border_width' id='willet_button_border_size' type="text" class="slider" />
                        </div>
                    </div>

                    <div class="span-12 grid">
                        <div class="span-6"><h4>Background Gradient Start</strong></div>
                        <div class="span-6 last">
                            <input value="{{ willet_button.background_gradient_start }}" name='willet_button:background_gradient_start' id='willet_button_background_gradient_start' type="text" class="make_colorpicker" data-default="" />
                        </div>
                    </div>

                    <div class="span-12 white grid">
                        <div class="span-6"><h4>Background Gradient End</strong></div>
                        <div class="span-6 last">
                            <input value="{{ willet_button.background_gradient_end }}" name='willet_button:background_gradient_end' id='willet_button_background_gradient_end' type="text" class="make_colorpicker" data-default="" />
                        </div>
                    </div>
                </div>

                <h3 class="clear">Button - Hover</h3>
                <div class="span-12">
                    <div class="span-12 center">
                        <div class="span-12 grid">
                            <div class="span-6"><h4>Text Color</h4></div>
                            <div class="span-6 last">
                                <input value="{{ willet_button__hover.color }}" name='willet_button__hover:color' type="text" class="make_colorpicker" data-default="" />
                            </div>
                        </div>

                        <div class="span-12 white grid">
                            <div class="span-6"><h4>Border Color</strong></div>
                            <div class="span-6 last">
                                <input value="{{ willet_button__hover.border_color }}" name='willet_button__hover:border_color' type="text" class="make_colorpicker" data-default="" />
                            </div>
                        </div>
                        
                        <div class="span-12 grid">
                            <div class="span-6"><h4>Border Size</strong></div>
                            <div class="span-6 last">
                                <input readonly="readonly" value='{{ willet_button__hover.border_width }}' name='willet_button__hover:border_width' type="text" class="slider" />
                            </div>
                        </div>

                        <div class="span-12 white grid">
                            <div class="span-6"><h4>Background Gradient Start</strong></div>
                            <div class="span-6 last">
                                <input value="{{ willet_button__hover.background_gradient_start }}" name='willet_button__hover:background_gradient_start' type="text" class="make_colorpicker" data-default="" />
                            </div>
                        </div>

                        <div class="span-12 grid">
                            <div class="span-6"><h4>Background Gradient End</strong></div>
                            <div class="span-6 last">
                                <input value="{{ willet_button__hover.background_gradient_end }}" name='willet_button__hover:background_gradient_end' type="text" class="make_colorpicker" data-default="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span-12 last">
                <h3>Your button style:</h3>
                <a id="button" class="_willet_button">Unsure? Ask your friends!</a> 
                <p>
                    Click save to see your changes.
                </p>
            </div>

            <div class="span-2 prepend-10 append-10 last">
                <input class='willet_button blue' type='submit' value='Save' />
            </div>
        </form>
        <form method="POST" action="?">
            <div class="span-2 prepend-10 append-20 last">
                <input type="hidden" name="set_to_default" value="true" />
                <input class='willet_button' type='submit' value='Reset' />
            </div>
        </form>
        <div class="prepend-top span-24 last center">
            <button class='blue' id='go_to_shopify'>
                <img src="/static/imgs/shopify-bag-36.png" />
                <span style="float: right;display: block;padding-left: 10px;margin-top: 5%;">
                    Return to your Store 
                </span>
            </button>
        </div>
{% endblock content %}

