{% extends "base.html" %}

{% block head %}
    <script>
        $(document).ready(function() {
            $('#go_to_shopify').click(function() {
                window.location = "{{app.store_url}}/admin";
            });
            SnapABug.setUserEmail('{{ client_email }}');
            SnapABug.startChat('Hi, can we help you with the installation?');
        });
    </script>
{% endblock head %}

{% block right_head %}
    {% if analytics %}
        <p><a href="{% url ShowDashboard app.uuid %}">See Your Referral Analytics</a></p>
    {% endif %}
    <p><a href="{% url SIBTShopifyEditStyle app.uuid %}">Edit App Style</a></p>
{% endblock right_head %}

{% block content %}
        <h2 class="span-24 last lower-100 center">Thanks for installing "Should I Buy This"!</h2>
        <p class="center">
            The following video helps you complete the installation.
        </p>    
        <div class="prepend-top span-11 append-1 center">
            <iframe style="border: 5px solid #006286; border-radius: 5px;" width="425" height="349" src="http://www.youtube.com/embed/vaM5mVoYXVQ?hl=en&fs=1" frameborder="0" allowfullscreen></iframe>
            </p>
        </div>
        <div class="lower-15 span-12 last">
            <h3 class="center">Install Instructions</h3>
            <strong style="font-size: 120%; margin-left: 33px;">Special code: </strong>
            {% if old_install_code %}
                <input style='font-size:13px' type='text' readonly='readonly' value='&lt;div id="_willet_shouldIBuyThisButton"&gt;&lt;/div&gt;' />
            {% else %}
                <input style='font-size:13px' type='text' readonly='readonly' value="&#123;&#37; include 'willet_sibt' &#37;&#125;" />
            {% endif %}

            <ul>
                <li>1. Open your <em>Template Editor</em> from under the <em>Theme</em> menu in Shopify's store manager.</li>
                <li>2. Locate <em>product.liquid</em> from under <em>Snippets</em> (preferably) or <em>Templates</em>. Click on it.</li>
                <li>3. Search in this file for all instances of <b>&lt;/form&gt;</b>. Paste our <b>Special Code</b> on the lines immediately following <b>&lt;/form&gt;.</b> </li>
                <li>4. Click <b>save</b> at the top. That's it!</li>
            </ul>

        </div>
        <div class="prepend-top span-24 center">
            <p>
                If you have any other questions, please chat with us here -></p>

            <button class='' id='edit' title="Change how the button looks on your website!">
                <a href="{% url SIBTShopifyEditStyle app.uuid %}">Customize the Button</a>
            </button>
            
            <br /><br />

            <button class='blue' id='go_to_shopify'>
                <img src="/static/imgs/shopify-bag-36.png" />
                <span style="float: right;display: block;padding-left: 10px;margin-top: 5%;">
                    Return to your Store 
                </span>
            </button>

        </div>
{% endblock content %}

{% block mixpanelTracking %}
{% endblock mixpanelTracking %}
