{% extends "base.html" %}

{% block head %}
    <script>
        $(document).ready(function() {
            $('#go_to_shopify').click(function() {
                window.location = "{{app.store_url}}/admin";
            });
            SnapABug.setUserEmail('{{ client_email }}');
            SnapABug.startChat('Hi, can we help you with the installation?');
        });
    </script>
{% endblock head %}

{% block right_head %}
    {% if analytics %}
        <p><a href="{% url ShowDashboard app.uuid %}">See Your Referral Analytics</a></p>
    {% endif %}
{% endblock right_head %}

{% block content %}
        <h2 class="span-24 last lower-100 center">Thanks!</h2>
        <div class="prepend-top span-24 last center">
            <p>
                Thanks for installing "Should I Buy This"! 
                <br /><br />
                Please watch the following video which will help you setup "Should I Buy This".
                <br /><br />
                <iframe width="425" height="349" src="http://www.youtube.com/embed/vaM5mVoYXVQ?hl=en&fs=1" frameborder="0" allowfullscreen></iframe>
                <br />
                <strong>Special code: </strong><input style='font-size:13px' type='text' readonly='readonly' value='<div id="_willet_shouldIBuyThisButton"></div>' />
                <br /><br />
                If you have any other questions, please e-mail Barbara at: 
                <br /><br />
                barbara@getwillet.com
            </p>

            <button class='blue' id='go_to_shopify'>
                <img src="/static/imgs/shopify-bag-36.png" />
                <span style="float: right;display: block;padding-left: 10px;margin-top: 5%;">
                    Return to your Store 
                </span>
            </button>

        </div>
{% endblock content %}

{% block mixpanelTracking %}
{% endblock mixpanelTracking %}
