{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        p {
            padding: 0px 0px 0px 0px;
            margin-bottom: 10px;
        }
        h2 {
            padding: 0px 0px 0px 0px;
            margin-bottom: 5px;
        }
        html body .content-container {
            margin-top: 130px;
        }
        .instruction-step {
            background-color: #FFF;
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 1.0em;
        }
        .instruction-step input {
            margin: 0;
        }
        .step-num, .step-warn {
            position: absolute;
            top: -10px;
            left: -10px;
            padding: 1px 7px 1px 9px;
            font-size: 20px;
            color: #FFF;
            border-radius: 18px;
            -webkit-box-shadow: -3px -3px 20px rgba(0,0,0,0.1), -3px -3px 0px rgba(0,0,0,0);
            -moz-box-shadow: -3px -3px 20px rgba(0,0,0,0.1), -3px -3px 0px rgba(0,0,0,0);
            box-shadow: -3px -3px 20px rgba(0,0,0,0.1), -3px -3px 0px rgba(0,0,0,0);
            behavior: ("../js/PIE.htc");
        }
        .step-num {
            background-color: #0496AC;
        }
        .step-warn {
            background-color: #C40000;
            padding: 0 13px;
        }
    </style>
    <script>
        $(document).ready(function() {
            $('#go_to_shopify').click(function() {
                window.location = "{{app.store_url}}/admin";
            });
            SnapABug.setUserEmail('{{ client_email }}');
            SnapABug.startChat('Hi, can we help you with the installation?');
        });
    </script>
{% endblock head %}

{% block right_head %}
    <!-- customers can no longer edit their buttons themselves -->
{% endblock right_head %}

{% block content %}
        <div class="prepend-top span-24 last
                    box-design content-container" >
            <h1>Integration Guide for {{shop_name}}</h1>

            <div class="prepend-top prepend-2 span-20 append-2 append-bottom last">
                <div class="prepend-top prepend-1 span-18 append-1 append-bottom last
                            box-design instruction-step">
                    <div class="step-num">1.</div>
                    <p><strong>In</strong> your <a target="_blank" href="{{app.store_url}}/admin">Shopify administration panel</a>, open the <em>Template Editor</em> under <em>Themes</em>.</p>

                    <img class="span-18" src="/static/imgs/template_editor.png" />
                </div>
            </div>

            <div class="prepend-top prepend-2 span-20 append-2 append-bottom last">
                <div class="prepend-1 span-18 append-1 last
                            box-design instruction-step">
                    <div class="span-10">
                        <div class="step-num">2.</div>
                        <p class="lower-50">
                            <strong>Under</strong> the <em>Snippets</em> section, click on <em>product.liquid</em>. If you cannnot locate <em>product.liquid</em> under <em>Snippets</em>, try looking under <em>Templates</em>.
                        </p>
                    </div>
                    <div class="prepend-2 span-6 last">
                            <img src="/static/imgs/snippets_product.png" />
                    </div>
                </div>
            </div>

            <div class="prepend-top prepend-2 span-20 append-2 append-bottom last">
                <div class="prepend-1 span-18 append-1 last
                            box-design instruction-step">
                    <div class="step-num">3.</div>
                    <p>
                        <strong>Look </strong>for where you would like the sharing buttons to be placed on your product pages. If you want to place your buttons near your "Add to Cart" or "Buy Now" button, look for <em>&lt;/form&gt;</em>.
                    </p>
                    <img class="span-18" src="/static/imgs/form.png" />
                </div>
            </div>

            <div class="prepend-top prepend-2 span-20 append-2 append-bottom last">
                <div class="prepend-1 span-18 append-1 last
                            box-design instruction-step">
                    <div class="step-warn">!</div>
                    <p>Having trouble finding your cart?  Some templates keep the cart separate as a snippet.  Your <i>product.liquid</i> includes this snippet wherever the cart is supposed to be.  Look through your template snippets, searching each for 'cart' or 'form'.</p>
                </div>
            </div>

            <div class="prepend-top prepend-2 span-20 append-2 append-bottom last">
                <div class="prepend-1 span-18 append-1 last
                            box-design instruction-step">
                    <div class="step-num">4.</div>
                    <p>
                        <strong>Once </strong>you've picked a spot, add this code:
                        {% ifequal app.version '1' %}
                            <input style='font-size:13px;max-width: 275px;width: 245px;' type='text' readonly='readonly' value='&lt;div id="_willet_shouldIBuyThisButton"&gt;&lt;/div&gt;' />
                        {% else %}
                            <input style='font-size:13px;max-width: 275px;width: 245px;' type='text' readonly='readonly' value="&#123;&#37; include 'willet_sibt' &#37;&#125;" />
                        {% endifequal %}
                    </p>
                </div>
            </div>

            <div class="prepend-top prepend-2 span-20 append-2 append-bottom last">
                <div class="prepend-1 span-18 append-1 last
                            box-design instruction-step">
                    <div class="step-num">5.</div>
                    <p>
                        <strong>Click</strong> <em>save</em> near the top of the screen.
                    </p>
                    <img class="span-18" src="/static/imgs/save.png" />
                </div>
            </div>

            <div class="prepend-top prepend-2 span-20 append-2 append-bottom last">
                <div class="prepend-1 span-18 append-1 last
                            box-design instruction-step">
                    <div class="step-warn">!</div>
                    <p>
                        <strong>If </strong> you want a button on your <strong>cart</strong> page too, add this code in <code>cart.liquid</code> like before:
                        <input style='font-size:13px;max-width: 275px;width: 245px;' type='text' readonly='readonly' value="&#123;&#37; include 'willet_wosib' &#37;&#125;" />
                    </p>
                </div>
            </div>

            {% if new_order_code %}
            <div class="prepend-top prepend-2 span-20 append-2 append-bottom last">
                <div class="prepend-1 span-18 append-1 last
                            box-design instruction-step">
                    <div class="step-num">6.</div>
                    <p>
                        Set up orders integration: open your <a href="{{app.store_url}}/admin/payments">Checkout and Payments</a> Preferences.
                    </p>
                </div>
            </div>
            <div class="prepend-top prepend-2 span-20 append-2 append-bottom last">
                <div class="prepend-1 span-18 append-1 last
                            box-design instruction-step">
                    <div class="step-num">7.</div>
                    <p>
                        Under <em>Additional Settings</em> -&gt; <em>Additional Content & Scripts</em>, insert this text:
                    </p>
                    <textarea style='font-size:13px;max-height: 450px; height:450px;max-width: 700px;width: 700px;' type='text' readonly='readonly'>
&lt;!-- Begin Willet integration code --&gt;
&lt;script type="text/javascript"&gt;
  (function()&#123;
    var jsUrl = '{{ SECURE_URL }}/o/shopify/create.js?client_uuid={{ client_uuid }}';
    var i = 0;
    var items = '';
    &#123;&#37 for line in line_items &#37&#125;
      items += 'item' + i + '=' + encodeURIComponent('&#123;&#123; line.product.id &#125;&#125;') + '&';
      i++;
    &#123;&#37 endfor &#37&#125;

    var jsSrc = jsUrl +
                '&order_id='+ encodeURIComponent('&#123;&#123; order_id &#125;&#125;') +
                '&order_num='+ encodeURIComponent('&#123;&#123; order_number &#125;&#125;') +
                '&subtotal='+ encodeURIComponent('&#123;&#123; subtotal_price | money_without_currency &#125;&#125;') +
                '&ref_site='+ encodeURIComponent('&#123;&#123; referring_site &#125;&#125;') +
                '&email='+ encodeURIComponent('&#123;&#123; customer.email &#125;&#125;') +
                '&name='+ encodeURIComponent('&#123;&#123; customer.name &#125;&#125;') +
                '&marketing='+ encodeURIComponent('&#123;&#123; customer.accepts_marketing &#125;&#125;') +
                '&num_items='+ i +
                '&'+ items;

    var script  = document.createElement('script');
    script.type = 'text/javascript';
    script.src  = jsSrc;
    document.getElementsByTagName("head")[0].appendChild(script);
  &#125;)();
&lt;/script&gt;
&lt;!-- End Willet integration code --&gt;
                    </textarea>
                    <p>Then <strong>click</strong> <em>Apply these settings</em>.</p>
                </div>
            </div>
            {% endif %}

            <div class="prepend-top prepend-2 span-20 append-2 append-bottom last">
                <div class="prepend-1 span-18 append-1 last
                            box-design instruction-step">
                    <div class="step-num">&#x2713;</div>
                    <p class="center"><b>All done! Now, visit any of your product pages to verify the button is displaying correctly.</b></p>
                    <p class="center">Liked the easy installation? Leave some kind words in the <a target="_blank" href="http://apps.shopify.com/shopconnection"> Shopify App Store</a> for other merchants.</p>
                </div>
            </div>

            <div class="prepend-top prepend-3 span-18 append-3 last append-bottom">
                <h3 class="center">Have other questions? Visit <a target="_blank" href="http://support.willetinc.com">our support website</a>, or email: <a href="mailto:support@getwillet.com">support@getwillet.com</a></h3>
                <br />

                <div class="center">
                    <button class='blue' id='go_to_shopify'>
                        <img src="/static/imgs/shopify-bag-36.png" />
                        <span style="float: right;display: block;padding-left: 10px;margin-top: 5%;">
                            Return to your Store
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            ;(function ($) {
                /* patch New SnapEngage script overlay does not close on click
                   https://www.pivotaltracker.com/story/show/23948937 */
                try {
                    var close_button = $('#SnapABug_P div img');
                    if (!!$.on) {
                        $('#SnapABug_W').on('click', function () {
                            close_button.click();
                        });
                    } else if (!!$.live) {
                        $('#SnapABug_W').live('click', function () {
                            close_button.click();
                        });
                    }
                } catch (e) {
                    // pass
                }
            }) (jQuery || $);
        </script>
{% endblock content %}