{% extends "base.html" %}

{% block head %}
    <style>
        input[type='text'], textarea {
            width: 75%;
            margin-bottom: 5px;
        }
    </style>
{% endblock head %}

{% block left_content %}
    <h1 class="prepend-top center">Contact Us</h1>
    
    <div class="center">
        
        <p><a href="mailto:info@wil.lt">info@wil.lt</a></p>
        
        <p><a href="http://twitter.com/#!/getWillt"> @getWillt</a></p>

        <p><button href="#chat" onclick="return SnapABug.startChat(false);">Chat With Us Now</button></p>
        
        <hr style="width: 75%; margin-left: 40px;" class="center" />
        <br />

        <p style="margin-bottom: 0px;"> Give Us Feedback: </p>
        <form action="/doFeedback" method="post" class="center">
            <textarea style="height: 100px" name="message" id="message"></textarea> </br >
            <input type="submit" value="Submit"/>
        </form>
    </div>
{% endblock left_content %}

{% block right_head %}
    {% if client %}
        <p><a href='/account'>Account</a></p>
    {% endif %}
    <p><a href="/">Home</a></p>
{% endblock right_head %}

{% block right_content %}
    <h1 class="span-15 last lower-75 center">About Us</h1>

    {% if thanks %}
        <p class="error">Thanks for your feedback! We appreciate your help! </p>
    {% endif %}

    <div class="about prepend-top append-bottom span-15 last">
        <div class="span-5 append-10 center last link">
           @fjharris
        </div>
        <div class="span-5">
            <div class="span-5 last center">
                <img src="/static/imgs/fraser.png" width=141 height=150> </img>
            </div>
            <div class="span-5 last center role">
                Decider
            </div>
        </div>
        <div class="span-10 last lower-25">
            Mountains, projects, startups - whatever he's doing, Fraser is leading.  Loves to chat entrepreneurship, and uses "entrepreneuring" as a verb.
        </div>
    </div>
    
    <div class="about prepend-top append-bottom span-15 last">
        <div class="span-5 append-10 center last link">
            @BarbaraEMac
        </div>
        <div class="span-5">
            <div class="span-5 last center">
                <img src="/static/imgs/barbara.png" width=135 height=150></img>
            </div>
            <div class="span-5 last center role">
                Hackista
            </div>
        </div>
        <div class="span-10 last">
            Phew! Just barely escaped a zombie outbreak in time to hack this up! Barbara is the <em>ultimate</em> hacker. She once wrote a operating system in 1
            month!

            <br /><br />
            Watch her web-based video series about web apps, <a style="font-size: 0.9em" href="http://cAPPtion.tv">cAPPtionTV</a>.
        </div>
    </div>
    
    <div class="about prepend-top span-15 last">
        <div class="span-5 append-10 center last link">
            @sykhader
        </div>
        <div class="span-5">
            <div class="span-5 last center">
                <img src="/static/imgs/sayed_shades.jpg" style="border: 1px solid black; padding: 30px; background: white; width: 72px; height: 72px;"></img>
            </div>
            <div class="span-5 last center" style="font-size: 1.5em;">
                International Man of Mystery
            </div>
        </div>
        <div class="span-10 last lower-25">
             The mysterious and elusive Sy! No one knows much about him, except 
             that he is a Javascript wizard, loves his kitty, and is rumoured to be a playboy in Montenegro.
        </div>
    </div>

    <div class="about prepend-top span-15 last">
        <div class="span-5 append-10 center last link">
            @mjmcdoug
        </div>
        <div class="span-5">
            <div class="span-5 last center">
                <img src="/static/imgs/melanie.jpg" width=128 height=128> </img>
            </div>
            <div class="span-5 last center" style="font-size: 1.5em;">
                Talker
            </div>
        </div>
        <div class="span-10 last lower-25">
            Melanie blogs and chats with web app developers like it's nobody's business!
            She is leading our customer development front - kicking you-know-what and taking names!
        </div>
    </div>
{% endblock right_content %}
