{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block left_content %}
    <h1 class="lower-50 center">"{{campaign.title|escape}}"</h1>
    <div class="prepend-top center">
        <p>Product Name: <br />{{campaign.product_name|escape}}</p>
        <p>Website URL:<br/>{{campaign.target_url|escape}}</p>

        <p>Welcome Title:<br />{{campaign.blurb_title|escape}}</p>
        <p>Welcome Text:<br />{{campaign.blurb_text|escape}}</p>


        <p>Share text:<br />{{campaign.share_text|escape}}</p>
        <p>Webhook URL:<br />{{campaign.webhook_url|escape}}</p>

        <a class="call_to_action big" href="/account">Finish</a>
        <div class="edit_button">
            <a class="edit_button" href="/edit?id={{campaign.uuid}}" title="Edit Campaign">
                <img src="/static/imgs/edit.png" width=20 height=20 />
            </a>
        </div>
    </div>
{% endblock left_content %}

{% block right_head %}
    <p><a href="/account">Your Campaigns</a></p>
{% endblock right_head %}

{% block right_content %}
    <h1 class="span-15 last lower-75 center">Embed Code</h1>

        <div class="prepend-top prepend-1 span-14 last">
            <p>
                Place this iframe code in the <span class='code'>body</span> of your purchase / sign-up confirmation page:
            </p>
            <p class="code">
                &lt;iframe allowtransparency="true" frameborder="0" scrolling="no" src="{{BASE_URL}}/widget?ca_id={{ campaign.uuid }}&amp;uid=" style="width:372px;
                height:434px;"&gt; &lt;/iframe&gt;
            </p>
            <p class="tip">
                We need to be able to tell when a successful referral occurs using user identifiers you are familiar with!
                Add your user identifier to the query string as the field <span class="code">uid</span>.
            </p>
        </div>

{% endblock right_content %}

{% block mixpanelTracking %}
    mpq.push(['track_funnel', 4, 'edit_page']);
{% endblock mixpanelTracking %}
