{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}
    <div class="span-22 last lower-15" id="right_header">
        {% if client %}
        <p><a href='{{logout_url}}'>Logout</a></p>
        <p><a href='/account'>Your Campaigns</a></p>
        {% else %}
        <p><a href='{{login_url}}'>Login</a></p>
        {% endif %}
        <p><a href='/'>Home</a></p>
    </div>
    
    <div class="prepend-top span-24 center last lower-100">
        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://http://social-referral.appspot.com/willt?ca_id=c8e166c12a2e4f19&uid=" style="width:932px;
        height:435px;"> </iframe>
    </div>
{% endblock content %}
