{% extends "base.html" %}

{% block content %}
    <div class="prepend-top span-24 last">
        <h2 class="center">
            Have a mailing list, invite list, or user database?<br />
            Which users should be your ambassadors?
        </h2>
    </div>
    
    <div class="prepend-top span-24 last">
        <div class="prepend-1 span-8 center append-4">
            <h1>Offer A Discount For Sharing</h1>
        </div>
        <div class="span-11 center last">
            <h1>Discover Your Influencers</h1>
        </div>
    </div>
    
    <div class="span-8">
        <div id="share" class="prepend-top span-8 last">
            <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://www.wil.lt/button.html?ca_id=5a066f533e684705"
            style="width:325px; height:85px;"></iframe>
            <img id="img1" src="/static/imgs/1.png" width=191 height=151 />
        </div>
    </div>
    <div class="span-5">
        <img id="bird_arrow" src="/static/imgs/bird_arrow.png" width=100 height=100 />
        <img id="img2" src="/static/imgs/2.png" width=183 height=74 />
        <img id="img3" src="/static/imgs/3.png" width=236 height=78 />
    </div>
    <div class="span-11 last">
        <img src="/static/imgs/landing_list.png" width=450 height=280 />
    </div>
{% endblock content %}

{% block bottom_content %}
    <div class='span-24 center'>
        <h1><a href="{{login_url}}" class="call_to_action" id="get_started">Get Started</a></h1>
    </div>
{% endblock bottom_content %}

