{% extends "base.html" %}

{% block content %}
    <div class="span-24 last lower-15" id="right_header">
        {% if client %}
            <p><a href='{{logout_url}}'>Logout</a></p>
            <p><a href='/account'>Your Campaigns</a></p>
        {% else %}
            <p><a href='{{login_url}}'>Login</a></p>
            <p><a href='/demo'>Demo</a></p>
        {% endif %}
        <p><a href='/about'>About Us</a></p>
    </div>
    <div class="lower-75 span-24 last">
        <h1 class="center">tag line</h1>
    </div>
    <div class="prepend-top span-24 last">
        <div class="span-8 center">
            <h2><span class="big">1.</span> Step 1 </h2>
        </div>
        <div class="span-8 center">
            <h2><span class="big">2.</span> Step 2 </h2>
        </div>
        <div class="span-8 center last">
            <h2><span class="big">3.</span> Step 3 </h2>
        </div>
    </div>
    <div class="prepend-top span-24 last">
        <div class="span-8">
            <div id="share" class="prepend-top span-8 lower-50 last">
                <div class="lower-75 center">
                    {% if client %}
                        <h1><a href="/account" class="call_to_action" id="get_started">Get Started</a></h1>
                    {% else %}
                        <h1><a href="/edit#guider=first" class="call_to_action" id="get_started">Get Started</a></h1>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="span-5 lower-50">
            <img id="bird_arrow" src="/static/imgs/bird_arrow.png" width=100 height=100 />
        </div>
        <div class="span-11 last">
            <div class="span-11 center" style="margin-top: 10px;"> Some demo </div>
        </div>
    </div>
{% endblock content %}

{% block bottom_content %}
    <div class="prepend-1 span-10 append-1">
        <h3>Use Cases</h3>
        <ul class="disc">
            <li> use 1 </li>
        </ul>
    </div>
    <div class="prepend-1 span-10 append-1 last">
        <h3>Features</h3>
        <ul class="disc">
            <li> feature 1 </li>
        </ol>
    </div>
    <div class="prepend-1 span-22 append-1 lower-50">
        <h3>Largely True Testimonials</h3>
    </div>
{% endblock bottom_content %}

{% block lazyload %}
    mpq.push(['register', {'referring site': document.referrer}]);
    mpq.push(['track_funnel', 1, 'landing_page']);
{% endblock lazyload %}
