{% extends "base.html" %}

{% block content %}
    <div class="span-24 last lower-15" id="right_header">
        {% if client %}
            <p><a href='{{logout_url}}'>Logout</a></p>
            <p><a href='/account'>Your Campaigns</a></p>
        {% else %}
            <p><a href='{{login_url}}'>Login</a></p>
            <p><a href='/demo'>Demo</a></p>
        {% endif %}
        <p><a href='/about'>About Us</a></p>
    </div>
    <div class="lower-75 span-24 last">
        <h1 class="center">Which Of Your Users Are Referrers?</h1>
    </div>
    <div class="prepend-top span-24 last">
        <div class="span-8 center">
            <h2><span class="big">1.</span> Use our tweet button on your site</h2>
        </div>
        <div class="span-8 center">
            <h2><span class="big">2.</span> Your users tweet about your product</h2>
        </div>
        <div class="span-8 center last">
            <h2><span class="big">3.</span> Find your most influential users</h2>
        </div>
    </div>
    <div class="prepend-top span-24 last">
        <div class="span-8">
            <div id="share" class="prepend-top span-8 lower-50 last">
                <iframe title="Tweet and see if you rank among our top 6 influencers! Wait for some clicks to start and you'll climb up this list!" allowtransparency="true"
                frameborder="0" scrolling="no" src="http://social-referral.appspot.com/button?ca_id=e179cc102f904c92&uid=" style="width:325px; height:85px;"> </iframe>
                <div class="lower-75 center">
                    {% if client %}
                        <h1><a href="/account" class="call_to_action" id="get_started">Get Started</a></h1>
                    {% else %}
                        <h1><a href="/edit#guider=first" class="call_to_action" id="get_started">Get Started</a></h1>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="span-5 lower-50">
            <img id="bird_arrow" src="/static/imgs/bird_arrow.png" width=100 height=100 />
        </div>
        <div class="span-11 last">
            {{ campaign_results }}
            <div class="span-11 center" style="margin-top: 10px;">Think you can rank among our top 6? Tweet at the left and try to top Michael Litt.<br /> Updated every 15 mins.</div>
        </div>
    </div>
{% endblock content %}

{% block bottom_content %}
    <div class="prepend-1 span-10 append-1">
        <h3>Use Cases</h3>
        <ul class="disc">
            <li>Website Visitors - Who is tweeting about your product/service from your website? Learn who they are!</li>
            <li>Mailing lists - Who should you personally engage on your mailing list?  Offer an incentive to entice users to tweet!</li>
            <li>Invite lists - Who should be given first access?  Ask them to tweet to get into your beta! Trivial <a href="http://www.unbounce.com">Unbounce</a>
            integration!</li>
        </ul>
    </div>
    <div class="prepend-1 span-10 append-1 last">
        <h3>Features</h3>
        <ul class="disc">
            <li>Customize the tweet button for your site (including using the normal tweet button)</li>
            <li>Influencer list available in JSON</li>
            <li>Pass us your internal ids and we'll associate them with your influencer's twitter id</li>
            <li>Real-time tweet and clickthrough analytics</li>
            <li><i>Coming Soon</i> - Weekly email with new influencers ranked</li>
        </ol>
    </div>
    <div class="prepend-1 span-22 append-1 lower-50">
        <h3>Largely True Testimonials</h3>
        <p>"I was blinded. Now I see. You guys are like Jesus." <br />- Michael R. Litt, CEO of <a href="http://www.vidyard.com/">Vidyard</a></p>
        <p>"Wow, this is awesome! It's working perfectly." <br />- Mike McCauley, Co-founder of <a href="http://www.bufferbox.ca/">BufferBox</a></p>
        <p>"[My site's] love nearly doubled unique visits from 55 to 105 in less than 10 hours. <a href="/">www.wil.lt</a> yourself." <br /> - <a
        href="https://twitter.com/#!/tomboa">Francisco Baptista </a></p>
    </div>
{% endblock bottom_content %}

