{% extends "base.html" %}

{% block head %}
    <script type="text/javascript">
        var protocol = document.location.protocol == 'https:' ? 'https:' : 'http:';
        document.write(unescape('%3Cscript src="' + protocol + '//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"%3E%3C/script%3E'));
        document.write(unescape('%3Cscript src="' + protocol + '//mixpanel.com/site_media/api/platform/platform.1.min.js" type="text/javascript"%3E%3C/script%3E'));
    </script>
    <script type="text/javascript">
        var platform = new Mixpanel.Platform(
            '{{api_key}}',
            '{{platform_secret}}',
            '{{campaign.uuid}}'
        );
        {% if has_results %}
            {{mixpanel}}
        {% endif %}
        /*
        platform.create_line_chart( 'graph_div', [ 'Tweets_{{campaign.uuid}}', 
        {% for r in results %} 'Clicks_{{campaign.uuid}}_{{r.user.twitter_handle}}', {% endfor %}
        ], { 'mapping' : { 'Tweets_{{campaign.uuid}}' : 'Tweets',
        {% for r in results %}
            'Clicks_{{campaign.uuid}}_{{r.user.twitter_handle}}' : "{{r.user.twitter_handle}}'s Clickthroughs",
        {% endfor %}
        }, 'legend': false, 'cumulative' : true, 'xlabel' : 'Date', 'ylabel' : 'Counts', interval: 7} );
        */
        /*
        platform.create_line_chart( 'graph_div', [
            'Tweets_{{campaign.uuid}}_BarbaraEMac', 'Clicks_{{campaign.uuid}}_BarbaraEMac'
        ], { 'mapping' : { 'Clicks_{{campaign.uuid}}_BarbaraEMac' : 'BarbaraEMac'}, 'legend' : false, 'cumulative' : true, 'xlabel' : 'Date', 'ylabel' : 'Counts'} );
        */
</script>
{% endblock head %}

{% block content %}
    <div class="span-22 last lower-25" id="right_header">
        <p><a href='{{logout_url}}'>Logout</a></p>
        <p><a href='/account'>Your Campaigns</a></p>
    </div>

    <h1 class="span-24 last lower-10 center">Your Best Influencers</h1>
    <h2 class="span-24 last center">Campaign: "{{campaign.title|escape}}"</h2>

    {% if has_results %}

        <div class="prepend-2 span-20 append-1 last" id="results">
            <p style="color:white;margin-bottom: 5px;"> Here is a list of all people who have tweeted your campaign! </p>
            <p style="color:white;"> <a href="/campaign.json?id={{campaign.uuid}}">To get this list as a JSON object, click here</a>.</p>
    
            <div class="prepend-1 span-17 last append-bottom" id="graph_div" > </div>
            
            <div class="span-20 last center" id="influencer_title">
                <div class="span-2"> Place </div>
                <div class="span-2"> &nbsp;</div>
                <div class="span-5">Name</div>
                <div class="span-5">Twitter</div>
                <div class="span-2">Percentage of All Clicks</div>
                <div class="span-2">Click Throughs</div>
                <div class="span-2 last">Klout Score</div>
            </div>

            {% for r in results %}
                <div class="span-21 last influencer">
                    <div class="span-2 number" title="{{r.user.twitter_handle}}'s place for this campaign."> {{r.num}} </div>
                    {% if r.user %}
                        <div class="span-2" title="Click to visit {{r.user.twitter_handle}} on Twitter.com!">
                            <a href="https://twitter.com/#!/{{r.user.twitter_handle}}">
                                <img class="profile_pic" src="{{r.user.twitter_pic_url}}"> </img> 
                            </a> 
                        </div>
                        
                        <div class="span-5 lower-10" title="{{r.user.twitter_handle}}'s Real Name">
                            {{r.user.twitter_name}}
                        </div>
                        <div class="span-5 lower-10" title="Click to visit {{r.user.twitter_handle}} on Twitter!">
                            <a class="twitter_link" href="https://twitter.com/#!/{{r.user.twitter_handle}}">@{{r.user.twitter_handle}}</a>
                        </div>
                        <div class="span-2 lower-10" title="{{r.user.twitter_handle}}'s percentage of all clicks for this campaign.">
                            {{r.clicks_ratio}}% 
                        </div>
                        <div class="span-2 lower-10" title="A count of all clicks this user received for this campaign.">
                            {{r.clicks}}
                        </div>
                        <div class="span-2 lower-5 last" title="Click to visit {{r.user.twitter_handle}} on Klout.com!">
                            <a class="klout_link" href="http://klout.com/#/{{r.user.twitter_handle}}">
                                <img class="klout_logo" src="/static/imgs/klout_logo.jpg"> </img>
                                <object class="klout_score">{{r.kscore}}</object>
                            </a>
                        </div>
                    {% else %}
                        <div class="prepend-2 span-10" style="margin-top: 10px;">
                            <a class="twitter_link" href="https://twitter.com">Fetching user's data.</a>
                        </div>
                        <div class="span-2 lower-10" title="percentage of all clicks for this campaign.">
                            {{r.clicks_ratio}}% 
                        </div>
                        <div class="span-2 lower-10" title="A count of all clicks this user received for this campaign.">
                            {{r.clicks}}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="center"> We haven't received any shares or clicks yet. </p>

        <p class="center">In the meantime, watch this funny video (slightly NSFW): </p>

        <div class="prepend-4 span-20 last">
            <script type = "text/javascript" id = "vidyard_embed_code">(function() { var vidyardcontainer =  document.createElement("div"); vidyardcontainer.id = 'vidyard_ybdmFgl8fqtt9iZE7UCrEA'; var vidyardcontainer_s = document.getElementById('vidyard_embed_code'); vidyardcontainer_s.parentNode.insertBefore(vidyardcontainer, vidyardcontainer_s); var vidyard = document.createElement('script'); vidyard.type = 'text/javascript'; vidyard.async = true; vidyard.src = ('https:' == document.location.protocol ? 'https://secure.' : 'http://embed.') + 'vidyard.com/embed/ybdmFgl8fqtt9iZE7UCrEA/iframe/?'; var vidyard_s = document.getElementsByTagName('script')[0]; vidyard_s.parentNode.insertBefore(vidyard, vidyard_s); })();  //embedcodev1.0</script>
        </div>

    {% endif %}
{% endblock content %}
