html, body, h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

body, 
h1, 
h2, 
p {
	font-family: arial, helvetica, verdana, sans-serif;
}

body,
p { font-size: 13px; }

h1 {
	font-size: 30px;
	font-weight: normal;
	text-shadow: 1px 1px rgba(255,255,255,0.3)
}

body { background: #e4e4e4; }

a { text-decoration: none; }

.button {
	margin: 5px;
	padding: 7px 9px 7px 9px;
	background-color: #fff; 
	text-align: center;
	float: left;
}

.roundedTops,
#box,
#boxTop,
li.selected, 
li a,
#popup {
	-webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.roundedTL,
 {
	-webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

.roundedTR {
	-webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.roundedBR,
#box,
#replaceWithPostContent,
#popup {
	-webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}

.roundedBL,
#box,
#categoryBox,
#popup {
	-webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

.shadow {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.button a:visited, 
.button a { color: #fff; }

#body {
	width: 1000px;
	margin: auto;
}
.loginLeft { text-align: right; width: 200px; }
.loginLeft,
.loginRight { float: left; }

.loginElem,
.loginElemLeft,
.loginElemRight,
#loginAd,
#loginButtonContainer,
#signupButtonContainer {
	padding: 15px 25px 5px 25px;
	font-size: 16px;
}
.loginElemRight { padding: 15px 0 5px 0; }

.loginElem,
.loginElemLeft,
.loginElemRight { height: 25px; }

#loginTopMessage,
.loginHead { font-size: 24px; }

#loginMainBox,
#loginBox,
#signupBox {
	float: left;
	position: relative;
}

#loginTopMessage { padding: 30px 25px; }
.loginHead { background: #3b3b3b; color: #fff; font-weight: bold; padding: 15px 25px; }
#loginMainBox { width: 1000px; }
#loginBox,
#signupBox {
	width: 490px;
	border: 1px solid #3b3b3b;
	float: left;
	background: #fff;
}
#signupBox { margin-right: 15px; }

#loginButtonContainer, 
#signupButtonContainer {
	width: 440px;
	position: relative;
	float: left;
}

#loginButton,
#signupButton { float: right; }

#banner {
	background-color: #74bff1;
	background: -webkit-gradient(linear, left top, left bottom, from(#81cbfd), to(#65afe1));
	background: -moz-linear-gradient(top,  #81cbfd,  #65afe1);
	background: -ms-linear-gradient(top,  #81cbfd,  #65afe1);
	background: -o-linear-gradient(top,  #81cbfd,  #65afe1);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81cbfd', endColorstr='#65afe1'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81cbfd', endColorstr='#65afe1')"; /* IE8 */
	background: linear-gradient(top,  #81cbfd,  #65afe1);
	
	border-bottom: 1px solid #3f7599;
}

#break, 
#boxTop, 
#bannerBody, 
#detailsBar, 
.boxContent,
#box {
	width: 1000px;
	overflow: auto;
	margin: auto;
}

#bannerTitle {
	float: left;
	width: 700px;
	padding: 20px 0 20px 0;
}

#bannerRight, .breakNav {
	float: right;
}

#newPost {
	float: left;
}

ul#bannerRightObj {
	width: 240px; 
	height: 70px; 
	margin: 0;
	padding: 0;
}

ul#bannerRightObj li {
	margin: 30px 0 0 20px;
	list-style: none;
	float: left;
	display: block;
	position: relative;
}

#break {
	margin-top: 15px;
	height: 55px;
	position: relative;
}

#breakNav { 
	position: absolute; 
	bottom: 0; 
	right: 0; 
}

ul.breakNav li {
	margin: 0 15px 0 0;
	list-style: none;
	float: left;
	display: block;
	position: relative;
	font-size: 16;
	color: #fff;
}

ul.breakNav li a,
ul.breakNav li.selected {
	padding: 12px 20px 12px 20px;
	background: #626262;
	float: left;
}

ul.breakNav li.selected,
ul.breakNav li a:hover {
	background: #3b3b3b;
}

ul.breakNav li.selected,
ul.breakNav li a,
ul.breakNav li a:visited { color: #fff; }

ul.boxTopNav li {
	padding: 15px;
	margin: auto;
	list-style: none;
	float: left;
	display: block;
	position: relative;
	font-size: 18;
}

p#soon {
	color: #999;
	font-style: italic;
}

#box {
	background: #fff;
	border: 1px solid #3b3b3b;
	border-top: 0;
}

#boxTop {
	color: #fff;
	background: #3b3b3b;
}

#boxTop a {
	color: #ccc;
	text-decoration: underline;
}

#boxTop a:hover {
	color: #fff;
}

#boxTopRight {
	float: right;
	padding: 15px
}

#detailsBar{
	background: #eaeaea;
	border-bottom: 1px solid #3b3b3b;
}

#categoryBar { width: 179px; float: left; }
#postBar { width: 332px; float: left;}
#postContentBar { float: left;}

.barBorderImg { padding-top: 6px; float: left; }
.barBorder { float: left; width: 1px; }

#categories,
#date,
#title,
#selectedTitle {
	margin: 10px 0 10px 15px;
	font-weight: bold;
}

#categories {
	width: 164px;
	float: left;
}

#date {
	width: 99px;
	float: left;
}

#title {
	width: 200px;
	float: left;
}

#selectedTitle {
	width: 150px;
	float: left;
}

#mainBox {
	position: relative;
}

/* Main box elements have common height, except post content section,
which has one pixel less height for the white border on top */
#categoryBox, 
#replaceWithPosts {
	height: 450px;
	float: left;
}

#categoryBox {
	width: 179px;
	background: #fff;
	border-right: 1px solid #3b3b3b;
}

/* Common padding in mainBox elements */
.category, 
#replaceTextWithPosts, 
.postDate, 
.postTitle, 
.postDelete, 
#replaceTextWithPostContent, 
#postContentContainer {
	padding: 8px 15px 8px 15px;
}

#postContentContainer,
#editTitle,
#replaceHiddenPost
.hidden { 
	display: none;
}

#replaceWithPosts {
	width: 329px;
	background: #e4e4e4;
	border-right: 1px solid #3b3b3b;
	float: left;
	overflow: auto;
}

.post {
	width: 329px;
	cursor: pointer;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #3b3b3b;
	float: left;
	background: #eaeaea;
	color: #000;
}

/* Selected post and post content area have same bg colour */
.post.selected,
.post.selected:hover,
#replaceWithPostContent { 
	background: #cddfec;
}

.post:hover {
	background: #f3f3f3;
}

.post.selected {
	font-weight: bold;
	cursor: default;
}

.postDate {
	width: 85px;
	float: left;
}

.postTitle {
	width: 135px;
	float: left;
}

.postDelete {
	float: left;
	display: block;
	position: relative;
	cursor: pointer;
}

.postDeleteImg {
	float: left;
	display: block;
	width: 15px;
	height: 15px;
	background: url('imgs/delete-15x30.png');
	background-position: bottom;
}

.postDeleteImg:hover {
	background-position: 0 0;
}

/*
ul.breakNav li {
	margin: 0 15px 0 0;
	list-style: none;
	float: left;
	display: block;
	position: relative;
	font-size: 16;
	color: #fff;
}

ul.breakNav li a,
ul.breakNav li.selected {
	padding: 12px 20px 12px 20px;
	background: #626262;
	float: left;
}
*/

#replaceWithPostContent {
	width: 490px;
	float: left;
	border-top: 1px solid #fff;
	height: 449px;
}

#postKind {
	padding: 10px;
	padding-left: 0;
}

#postGuts {
	padding: 10px;
	padding-left: 0;
	text-align: center;
	margin: auto;
	width: 450px;
}

#postContent {
	width: 100%;
}

#postEmbed {
	text-align: center;
	margin: auto;
}

#postSave {
	text-align: center;
	margin: auto;
}

#light {
	display: none;
	position: fixed;
	margin: auto;
	top: 25%;
	left: 35%;
	width: 400px;
	border-radius: 10px;
	-mox-border-radius: 10px;
	background-color: #fff;
	z-index:1002;
	box-shadow: 0 3px 10px rgba(0,0,0, 1);
}

#lightTop {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 380px;
	background: #eee;
	padding: 10px;
}

#lightBottom {
	padding: 10px;
}

#newTitleWarning {
	display: none;
	color: #f00;
}

#newPostDialog { display: none; }

.button,
.button:visited,
button,
button:visited {
    display: inline-block;
    font-family: helvetica, arial, tahoma, sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px 3px 3px 3px; /* need all four for PIE */
    text-decoration: none;
    text-shadow: 0 1px 2px #666;
    white-space: nowrap;
    vertical-align: baseline;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow: visible;
    width: auto;
    color: #fff;
    border: 1px solid #471709;
    padding: 8px 15px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    -webkit-box-shadow: rgb(153, 153, 153) 0px 1px 2px 0px;
    -webkit-box-shadow: 0 1px 2px #999;
    -moz-box-shadow: 0 1px 2px #999;
    box-shadow: 0 1px 2px #999;
    background-color: #ae432e;
    background: -moz-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    background: -webkit-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    background: -ms-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    background: -o-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAA796', endColorstr='#AE432E',GradientType=0 );
    background: linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
}
.button:hover,
button:hover {
    color: #fff;
    background-color: #943a28;
    background: -moz-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#faa796), to(#943a28), color-stop(0.05, #d06c57));
    background: -webkit-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
    background: -o-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
    background: -ms-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
    background: linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
}
button:active { }