{% extends "vote-base.html" %}

{% block left_screens %}
    <div id="fb-root"></div>
    <div id="FOO" class="fb-comments" data-href="{{fb_comments_url}}"
         data-num-posts="5" data-width="375"></div>
{% endblock left_screens %}

{% block right_screens %}
    <div id="product_screen">
        <h2>
            <a href="{{ product_url }}">{{ product.title|striptags|lower }}</a>
        </h2>
        <img id="product_img" class="product-image" src="{{ product_img }}" />
        <div id="right-div" class="description">
            {{ product.description|striptags }}
        </div>
    </div>
{% endblock right_screens %}

{% block body_script %}
    $(document).ready(function () {
        {% if user_voted %}
            $('.choice .button').css('cursor', 'auto');
        {% else %}
            var vote = function (which) {
                $.ajax({
                    url: "{% url DoVote %}",
                    type: 'post',
                    data: {
                        instance_uuid : "{{instance.uuid}}",
                        which : which
                    },
                    success: function (tr) {
                        $("#success_message").show();
                        fbinit(document, 'script', 'facebook-jssdk');
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    },
                    error: function () {
                        $(".choice").hide();
                        $("#error_message").show();
                    }
                });
            };
            $('.choice .button').click(function () {
                vote(this.id); // click button = vote
            });
        {% endif %}
        fbinit(document, 'script', 'facebook-jssdk');
    });
{% endblock body_script %}