{% extends "../shopify/base.html" %}

{% block head %}{% endblock head %}

{% block right_head %}
    <p><a href="{% url SIBTShopifyEditStyle app.uuid %}">Edit App Style</a></p>
{% endblock right_head %}

{% block content %}
<div class="lower-100 prepend-3 span-4 append-1 append-bottom" style="font-size: 1.5em; font-weight: bold; opacity: 0.6;"> 1. Register Store </div>
        <div class="lower-100 prepend-1 span-6 append-1 append-bottom" style="font-size: 1.5em; font-weight: bold;"> 2. Integrate 'Should I Buy This'</div>
        <div class="lower-100 prepend-1 span-6 append-1 append-bottom last" style="font-size: 1.5em; font-weight: bold; opacity: 0.6;"> 3. Confirm Installation </div>

        <h1 class="span-24 last center">Should I Buy This: Integration Guide</h1>
        <div class="span-24 last" style="background-color: white; padding: 30px; border-radius: 20px" >
            <div class="center span-24 last append-bottom">
                <p>
                    Thanks for installing "Should I Buy This", {{ shop_owner }}!
                    <br />
                    Now, let's determine where to place the button on your product pages.
                </p>
            </div>

            <div class="prepend-top prepend-3 span-18 append-3 last append-bottom">
                <p>1. In your <a href="{{app.store_url}}/admin">Shopify administration panel</a>, open the <em>Template Editor</em> under <em>Themes</em>.</p>

                <img class="span-18" src="/static/imgs/template_editor.png" />
            </div>

            <hr class="thick_hr" />

            <div class="prepend-top prepend-3 span-12 append-bottom">
                <p class="lower-50">
                    2. Under the <em>Snippets</em> section, click on <em>product.liquid</em>. If you cannnot locate <em>product.liquid</em> under <em>Snippts</em>, try looking under
                    <em>Templates</em>.
                </p>
            </div>

            <div class="prepend-top prepend-2 span-6 last append-bottom">
                 <img src="/static/imgs/snippets_product.png" />
            </div>

            <hr class="thick_hr" />

            <div class="prepend-3 span-18 append-3 last append-bottom">
                <p>
                    <strong>3. Look </strong>for where you would like the advice button to be placed on your product pages. If you want to
                    place it near your "Add to Cart" or "Buy Now" button, look for <em>&lt;/form&gt;</em>.
                </p>

                 <img class="span-18" src="/static/imgs/form.png" />
            </div>

            <hr class="thick_hr" />

            <div class="prepend-top prepend-3 span-18 append-3 last">
                <p>
                    <strong>4. Once </strong>you've picked a spot, add this code:

                    <input style='font-size:13px;max-width: 275px;width: 245px;' type='text' readonly='readonly' value="&#123;&#37; include 'willet_sibt' &#37;&#125;" />
                </p>
            </div>

            <hr class="thick_hr" />

            <div class="prepend-3 span-18 append-3 last append-bottom">
                <p>
                    <strong>5. Click</strong> <em>save</em> near the top of the screen.
                </p>

                 <img class="span-18" src="/static/imgs/save.png" />
            </div>

            <hr class="thick_hr" />

            <div class="prepend-top prepend-3 span-12 append-bottom">
                <p class="lower-50">
                    6. Under the <em>Templates</em> section, click on <em>cart.liquid</em>.
                </p>
            </div>

            <hr class="thick_hr" />

            <div class="prepend-3 span-18 append-3 last append-bottom">
                <p>
                    <strong>7. Look </strong>for where you would like the advice button to be placed on your cart page.
                    After the <em>&lt;/table&gt;</em> tag would be a nice spot.
                </p>

                 <img class="span-18" src="/static/imgs/snippets_wosib.png" />
            </div>

            <hr class="thick_hr" />

            <div class="prepend-top prepend-3 span-18 append-3 last">
                <p>
                    <strong>8. Once </strong>you've picked a spot, add this code:
                    <input style='font-size:13px;max-width: 275px;width: 245px;' type='text' readonly='readonly' value="&#123;&#37; include 'willet_wosib' &#37;&#125;" />
                </p>
            </div>

            <hr class="thick_hr" />

            <div class="prepend-3 span-18 append-3 last append-bottom">
                <p>
                    <strong>9. Click</strong> <em>save</em> near the top of the screen.
                </p>

            </div>

            <div class="center prepend-top prepend-3 span-18 append-3 last append-bottom">
                <p><b>All done! Now, visit any of your product pages to verify the buttons are displaying correctly.</b></p>
            </div>

            <div class="prepend-top prepend-3 span-18 append-3 last append-bottom">
                <h3 class="center">Want to customize the location of the buttons? <br />
                    Have other questions? Visit <a href="http://support.willetinc.com">our support website</a>, or
                    Email support@getwillet.com!</h3>
                <br />

                <div class="center">
                    <button class='blue' id='go_to_shopify'>
                        <img src="/static/imgs/shopify-bag-36.png" />
                        <span style="float: right;display: block;padding-left: 10px;margin-top: 5%;">
                            Return to your Store
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            ;(function ($) {
                /* patch New SnapEngage script overlay does not close on click
                   https://www.pivotaltracker.com/story/show/23948937 */
                try {
                    var close_button = $('#SnapABug_P div img');
                    if (!!$.on) {
                        $('#SnapABug_W').on('click', function () {
                            close_button.click();
                        });
                    } else if (!!$.live) {
                        $('#SnapABug_W').live('click', function () {
                            close_button.click();
                        });
                    }
                } catch (e) {
                    // pass
                }
            }) (jQuery || $);
        </script>
{% endblock content %}
