{% extends "base.html" %}

{% block content_title %}Instantly engage with your customers!{% endblock %}

{% block content %}
    <div id="loginMainBox">

       <div id="loginBox" class="roundedTops roundedBL roundedBR">
            <div class="loginHead roundedTops">Login</div>

            <div class="loginLeft">
                <div class="loginElemLeft">Email:</div>
                <div class="loginElemLeft">Password:</div>
            </div>
            <form action="{{ host }}{% url ReEngageLogin %}" method="POST">
                <div class="loginRight">
                    <div class="loginElemRight">
                        <input type="text" name="username" value=""/>
                    </div>
                    <div class="loginElemRight">
                        <input type="password" name="password"value="" />
                    </div>
                </div>

                <div id="loginButtonContainer">
                    <a href="{{ host }}{% url ReEngageResetAccount %}" style="line-height: 40px;">
                        Forgot password?
                    </a>
                    <div id="loginButton" class="button">
                        <a href="#">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block document_ready %}
    $("#loginButton").click(function(event){
        event.preventDefault();
        $(this).parents("form").submit();
    });

    $("#signupButton").click(function(event){
        event.preventDefault();
        $(this).parents("form").submit();
    });
{% endblock %}