{% extends "base_system.html" %}


{% block content_top_actions %}
    <div class="button" id="newPost">
        + New Post
    </div>
{% endblock %}

{% block content_nav %}
    <ul class="breakNav" style="text-align: center">
        <li class="selected"><b>Facebook</b></li>
        <li class="comingSoon"><a href="#">Twitter</a></li>
        <li class="comingSoon"><a href="#">Pinterest</a></li>
        <li class="comingSoon"><a href="#">Email</a></li>
    </ul>
{% endblock %}

{% block content_inner_title %}Marketing Plans{% endblock %}

{% block box_top_info %}
    <i>
        Posting schedule: Mondays at 1:00am EST
        (<a id="changeSchedule"
        class="comingSoon" href="#">change</a>)
    </i>
{% endblock %}

{% block content_details_bar %}
    <div id="categoryBar">
        <div id="categories">Categories</div>
    </div>
    <div id="postBar">
        <div id="date">Date</div>
        <div id="title">Title</div>
    </div>
    <div id="postContentBar">
        <div id="selectedTitle">
            <!-- Value changes depending on which post is selected -->
            <span id="selectedTitleContent">Post Title Here</span>

            <!-- Hidden initially, shown when postQueue.length > 0 -->
            <span id='editTitle'>(<a href='#'>edit</a>)</span>
        </div>
    </div>
{% endblock %}

{% block content_inner %}
    <div id="categoryBox">
        <div id='allContainer'>
            <div id='allCategories' class='first slab selected'
                 data-queue_uuid='{{ app.queue.uuid }}'>
                <span id='categoryArrow' class='open'></span>
                All Categories
            </div>
        </div>
    </div>

    <div id="replaceWithPosts">
        <div id="replaceTextWithPosts"><p>
            Make a new Facebook post by clicking the 'New Post' button!<br><br>
            The posts you create here will be seen by any of your visitors who 'liked' a product.
        </p></div>

        <div id="replaceHiddenPost"></div>
    </div>

    <div id="replaceWithPostContent">

        <!-- Shown initially, hidden when postQueue.length > 0 -->
        <div id="replaceTextWithPostContent">
            Selected Facebook post contents will appear here
        </div>

        <!-- Hidden initially, shown when postQueue.length > 0 -->
        <div id='postContentContainer'>
            <div id='postKind'>

                <!-- No back end for 'typeofcontent' for current version

               What kind of content is this?
               <select id='postKind'>
                   <option value='type1' [[ ifType1 ]]>Type 1</option>
                   <option value='type2' [[ ifType2 ]]>Type 2</option>
                   <option value='type3' [[ ifType3 ]]>Type 3</option>
               </select>
               <br><br> -->

                Facebook post content:
            </div>
            <div id='postGuts'>
                <textarea rows='4' cols='100' id='postContent'></textarea>
            </div>
            <!--
            <div id='postEmbed'>
                <input type='button' value='Embed a photo or video' />
            </div>
            -->
            <br><br>
            <div id='postSave' class='button'>
                Save Changes
            </div>
            <div id="postSaveIndicator" class="saved">Saved</div>
        </div>
    </div>
{% endblock %}


{% block content_dialogues %}
    <div id="newPostDialog" title="New Post">
        New post name: <br><br>
            <input type="text" id="newPostTitle" class="enableEnterPress" maxLength="50" value="" /><br><br>
        <div id="endOrBeginning">
            Should this post be added to the end or the beginning of the queue? <br><br>
                <input type="radio" name="first" value="last" checked="checked" />End<br>
                <input type="radio" name="first" value="first" />Beginning<br><br>
        </div>
    </div>

    <div id="editTitleDialog" title="Edit Title">
        Enter a new title for your post: <br><br>
            <input type="text" id="editTitleInput" class="enableEnterPress" maxLength="50" value="" /><br><br>
    </div>

    <div id="changeScheduleDialog" title="Change Facebook Posting Schedule" class="facebook">
        Select the days of the week you would like your posts to go out:
        <table>
            <tr>
                {% comment %}
                {% with "Sundays Mondays Tuesdays Wednesdays Thursdays Fridays Saturdays" as list %}
                    {% for day in list.split %}
                        <td><input type="checkbox" name="dayOfWeek" value="{{ day }}" class="facebook" /></td>
                    {% endfor %}
                {% endwith %}
                {% endcomment %}

                <td><input type="checkbox" name="dayOfWeek" value="Sundays" class="facebook" /></td>
                <td><input type="checkbox" name="dayOfWeek" value="Mondays" class="facebook" /></td>
                <td><input type="checkbox" name="dayOfWeek" value="Tuesdays" class="facebook" /></td>
                <td><input type="checkbox" name="dayOfWeek" value="Wednesdays" class="facebook" /></td>
                <td><input type="checkbox" name="dayOfWeek" value="Thursdays" class="facebook" /></td>
                <td><input type="checkbox" name="dayOfWeek" value="Fridays" class="facebook" /></td>
                <td><input type="checkbox" name="dayOfWeek" value="Saturdays" class="facebook" /></td>
            </tr>
            <tr>
                {% comment %}
                {% with "S M T W Th F S" as list %}
                    {% for day_short in list.split %}
                        <td align="center">{{ day_short }}</td>
                    {% endfor %}
                {% endwith %}
                {% endcomment %}

                <td align="center">S</td>
                <td align="center">M</td>
                <td align="center">T</td>
                <td align="center">W</td>
                <td align="center">Th</td>
                <td align="center">F</td>
                <td align="center">S</td>
            </tr>
        </table>
        <br>

        <!-- Time zone info gotten from the internet.
             TODO: Some time zone functionality should be implemented eventually
             Currently this time zone drop down does nothing -->
        Select your time zone:
            <select name="DropDownTimezone" id="DropDownTimezone" class="facebook">
                  <option value="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
                  <option value="-11.0">(GMT -11:00) Midway Island, Samoa</option>
                  <option value="-10.0">(GMT -10:00) Hawaii</option>
                  <option value="-9.0">(GMT -9:00) Alaska</option>
                  <option value="-8.0">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                  <option value="-7.0">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                  <option value="-6.0">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                  <option value="-5.0">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                  <option value="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                  <option value="-3.5">(GMT -3:30) Newfoundland</option>
                  <option value="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                  <option value="-2.0">(GMT -2:00) Mid-Atlantic</option>
                  <option value="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
                  <option value="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                  <option value="1.0">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
                  <option value="2.0">(GMT +2:00) Kaliningrad, South Africa</option>
                  <option value="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                  <option value="3.5">(GMT +3:30) Tehran</option>
                  <option value="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                  <option value="4.5">(GMT +4:30) Kabul</option>
                  <option value="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                  <option value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                  <option value="5.75">(GMT +5:45) Kathmandu</option>
                  <option value="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                  <option value="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                  <option value="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                  <option value="9.0">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                  <option value="9.5">(GMT +9:30) Adelaide, Darwin</option>
                  <option value="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                  <option value="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                  <option value="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
            </select>
        <br><br>
        How many times a day would you like posts to be sent out?<br>
            <input type="radio" name="dropDownNumTimes" value="1" checked="checked" />1<br>
            <input type="radio" name="dropDownNumTimes" value="2" />2<br>
            <input type="radio" name="dropDownNumTimes" value="3" />3<br>
        <br>
        Select the times that the posts will be sent out: <br><br>
        <div id="time1">First time:
            <select name="DropDownTime1" id="dropDownTime1" class="dropDownTime facebook">
                <option value="0">Midnight</option>
                <option value="1">1am</option>
                <option value="2">2am</option>
                <option value="3">3am</option>
                <option value="4">4am</option>
                <option value="5">5am</option>
                <option value="6">6am</option>
                <option value="7">7am</option>
                <option value="8">8am</option>
                <option value="9">9am</option>
                <option value="10">10am</option>
                <option value="11">11am</option>
                <option value="12" selected="selected">Noon</option>
                <option value="13">1pm</option>
                <option value="14">2pm</option>
                <option value="15">3pm</option>
                <option value="16">4pm</option>
                <option value="17">5pm</option>
                <option value="18">6pm</option>
                <option value="19">7pm</option>
                <option value="20">8pm</option>
                <option value="21">9pm</option>
                <option value="22">10pm</option>
                <option value="23">11pm</option>
            </select>
            <br>
        </div>
        <div id="time2" class="hidden">Second time:
            <select name="DropDownTime2" id="dropDownTime2" class="dropDownTime facebook">
                <option value="0">Midnight</option>
                <option value="1">1am</option>
                <option value="2">2am</option>
                <option value="3">3am</option>
                <option value="4">4am</option>
                <option value="5">5am</option>
                <option value="6">6am</option>
                <option value="7">7am</option>
                <option value="8">8am</option>
                <option value="9">9am</option>
                <option value="10">10am</option>
                <option value="11">11am</option>
                <option value="12">Noon</option>
                <option value="13">1pm</option>
                <option value="14">2pm</option>
                <option value="15">3pm</option>
                <option value="16">4pm</option>
                <option value="17">5pm</option>
                <option value="18">6pm</option>
                <option value="19">7pm</option>
                <option value="20">8pm</option>
                <option value="21">9pm</option>
                <option value="22">10pm</option>
                <option value="23">11pm</option>
            </select>
            <br>
        </div>
        <div id="time3" class="hidden">Third time:
            <select name="DropDownTime3" id="dropDownTime3" class="dropDownTime facebook">
                <option value="0">Midnight</option>
                <option value="1">1am</option>
                <option value="2">2am</option>
                <option value="3">3am</option>
                <option value="4">4am</option>
                <option value="5">5am</option>
                <option value="6">6am</option>
                <option value="7">7am</option>
                <option value="8">8am</option>
                <option value="9">9am</option>
                <option value="10">10am</option>
                <option value="11">11am</option>
                <option value="12">Noon</option>
                <option value="13">1pm</option>
                <option value="14">2pm</option>
                <option value="15">3pm</option>
                <option value="16">4pm</option>
                <option value="17">5pm</option>
                <option value="18">6pm</option>
                <option value="19">7pm</option>
                <option value="20">8pm</option>
                <option value="21">9pm</option>
                <option value="22">10pm</option>
                <option value="23">11pm</option>
            </select>
            <br>
        </div>
        <br><br>

        <b>Your newly scheduled times:</b><br>
        <div id="newScheduledTimes">
            <span id="days" class="facebook">No days</span> at <span id="time" class="facebook">no times</span>.
        </div>
    </div>
{% endblock %}
