{% extends "base.html" %}

{% block content %}
    {% if show_form %}
    <div id="loginMainBox">

        <div id="signupBox" class="roundedTops roundedBL roundedBR">
            <div class="loginHead roundedTops">Reset your password</div>

            <div class="loginLeft">
                <div class="loginElemLeft">Email:</div>
            </div>

            <form action="{{ host }}{% url ReEngageResetAccount %}" method="POST">
                <div class="loginRight">
                    <div class="loginElemRight">
                        <input type="text" name="username" />
                    </div>
                </div>

                <div id="signupButtonContainer">
                    <div id="signupButton">
                        <input type="submit" value="Reset Password"/>
                    </div>
                </div>

            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block document_ready %}
    $("#loginButton").click(function(event){
        event.preventDefault();
        $(this).parents("form").submit();
    })

    $("#signupButton").click(function(event){
        event.preventDefault();
        $(this).parents("form").submit();
    });
{% endblock %}