{% extends "base.html" %}

{% block head %}
    <script type="text/javascript">
        var protocol = document.location.protocol == 'https:' ? 'https:' : 'http:';
        document.write(unescape('%3Cscript src="' + protocol + '//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"%3E%3C/script%3E'));
        //document.write(unescape('%3Cscript src="' + protocol + '//mixpanel.com/site_media/api/platform/platform.1.min.js" type="text/javascript"%3E%3C/script%3E'));
    </script>
    <script type="text/javascript">
        window.boat_finished = true;
        window.dbar = null;
        window.dbar_top = null;
        var move = function (next) {
            if (window.boat_finished) {
                window.boat_finished = false;
                $('#sailboat').animate({
                    "left": next
                }, 300, function() {
                    window.boat_finished = true;
                });
            }
        }
        var moveLeft = function() {
            var current = $('#sailboat').offset().left;
            var next = "-=100";
            move(next);
        };
        var moveRight = function() {
            var current = $('#sailboat').offset().left;
            var next = "+=100";
            move(next);
        };
        $(document).ready(function() {
            window.dbar = $('#results_header');
            window.dbar_top = dbar.offset().top;

            $('#sailboat').animate({"left": "0"}, 0);
            $('#results div.row').hover(function() {
                // mouse in
                $(this).addClass('row_highlight');
            }, function() {
                $(this).removeClass('row_highlight');
            }).click(function() {
                $(this).toggleClass('expanded').toggleClass('expandable').next('div.details_toggle').animate({
                    height: 'toggle'
                    }, 100, function() {
                        var row = $(this);
                        if (row.height() < 1) {
                            row.css('display', 'inline-block');
                        }
                    });
            });
            $('#results div.row_details').click(function() {
                $(this).children('div.referrers_toggle').animate(
                    {height: 'toggle'}, 200);
            });
            $(document).keydown(function (e) {
                var keyCode = e.keyCode || e.which;
                arrow = {left: 37, up: 38, right: 39, down: 40 };

                switch (keyCode) {
                    case arrow.left:
                        moveLeft();
                    break;
                    case arrow.up:
                        // func
                    break;
                    case arrow.right:
                        moveRight();
                    break;
                    case arrow.down:
                        // func
                    break;
                }
            }).scroll(function() {
                // scrolling
                var scroll_top = $(document).scrollTop();
                var current_top = window.dbar.offset().top;
                if (current_top < window.dbar_top) {
                    // move bar back to default position
                    window.dbar.css('position', 'initial').css('top', window.dbar_top).removeClass('scrolling');
                } else if (current_top < scroll_top || (current_top > window.dbar_top && current_top > scroll_top)) {
                    // let's get retarded!
                    //window.dbar.css('position', 'absolute').css('top', scroll_top).css('left', '30%');
                    window.dbar.animate({top: 0}, 10, function() {
                        window.dbar.addClass('scrolling');
                    });
                }
            });
        });/*
        var platform = new Mixpanel.Platform(
            '{{api_key}}',
            '{{platform_secret}}',
            '{{campaign.uuid}}'
        );
        {% if has_results %}
            {{mixpanel}}
            
            platform.create_pie_chart('pie_chart', 
                                     ['Email{{campaign.uuid}}', 'Twitter{{campaign.uuid}}', 'Facebook{{campaign.uuid}}'],
                                     {labels: true, 
                                     mapping : { 'Email{{campaign.uuid}}' : 'Email', 'Twitter{{campaign.uuid}}' : 'Twitter', 'Facebook{{campaign.uuid}}' : 'Facebook' }});
        {% endif %}
        */
        /*
        platform.create_line_chart( 'graph_div', [ 'Tweets_{{campaign.uuid}}', 
        {% for r in results %} 'Clicks_{{campaign.uuid}}_{{r.user.twitter_handle}}', {% endfor %}
        ], { 'mapping' : { 'Tweets_{{campaign.uuid}}' : 'Tweets',
        {% for r in results %}
            'Clicks_{{campaign.uuid}}_{{r.user.twitter_handle}}' : "{{r.user.twitter_handle}}'s Clickthroughs",
        {% endfor %}
        }, 'legend': false, 'cumulative' : true, 'xlabel' : 'Date', 'ylabel' : 'Counts', interval: 7} );
        */
        /*
        platform.create_line_chart( 'graph_div', [
            'Tweets_{{campaign.uuid}}_BarbaraEMac', 'Clicks_{{campaign.uuid}}_BarbaraEMac'
        ], { 'mapping' : { 'Clicks_{{campaign.uuid}}_BarbaraEMac' : 'BarbaraEMac'}, 'legend' : false, 'cumulative' : true, 'xlabel' : 'Date', 'ylabel' : 'Counts'} );
        */
    </script>
    <style type="text/css">
        .arrow {
            background: url(/static/imgs/db_arrow.png) no-repeat center center;
        }
        #results div.row .dollars {
            background: url(/static/imgs/db_burst.png) no-repeat center center; 
            height: 128px;
            text-align: center;
        }
        .dollars span {
            padding-left: 75px;
        }
        .cloud {
            background: url(/static/imgs/db_cloud.png) no-repeat center center; 
            height: 85px;
        }
        .conversions {
            
        }
        #results div.row,
        #results div.row_details {
            display: inline-block;
            color: #919191;
        }
        #results div.row div span {
            position: relative;
            top: 30%;
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.50);
        }
        #results div.row div {
            height: 128px;
            vertical-align: middle;
        }
        #results div.row_details {
            font-size: 60%;
            display: inline-block;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            cursor: pointer;
        }
        #results div.details_toggle div.twitter {
            background-color: rgba(87, 213, 255, 0.15);
        }
        #results div.details_toggle div.twitter div.icon {
            background: url(/static/imgs/db_twitter.png) no-repeat 5% 50% !important;
        }
        #results div.details_toggle div.facebook {
            background-color: rgba(59, 89, 153, 0.15);
        }
        #results div.details_toggle div.facebook div.icon {
            background: url(/static/imgs/db_facebook.png) no-repeat 5% 50% !important;
        }
        #results div.details_toggle div.linkedin {
            background-color: rgba(39, 144, 189, 0.15);
        }
        #results div.details_toggle div.linkedin div.icon {
            background: url(/static/imgs/linkedin-logo.png) no-repeat 5% 50% !important;
        }
        #results div.details_toggle div.email {
            background-color: rgba(174, 6, 0, 0.15);
        }
        #results div.details_toggle div.email div.icon {
            background: url(/static/imgs/email_logo.png) no-repeat 5% 50% !important;
        }
        #results div.referrers_toggle div {
            line-height: 2.0em;
        }
        #results div.details_toggle div.big {
            font-size: 125%;
            font-weight: 500;
            color: #000000;
        }
        #results div.prepend-2 {
            text-align: left;
        }
        #results div.row h3.sales,
        #results_header h3.sales {
            text-align: right;
            padding-right: 17px;
        }
        #results div.row div.big {
            font-weight: 500;
            font-size: 150%;
            color: #000000;
        }
        #results div.row h4 {
            text-align: center;
        }
        hr {
            background-color: #8ebbc6;
        }
        #results div.row:hover {
            cursor: pointer; 
        }
        #results div.expandable:hover div.prepend-2 {
             background: url(/static/imgs/plus.gif) no-repeat 5% 50% !important;
        }
        #results div.expanded div.prepend-2 {
            background: url(/static/imgs/minus.gif) no-repeat 5% 50% !important;
        }
        #results_header {
            display: inline-block;
            background: rgba(245, 252, 253, 0.60);
            width: 950px;
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
            z-index: 99;
            vertical-align: middle;
        }
        #results_header div {
            vertical-align: center;
        }
        #results_header h3 {
            margin-bottom: 0.5em;
            margin-top: 0.5em;
        }
        div.scrolling {
            position: fixed !important;
            background: rgba(245, 252, 253, 0.95) !important;
            -moz-border-radius-topleft: 0px;
            -moz-border-radius-topright: 0px;
            -moz-border-radius-bottomright: 5px;
            -moz-border-radius-bottomleft: 5px;
            -webkit-border-radius: 0px 0px 5px 5px;
            border-radius: 0px 0px 5px 5px;
        }
    </style>
{% endblock head %}

{% block content %}
    <div class="span-22 last lower-15" id="right_header">
        <p><a href='{{logout_url}}'>Logout</a></p>
        <p><a href='/account'>Your Campaigns</a></p>
    </div>
    
    <h1 class="span-24 last lower-100 center">Your Referral Results</h1>
    <h2 class="span-24 last center">Campaign: "{{campaign.title|escape}}" for {{campaign.product_name}}</h2>
    <p class="center"> We haven't received any shares or clicks yet. </p>
    
    <div id="results_header">
        <div class="span-2 prepend-2"><h3>Referrals</h3></div>
        <div class="span-4 prepend-1"><h3 style="text-align: center;">Reach</h3></div>
        <div class="span-3 prepend-1"><h3 style="text-align: center;">Visits</h3></div>
        <div class="span-4"><h3 style="text-align: center;">Conversions</h3></div>
        <div class="span-4 prepend-1 append-2 last"><h3 class='sales'>Sales</h3></div>
    </div>
    <div id="results_static">&nbsp;</div>
    <hr />
    <div id='results' class="center large">
        <div class="row expandable">
            <div class="prepend-2 span-2 big">
                <span>10</span>
            </div>
            <div class="span-1 arrow">&nbsp;</div>
        
            <div class="span-4">
                <div class="cloud ">
                    <span>1000</span>
                </div>
            </div>
            <div class="span-1 arrow">&nbsp;</div>
       
            <div class="span-3 conversions">
                <span>50</span>
            </div>
            <div class="span-4">
                <div class="sales big">
                    <span>5</span>
                </div>
            </div>
        
            <div class="span-1"><span>=</span></div>
            <div class="span-4 append-2 last big dollars">
                <span>$100</span>
            </div>
        </div>
        <!-- DETAILS -->
        <div class="details_toggle" style="display: none">
            <div class="row_details twitter">
                <div class="prepend-2 span-2 icon big"><span>10</span></div>
                <div class="span-1">&nbsp;</div>
                <div class="span-4"><div class=""><span>1000</span></div></div>
                <div class="span-1">&nbsp;</div>
                <div class="span-3"><span>50</span></div>
                <div class="span-4 big"><div class=""><span>5</span></div></div>
                <div class="span-1"><span>&nbsp;</span></div>
                <div class="span-4 append-2 dollars big last">
                    <span>$100</span>
                </div>
                <!-- twitter double expando details -->
                <div class="referrers_toggle " style="display: none"> 
                    <hr size="1" />
                    
                    <div class="prepend-2 span-3"><span>Top Referrers</span></div>
                    <div class="span-4"><span>followers</span></div>
                    <div class="span-1">&nbsp;</div>
                    <div class="span-3"><span>visits</span></div>
                    <div class="span-4"><span>conversions</span></div>
                    <div class="span-1"><span>&nbsp;</span></div>
                    <div class="span-4 append-2 dollars last"><span>sales</span></div>

                    <div class="prepend-2 span-2"><span><a href="#">1. Barbara</a></span></div>
                    <div class="span-1">&nbsp;</div>
                    <div class="span-4"><span>50</span></div>
                    <div class="span-1">&nbsp;</div>
                    <div class="span-3"><span>5</span></div>
                    <div class="span-4"><span>2</span></div>
                    <div class="span-1"><span>&nbsp;</span></div>
                    <div class="span-4 append-2 dollars big last"><span>$100</span></div>
                    
                    <div class="prepend-2 span-2"><span><a href="#">2. Fraser</a></span></div>
                    <div class="span-1">&nbsp;</div>
                    <div class="span-4"><span>50</span></div>
                    <div class="span-1">&nbsp;</div>
                    <div class="span-3"><span>5</span></div>
                    <div class="span-4"><span>2</span></div>
                    <div class="span-1"><span>&nbsp;</span></div>
                    <div class="span-4 append-2 dollars big last"><span>$100</span></div>
                    
                    <div class="prepend-2 span-2"><span><a href="#">3. Matt</a></span></div>
                    <div class="span-1">&nbsp;</div>
                    <div class="span-4"><span>50</span></div>
                    <div class="span-1">&nbsp;</div>
                    <div class="span-3"><span>5</span></div>
                    <div class="span-4"><span>2</span></div>
                    <div class="span-1"><span>&nbsp;</span></div>
                    <div class="span-4 append-2 dollars big last"><span>$100</span></div>
                </div>
            </div>
            <!-- end twitter -->
            <div class="row_details facebook">
                <div class="prepend-2 span-2 icon">
                    <span>10</span>
                </div>
                <div class="span-1 arrow">&nbsp;</div>
        
                <div class="span-4">
                    <div class="quiet">
                        <span>1000</span>
                    </div>
                </div>
                <div class="span-1 arrow">&nbsp;</div>
            
                <div class="span-3">
                    <span>50</span>
                </div>
                <div class="span-4">
                    <div class="">
                        <span>5</span>
                    </div>
                </div>
            
                <div class="span-1"><span>=</span></div>
                <div class="span-4 append-2 dollars last">
                    <span>$100</span>
                </div>
            </div>
            <!-- end facebook -->
            <div class="row_details linkedin" >
                <div class="prepend-2 span-2 icon">
                    <span>10</span>
                </div>
                <div class="span-1 arrow">&nbsp;</div>
            
                <div class="span-4">
                    <div class="quiet">
                        <span>1000</span>
                    </div>
                </div>
                <div class="span-1 arrow">&nbsp;</div>
            
                <div class="span-3">
                    <span>50</span>
                </div>
                <div class="span-4">
                    <div class="">
                        <span>5</span>
                    </div>
                </div>
            
                <div class="span-1"><span>=</span></div>
                <div class="span-4 append-2 dollars last">
                    <span>$100</span>
                </div>
            </div>
            <div class="row_details email">
                <div class="prepend-2 span-2 icon">
                    <span>10</span>
                </div>
                <div class="span-1 arrow">&nbsp;</div>
            
                <div class="span-4">
                    <div class="quiet">
                        <span>1000</span>
                    </div>
                </div>
                <div class="span-1 arrow">&nbsp;</div>
            
                <div class="span-3">
                    <span>50</span>
                </div>
                <div class="span-4">
                    <div class="">
                        <span>5</span>
                    </div>
                </div>
            
                <div class="span-1"><span>=</span></div>
                <div class="span-4 append-2 dollars last">
                    <span>$100</span>
                </div>
            </div>
        </div>
        <!-- END -->
    </div>
{% endblock content %}
