.wrapper { /* overrides ask.css defaults */
    height: auto;
    width: auto;
}
#selection_box_container {
    width:100%;
    text-align: center;
}
#selection_box_container img {
    max-width: 150px;
    max-height: 150px;
}
#selection_box_container .wosib_or {
    font-size:40px;
    display: inline-block;
    height: 167px;
    width: 144px;
    vertical-align: middle;
}
#selection_box {
    margin-bottom: -5px;
    padding: 5px;
    /* text-align: center; */
    display: inline-block;
    zoom: 1; /* IE fix */
    *display: inline;
}
#selection_box .expansion {
    padding: 5px;
}
#product_image_result {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
}

#product_image_result li {
    border: 1px silver solid;
    border-radius: 5px;
    background-color: #fcfcff;
    display: inline-block;
    font-size: small;
    margin: 10px 5px;
    padding: 10px;
    width: 200px;
    height: 252px;
    vertical-align: bottom;
}

#product_image_result img {
    clear: both;
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 196px;
    margin-bottom: 12px;
}

#product_desc_result {
    float: right;
    text-align: left;
    font-size: small;
    max-width: 355px;
    padding-top: 5px;
}
#fbComment {
    margin: 0 auto;
    width: 92%;
}
.dialog_button_area {
    background-color: #f0f0f0;
    padding: 10px;
}
.options {
    bottom: 35px;
    width: 90%;
    padding: 0 5%;
}
.options div.restrictedWidth {
    /*width: 600px;*/
    width: 100%;
    margin:auto;
}
.step {
    text-align:left;
    margin-left: 10px;
}
.fleft {
    float:left !important;
}