/* ---------------------   DEFAULTS   ------------------------------- */
html {
    background-color: rgba(255, 255, 255, 0.2); /* for embedded */
}

html, body {
    /*background-color: white;*/
    color: #383f41;
    overflow: hidden;
    font: 1em/1.4em "Lucida Grande", Helvetica, Arial, sans-serif;
    margin:0px;
    padding:0px;
}
textarea {
    display: block;
    background: #fff url("/static/inputshadow.gif") repeat-x top;
    border-style: none solid solid;
    border: 1px solid #aaa;
    padding: 8px;
    color: black;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
p {
    text-align: justify;
    font-size: 14px;
}

/* ----------------------   USEFUL CLASSES   ------------------------ */

.wrapper {
    margin: 0 auto;
    height: 400px;
    width: 600px;
    border: none;
}
.wrapper>div {
    height: 100%;
    width: 100%;
    display: none;
}
.content.wide {
    width: 100%;
}
.content.narrow {
    width: 600px;
    margin: 0 auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.bigger {
    font-size: 150%;
}
.centered {
    text-align: center;
}
.error {
    display: none;
    color: red;
    font-style: italic;
}
.error_message {
    border: 1px solid #DB5667;
    background-color: #FCE3E7;
    padding: 10px;
    line-height: 1em;
}
.corner {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

/* --------------------   REUSABLE CLASSES   -------------------- */

.grey_bar {
    border-radius: 15px;
    padding: 1px 15px 0 20px;
    line-height: 28px;
    width: 200px;
    color: #333;
    background-color: #D1D1D1;
    text-shadow: 1px 1px 1px #EEE;
    /* CSS 3 */
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-image: -moz-linear-gradient(top, #E3E3E3, #D1D1D1);
    background-image: -webkit-linear-gradient(top, #E3E3E3, #D1D1D1);
    background-image: -ms-linear-gradient(top, #E3E3E3, #D1D1D1);
    -pie-background: linear-gradient(top, #E3E3E3, #D1D1D1);
    background-image: linear-gradient(top, #E3E3E3, #D1D1D1);
    -webkit-box-shadow: 0 0 1px 1px #EEE inset, 0 1px 0 #BBB;
    -moz-box-shadow: 0 0 1px 1px #EEE inset, 0 1px 0 #BBB;
    box-shadow: 0 0 1px 1px #EEE inset, 0 1px 0 #BBB;
    behavior: url(/static/js/PIE.htc)
}
.grey_bar:hover {
    cursor: hand;
    cursor: pointer;
}
.grey_bar:active {
    background: #CCC;
}
/* Fixes PIE CSS3 positioning problems */
.holder {
    position: relative;
    z-index: 100;
}
.title_bar {
    width: 100%;
    height: 55px;
    font-size: 20px;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #BBB;
}
.title_bar>* {
    float: left;
}
.title_bar>img {
    height: 60px;
    width: 50px;
    margin: 0px 0px 0px 15px;
    padding: 0px;
}
.title_bar>div {
    line-height: 30px;
    margin: 14px 0 0 40px;
}
.center_col {
        margin: 40px 20% 0 20%;
}
.button {
    height: 50px;
    padding: 6px;
    background-color: #C1F0F5;
    text-align: center;
    border: 1px solid #999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image: -moz-linear-gradient(top, #D9F7FA, #C1F0F5);
    background-image: -webkit-linear-gradient(top, #D9F7FA, #C1F0F5);
    background-image: -ms-linear-gradient(top, #D9F7FA, #C1F0F5);
    -pie-background: linear-gradient(top, #D9F7FA, #C1F0F5);
    background-image: linear-gradient(top, #D9F7FA, #C1F0F5);
    -moz-box-shadow: 0 0 1px 1px #EEE inset, 0 1px 0 #BBB;
    -webkit-box-shadow: 0 0 1px 1px #EEE inset, 0 1px 0 #BBB;
    box-shadow: 0 0 1px 1px #EEE inset, 0 1px 0 #BBB;
    behavior: url(/static/js/PIE.htc);
}
.button.inactive {
    background-color: #EEE;
    background-image: -moz-linear-gradient(top, #F7F7F7, #EEE);
    background-image: -webkit-linear-gradient(top, #F7F7F7, #EEE);
    background-image: -ms-linear-gradient(top, #F7F7F7, #EEE);
    -pie-background: linear-gradient(top, #F7F7F7, #EEE);
    background-image: linear-gradient(top, #F7F7F7, #EEE);
    behavior: url(/static/js/PIE.htc);
}
.button.close {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
}
.button:hover {
    cursor: pointer;
    cursor: hand;
    -moz-box-shadow: 0 0 4px 1px #BBB;
    -webkit-box-shadow: 0 0 4px 1px #BBB;
    box-shadow: 0 0 4px 1px #BBB;
    behavior: url(/static/js/PIE.htc);
}
.button.inactive:hover {
    cursor: auto;
    -moz-box-shadow: 0 0 1px 1px #EEE inset, 0 1px 0 #BBB;
    -webkit-box-shadow: 0 0 1px 1px #EEE inset, 0 1px 0 #BBB;
    box-shadow: 0 0 1px 1px #EEE inset, 0 1px 0 #BBB;
    behavior: url(/static/js/PIE.htc);
}
.button>img {
    float: left;
    margin: 5px 10px 5px 10px;
    width: 40px;
    height: 40px;
}
.button>.title, .button>.subtitle {
    white-space: nowrap;
    margin-left: 60px;
    min-width: 170px;
}
.button>.title {
    padding-top: 3px;
    font-size: 18px;
    line-height: 28px;
}
.button>.subtitle {
    font-size: 12px;
    line-height: 22px;
}
.button>.simpletitle {
    white-space: nowrap;
    font-size: 20px;
    min-width: 100px;
    line-height: 32px;
}


/* ---------------------   PAGES   ----------------------- */

/* ---------------------   Splash  ----------------------- */

#questionOptions {
    margin-top: 12px;
}
.drop_bar {
    position: relative;
    z-index: 5;
    font-size: 16px;
}
.drop_bar .grey_bar {
    line-height: 30px;
}
.drop_bar img {
    position: absolute;
    top: 1px;
    right: 3px;
    width: 29px;
    height: 29px;
}
.drop_bar>ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    padding: 30px 0 10px 0;
    margin: 15px 0;
    list-style-type: none;
    background-color: #E3E3E3;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    behavior: url(/static/js/PIE.htc);
}
.drop_bar li {
    width: 100%;
    color: #333;
    text-shadow: 1px 1px 1px #EEE;
    text-indent: 10px;
    padding: 5px 0;
}
.drop_bar li:hover {
    background-color: #CCC;
    cursor: pointer;
    cursor: hand;
}
.message {
    height: 77px;
    margin: 50px 30px 0 30px;
}
.message>img {
    float: left;
    border: 1px solid #BBB;
    width: 100px;
    height:100px;
}
.message>img.normal {
    border: none;
    width: auto;
    height: auto;
}
.message>img.quotes {
    margin-left:20px;
    margin-right:20px;
    vertical-align:top;
}
.message>textarea {
    /*float: right;
    width: 70%;
    height: 84px;*/ /* textarea has 16px of outer stuff */
    width: 100%;
    height: 40px;
    margin-left: -10px;
}
.message>.detailed {
    float: right;
    width: 70%;
    text-align: left;
    text-indent: -16px;
    font-size: 14px;
    color: #666;
}
.options {
    position: absolute;
    left: 0;
    bottom: 8px;
    margin: 0;
    /*height: 100px;*/
    width: 100%;
    text-align: center;
    z-index: 100; /* PIE shows in IE8 */
}
.option {
    margin: 0 15px;
    z-index:101;
    position:relative;
}
.or {
    float: left;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: #888;
}
.options .or {
    width: 100px;
    *width: 45px; /* smaller for IE7 */
}
.friend_options .or {
    width: 45px;
}
.hint>img {
    float: left;
    margin: 8px 0 5px 60px;
    width: 25px;
    height: 25px;
}
.hint>div {
    text-align: left;
    padding-top: 15px;
    font-size: 14px;
    color: #666;
}
#showChooseScreen>img, #postOnWall>img {
    padding: 2px;
    border: 1px solid #BBB;
    background-color: white;
    margin: 2px 7px 2px 7px;
}
#postOnWall>img {
    width: 36px;
}
#postOnWall>.title, #postOnWall>.subtitle,
#askButton>.title, #askButton>.subtitle {
    min-width: 150px;
}

/* ---------------------   Choose Friends  ----------------------- */

ul.friends, ul.askers {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 255px;
    overflow-x: hidden;
    overflow-y: scroll;
}
ul.askers {
    margin: 50px 0 30px 0;
    overflow-y: hidden;
}
ul.friends li, ul.askers li {
    display: block;
    height: 80px;
    margin-right: 10px;
}
ul.friends li {
    border-bottom: 1px solid #BBB;
}
ul.friends li>div, ul.askers li>div {
    padding: 10px 0;
}
.friend input, .asker input {
    float: left;
    font-size: 14px;
    line-height: 17px;
    padding: 3px;
    color: #333;
    width: 200px;
}
.friend label, .asker label {
    float: left;
    width: 60px;
    margin: 3px 0;
    line-height: 24px;
    font-size: 13px;
    color: #666;
}
.friend .error, .asker .error {
    float: right;
    font-size: 13px;
    line-height: 30px;
    margin-right: 20px;
}
.portrait {
    float: left;
    width: 40px;
    height: 40px;
    margin: 7px 34px 7px 7px;
    padding: 2px;
    border: 1px solid #BBB;
    background-color: white;
}
.portrait>img {
    width: 40px;
    height: 40px;
}
#addFriend {
    margin: 15px 0 0 15px;
    font-size: 14px;
}
#addFriend div {
    padding-left: 15px;
    text-align: center;
}
#addFriend img {
    float: left;
    margin-left: -13px;
    width: 29px;
    height: 29px;
}
.friend_options {
    text-align: center;
    height: 60px;
    width: 485px;
    float: left;
}
.fb_option {
    float: left;
    width: 220px;
}
.email_option {
    float: right;
    width: 220px;
}
.email_friend, .fb_friend, .email_asker {
    height: 60px;
    float: left;
    width: 485px;
}
.email_friend>div, .email_asker>div {
    height: 30px;
}
.fb_friend>div {
    height: 30px;
    padding: 15px 0;
}
.email_friend input, .fb_friend input {
    border: none;
    width: 180px;
    margin: 3px 2px;
}
.email_friend input:hover, .fb_friend input:hover {
    border: 2px inset;
    margin: 1px 0;
}
.email_asker input {
    width: 180px;
    margin: 0;
}
.email_asker label {
    width: 80px;
}
.helpful {
    text-align: left;
    text-indent: 5px;
    font-size: 14px;
    color: #666;
}
.fb_connect {
    width: 220px;
    height: 30px;
    background-image: url('/static/imgs/fb_connect.png');

}
.fb_connect:hover {
    cursor: hand;
    cursor: pointer;
}
ul.ui-autocomplete {
    list-style-type: none;
    text-indent: 0px;
    left: 408px;
    width: 145px;
    padding: 0px;
    border: 1px solid #383f41;
    border-radius: 2px;
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
    background-color: white;
}
li.ui-menu-item {
    margin: 0px 0px 0px -30px;
    padding: 0px 0px 0px 32px;
    width: 185px;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    text-indent: 2px;
    height: 20px;
    background-color: white;
    overflow-x: hidden;
}
li.ui-menu-item:hover {
    background-color: #E0F0F8;
}
#chosenButton>img, #askButton>img {
    margin: 5px;
}
#chosenButton>.title, #chosenButton>.subtitle,
#askButton>.title, #askButton>.subtitle {
    margin-left: 50px;
    min-width: 185px;
}

/* --------------------   Asking Screen ----------------------------- */

div.middled {
    position: absolute;
    left: 50%;
    margin-left: -110px;
    width: 220px;
    margin-top: 20%;
}
div.middled div {
    width: 100%;
    text-align: center;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 20px;
}
#loader {
    width: 220px;
    height: 19px;
}
