body {
    text-align: center;
    overflow: auto;
    background-color: white;
    font: 1em/1.4em "Lucida Grande", Helvetica, Arial, sans-serif;
}
#wrapper {
    text-align: center;
    font-size: 80%; 
    margin: 0 auto;
    min-height: 215px;
    max-height: 215px;
    height: 215px;
    width: 400px;
}
.willt {
    background: #F7F7F7;
    border: 1px solid #DDD;
    /*margin: 20px 0;*/
    border-radius: 3px;
    height: 100%;
    width: 100%;
}
#invite {
    width: 100%;
    height: 100%;
}
#thanks {
    width: 100%;
    height: 100%;
}
#top-div {
    height: 160px;
}
#product-img {
    float: left;
    max-width: 140px;
    height: 100%;
}
#product-img img {
    margin: 15px 0px 15px 10px;
    /**height: 130px;*/
    max-width: 130px;
}
#text-div {
    float: right;
    width: 250px;
    height: 100%;
}
#buttons {
    margin-top: 10px;
    width: 100%;
}
textarea {
    background: #fff url("/static/inputshadow.gif") repeat-x top; 
    border-style: none solid solid;
    vertical-align: middle; 
    border: 1px solid #aaa; 
    padding: 4px; 
    color: black;
    margin: 0px 10px 0px 0px;
    max-width: 230px;
    max-height: 100px;
    min-width: 230px;
    min-height: 100px;
    width: 230px;
    height: 100px;
    font: 1.1em "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
#chars-left {
    font-size: 0.8em;
    text-align: right;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.hidden {
    display: none;
}
.button-link {
    display:inline-block;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-decoration:none;
    text-shadow:0 1px 2px #666;
    white-space:nowrap;
    cursor:pointer;
    vertical-align:baseline;
    -webkit-transition:all 400ms ease;
    -moz-transition:all 400ms ease;
    -o-transition:all 400ms ease;
    transition:all 400ms ease;
    overflow:visible;
    width:auto;

    border:1px solid;
    padding: 4px 10px 0px 10px;
    margin-bottom:2px;
    font-weight:bold;
    height:28px;
    cursor:pointer;
    
    -webkit-box-shadow: rgb(153, 153, 153) 0px 1px 2px 0px;

    background: rgb(175,212,237);
    background: -moz-linear-gradient(top, rgba(175,212,237,1) 0%, rgba(89,156,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,212,237,1)), color-stop(100%,rgba(89,156,204,1)));
    background: -webkit-linear-gradient(top, rgba(175,212,237,1) 0%,rgba(89,156,204,1) 100%);
    background: -o-linear-gradient(top, rgba(175,212,237,1) 0%,rgba(89,156,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(175,212,237,1) 0%,rgba(89,156,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afd4ed', endColorstr='#599ccc',GradientType=0 );
    background: linear-gradient(top, rgba(175,212,237,1) 0%,rgba(89,156,204,1) 100%);

    border-color:#d4e4ef;
    -webkit-box-shadow:0 1px 2px #999;
    -moz-box-shadow:0 1px 2px #999;
    box-shadow:0 1px 2px #999;
    color:#fff;
}
.button-link:hover {
    background: rgb(150,200,234);
    background: -moz-linear-gradient(top, rgba(150,200,234,1) 0%, rgba(73,149,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,200,234,1)), color-stop(100%,rgba(73,149,204,1)));
    background: -webkit-linear-gradient(top, rgba(150,200,234,1) 0%,rgba(73,149,204,1) 100%);
    background: -o-linear-gradient(top, rgba(150,200,234,1) 0%,rgba(73,149,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(150,200,234,1) 0%,rgba(73,149,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c8ea', endColorstr='#4995cc',GradientType=0 );
    background: linear-gradient(top, rgba(150,200,234,1) 0%,rgba(73,149,204,1) 100%);

    color:#fff;
}
.button-link img,
.box img {
    padding: 0px !important;
    margin-right: 3px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.1);
}
.button-link img {
    float: left;
    height: 20px;
    padding: 0px 5px 0px 5px;
    margin-top: 1px;
}


#share-text {
    overflow: auto;
}
