html, body {
    background: #fff url('/static/imgs/clean_textile.png');
    color: #444;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
}
h2 a {
    color: inherit;
    text-decoration: none;
}
h2 a:hover {
    text-decoration: underline;
}
#error_bar {
    display: none;
    color: #f00;
}
#cart_items_display li {
    background-color: transparent;
    border: 2px transparent solid;
    box-shadow: none;
}

#error_bar {
    display: none;
    color: #f00;
}
#cart_items_display li {
    background-color: transparent;
    border: 2px transparent solid;
    box-shadow: none;
}
#wrapper {
    background: #fff;
    margin: 0 auto;
}
._1kwrapper {
    width: 1000px;
    margin: 0 auto;
}
#header {
    background-color: #000;
    height: 100px;
}
#header .vendor_logo {
    display: block;
    padding: 37px 0 0 0;
}
#header .vendor_logo a {
    border: 0;
}
#asker_bar {
    float: left;
    width: 415px;
    margin-left: -7px; /* shadow compensation */
}
#main_content {
    float: right;
    width: 525px;
    /*min-height: 550px;*/
    text-align: justify;
    margin: 15px 15px 0 0;
}
#right-div {
    float: right;
    width: 265px;
}
#product_img {
    display: block;
    margin: 0 auto;
    float: left;
}
#success_message {
    background-color: #b0c2d0;
    padding: 12px 6px;
    text-align: center;
}
#success_message h4 {
    display: none;
}
#share_again {
    margin-left: 10px;
}
#discount_screen {
    padding-top: 150px;
    text-align: center;
}
#discount_code {
    font-size: 30px;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 400px;
}
#discount_gettest {
    display: none;
}
.blob {
    /* a 'dialog box' */
    background-color: #f5f5f5;
    box-shadow: 0 5px 10px 0 #999;
    border: 1px #e0e0e0 solid;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    margin: 30px 10px;
}
.blob>.title {
    background-color: #e0e0e0;
    color: #222;
    padding: 5px;
    margin: -10px -10px 10px -10px;
}
.blob>.title>img {
    margin: 5px;
}
.center {
    text-align: center;
}
.choice {
    width: 375px;
}
.hidden {
    display: none;
}
.slight-highlight {
    margin: 24px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgb(206, 206, 206);
    border: 1px #eee solid;
    /* border-radius: 3px; */
}
.product-image {
    max-width: 250px;
    max-height: 250px;
    display: block;
    margin: 24px auto;
}
.title_bar {
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #BBB;
}
.title_bar>* {
    float: left;
}
.emph {
    font-size: 1.2em;
}
.vote_counter {
    vertical-align: top;
    line-height: 32px;
    width:28px;
    height:32px;
    display:inline-block;
}
.title_bar>img {
    height: 60px;
    width: 50px;
    margin: 0px 0px 0px 15px;
    padding: 0px;
}
.title_bar>div {
    line-height: 30px;
    margin: 14px 0 0 15px;
}
.button {
    display: inline-block;
    cursor: pointer;
}

img.profile_pic {
    float: left;
    margin: 0px 15px 9px 11px;
}
