body {
    background: #f0f0f0 url(/static/imgs/tiles/diagonal.png);
    color: #333;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    line-height: 1.28;
    margin: 0;
    padding: 0;
    text-align: left;
}
h1 {
    font-size: 2em;
}
h2 {
    text-align: center;
    font-size: 1.5em;
}
h2 a {
    color: inherit;
    text-decoration: none;
}
h2 a:hover {
    text-decoration: underline;
}
h2.title {
    margin-top: 16px;
}

.hidden {
    display: none;
}
div#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dcf0f4; /* Old browsers */
    background: -moz-linear-gradient(left, #dcf0f4 0%, #e8f7fb 50%, #dcf0f4 100%); /* FF 3.6+ */
    background: -webkit-linear-gradient(left, #dcf0f4 0%,#e8f7fb 50%,#dcf0f4 100%); /* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(left, #dcf0f4 0%,#e8f7fb 50%,#dcf0f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #dcf0f4 0%,#e8f7fb 50%,#dcf0f4 100%); /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcf0f4', endColorstr='#dcf0f4',GradientType=1 ); /* IE 6-9 */
    background: linear-gradient(left, #dcf0f4 0%,#e8f7fb 50%,#dcf0f4 100%); /* W3C */
    z-index: -10;
}
div#starburst {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:1012px;
    margin: 0 auto;
    margin-top: -170px;
    overflow: hidden;
    background: url("/static/imgs/starburst.png") no-repeat center top;
    z-index: -5;
}
#wrapper, .wrapper {
    display: auto;
    padding: 10px 10px 20px 10px;

    margin: 0 auto;
    width: 1050px;
    margin-bottom: 40px;
    border-radius: 3px;

    float: none;
    height: auto;
}
#error_bar {
    display:none;
    color: #f00;
}
#friends_selector_page, #friends_selectee_page {
    width: 1015px;
    margin: 0 auto;
    padding: 15px 0;
}
#friends_selectee_page>.title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 5px #666;
    margin: 40px 0 0 0;
}
#cart_items_display li {
    background-color: transparent;
    border: 2px transparent solid;
    box-shadow: none;
}
hr {
    border: 1px #ddd solid;
}

div#white {
    width: 100%;
    padding: 0;
    background: #94b7cf url(/static/imgs/tiles/noise.png);
    border-bottom: 1px #1C537A solid;
    height: 0; /* JS resets it */
    overflow: hidden;
    box-shadow: 0 8px 11px 0px #DDD;
}

#left-div, #right-div {
    width: 400px;
    margin: 10px;
    display:inline-block;
    height: 100%;
    vertical-align:top;
    text-align: left;
    font-size: 13px;
}

#left-div img {
    max-height: 395px;
    max-width: 395px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

img.profile_pic {
    float: left;
    margin: 0px 15px 9px 11px;
}

#success_screen {
    display: none; /* js */
    text-align: center;
}

#left-content {
    float: left;
}

#asker_title img {
    padding-right: 10px;
}
#header .vendor_logo {
    display: block;
    padding: 60px 0 0 60px;
}
#header .vendor_logo a {
    border: 0;
}
#asker_bar {
    float: left;
    width: 450px;
}
#main_content {
    float: right;
    width: 550px;
    text-align: justify;
}
#main_content > div {
    min-height: 328px;
}
#product_img {
    display: block;
    margin: 0 auto;
}
#success_message h4 {
    display: none;
}
#share_again {
    margin-left: 10px;
}
#discount_screen {
    padding-top: 150px;
    text-align: center;
}
#discount_code {
    font-size: 30px;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 400px;
}
#discount_gettest {
    display: none;
}
#set_products {
    margin-top:12px;
}
.description {
    margin-top: 24px;
    font-size: 100%;
    line-height: 150%;
    color: #444;
}


/* blob: conversation bubbles */
.blob {
    /* a 'dialog box' */
    background-color: #f5f5f5;
    box-shadow: 0 5px 10px 0 #999;
    border: 1px #e0e0e0 solid;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    margin: 30px 10px;
}
.blob>.title {
    background-color: #e0e0e0;
    color: #222;
    padding: 5px;
    margin: -10px -10px 10px -10px;
}
.blob>.title>img {
    margin: 10px;
}


#title {
    vertical-align: middle;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 24px;
    display: block;
    color: #3B5998;
    text-align: left;
}
#asker_title p {
    text-align: left;
    margin: 0;
    font-size: 15px;
}
#result h1 {
    font-size: 50pt;
    margin-bottom: 25px;
}
#result {
    font-size: 16pt;
}

.slight-highlight {
    margin: 24px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgb(206, 206, 206);
    border: 1px #eee solid;
    /* border-radius: 3px; */
}
img.slight-highlight {
    /* image tags get slightly different treatment */
    margin: 0px auto 15px auto;
    display: auto;
    padding: 10px;
}
.mini-highlight {
    /* even smaller than slight-highlight */
    background-color: #fff;
    border: 1px #eee solid;
    box-shadow: 0px 4px 8px 0px rgb(206, 206, 206);
    margin: 12px;
    padding: 12px;
}

.product {
    /* each small image in wosib mode. */
    border: 1px #F0F0F0 solid;
    box-shadow:0px 2px 3px 0px #CECECE;
    float: left;
    height: 270px;
    border-radius: 3px;
    margin: 17px;
    padding: 12px 5px;
    vertical-align:top;
    width: 200px;
}

.product_info {
    width: 810px;
    display: none;  /* default hidden */
}

.product-image {
    max-width: 350px;
    max-height: 350px;
    display: block;
    margin: 24px auto;
}
.wosib .product .product-image {
    /* wosib images are smaller, and you can click on them. */
    max-width: 150px;
    max-height: 150px;
    cursor: pointer;
}

.mini {
    font-size: 12px;
    color: #888;
}

.hidden {
    display: none;
}

.button,
.button:visited,
button,
button:visited {
    display:inline-block;
    font-family: helvetica, arial, tahoma, sans-serif;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-decoration:none;
    text-shadow:0 1px 2px #666;
    white-space:nowrap;
    cursor:pointer;
    vertical-align:baseline;
    -webkit-transition:all 400ms ease;
    -moz-transition:all 400ms ease;
    -o-transition:all 400ms ease;
    transition:all 400ms ease;
    overflow:visible;
    width:auto;
    background-color:#ae432e;
    color: #fff;

    border:1px solid;
    padding:8px 15px;
    margin-bottom:2px;
    font-weight:bold;
    cursor:pointer;
    font-size: 15px;

    -webkit-box-shadow: rgb(153, 153, 153) 0px 1px 2px 0px;

    border-color:#cb6652 #b74d39 #803121;
    background:-moz-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    background:-webkit-gradient(linear, left top, left bottom, from(#faa796), to(#ae432e), color-stop(0.05, #d06c57));
    background:-o-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    -webkit-box-shadow:0 1px 2px #999;
    -moz-box-shadow:0 1px 2px #999;
    box-shadow:0 1px 2px #999;
    color:#fce8e3;
}
.button:hover,
button:hover {
    background:-moz-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
    background:-webkit-gradient(linear, left top, left bottom, from(#faa796), to(#943a28), color-stop(0.05, #d06c57));
    background:-o-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
    color:#fff;
}
button:active { }
.button .vote {
    display: block;
    margin: 10px auto;
}

.yes:before {
    content: "\2764";
    color: #EE2C2C;
}
.no:before {
    content: "\2718";
}
.look_under_arrow {
    margin: 17px 31px 0px 10px;
    position: absolute;
}
.text-center {
    text-align: center;
}
.center {
    display: block;
    margin: auto;
}
.info_launch {
    position: relative;
}