.hidden {
    display: none;
}
body {
    text-align: center;
    background-color: rgb(232, 247, 251);
    font: 1em/1.4em "Lucida Grande", Helvetica, Arial, sans-serif;
    margin:0px;
    padding:0px;
}
img {
    
}
#wrapper {
    padding: 10px 10px 20px 10px;
    text-align: center;
    
    margin: 0 auto;
    background: #F7F7F7;
    border: 1px solid #DDD;
    width: 940px;
    /*margin: 20px 0;*/
    margin-bottom: 40px;
    border-radius: 3px;

    float: none;
}

hr {
    border: 1px #ddd solid;
}

div#white {
    position: absolute;
    top: 0px;
    height:20px;
    width:100%;
    z-index: 1;
    background:#FFFFFF;
}
div#cloud_top {
    position: absolute;
    margin-top: 20px;
    width:100%;
    height:77px;
    z-index: 1;
    top: 0;
    background: transparent;
    background: url(/static/imgs/cloud_top.png) center top repeat-x;
}
div#cloud_bottom {
    position: absolute;
    top: 20px;
    width:100%;
    height:86px;
    background:transparent;
    background: url(/static/imgs/cloud_bottom.png) center top repeat-x;
}

#left-div, #right-div {
    width: 400px;
    margin: 10px;
    display:inline-block;
    height: 100%;
    vertical-align:top;
    text-align: left;
    font-size: 13px;
}

#left-div img {
    max-height: 395px;
    max-width: 395px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

#yesBtn {
    margin-left: 0px;
}
#left-content {
    float: left;
}
#noBtn {
}
#yesCount {
    color: #71C671;
    display: inline-block;
}
#noCount {
    color: #CD0000;
    display: inline-block;
}
#yesCount span,
#noCount span {
    display: inline-block;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    font-size: 190%;
    padding-top:20px;
}
#voting {
    margin-top: 40px;
    text-align: left;
}

#top-right {
    float: left;
    width: 300px;
}
#asker_title img {
    padding-right: 10px;
}
#title {
    vertical-align: middle;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 24px;
    display: block;
    color: #3B5998;
    text-align: left;
}
#asker_title p {
    text-align: left;
    margin: 0;
    font-size: 15px;
}
#result h1 {
    font-size: 50pt;
    margin-bottom: 25px;
}
#result {
    font-size: 16pt;
}

.slight_highlight {
    margin: 24px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgb(206, 206, 206);
    border: 1px #eee solid;
}
.mini {
    font-size: 12px;
    color: #888;
}


.button,
.button:visited,
button, 
button:visited {
    display:inline-block;
    font-family: helvetica, arial, tahoma, sans-serif;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-decoration:none;
    text-shadow:0 1px 2px #666;
    white-space:nowrap;
    cursor:pointer;
    vertical-align:baseline;
    -webkit-transition:all 400ms ease;
    -moz-transition:all 400ms ease;
    -o-transition:all 400ms ease;
    transition:all 400ms ease;
    overflow:visible;
    width:auto;
    background-color:#ae432e;
    color: #fff;

    border:1px solid;
    padding:8px 15px;
    margin-bottom:2px;
    font-weight:bold;
    cursor:pointer;
    font-size: 15px;
    
    -webkit-box-shadow: rgb(153, 153, 153) 0px 1px 2px 0px;

    border-color:#cb6652 #b74d39 #803121;
    background:-moz-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    background:-webkit-gradient(linear, left top, left bottom, from(#faa796), to(#ae432e), color-stop(0.05, #d06c57));
    background:-o-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    -webkit-box-shadow:0 1px 2px #999;
    -moz-box-shadow:0 1px 2px #999;
    box-shadow:0 1px 2px #999;
    color:#fce8e3;
}
.button:hover,
button:hover { 
    background:-moz-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
    background:-webkit-gradient(linear, left top, left bottom, from(#faa796), to(#943a28), color-stop(0.05, #d06c57));
    background:-o-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
    color:#fff;
}
button:active { }

.button-link, .button-link:disabled {
        display: inline-block;
        white-space: nowrap;
        background-color: #ccc;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
        background-image: -webkit-linear-gradient(top, #eee, #ccc);
        background-image: -moz-linear-gradient(top, #eee, #ccc);
        background-image: -ms-linear-gradient(top, #eee, #ccc);
        background-image: -o-linear-gradient(top, #eee, #ccc);
        background-image: linear-gradient(top, #eee, #ccc);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
        border: 1px solid #777;
        padding: 0 1.5em;
        margin: 0.5em;
        font: bold 1.25em/2em Arial, Helvetica;
        text-decoration: none;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        -moz-border-radius: .2em;
        -webkit-border-radius: .2em;
        border-radius: .2em;
        -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button-link:hover {
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
    background-image: -moz-linear-gradient(top, #fafafa, #ddd);
    background-image: -ms-linear-gradient(top, #fafafa, #ddd);
    background-image: -o-linear-gradient(top, #fafafa, #ddd);
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.button-link:active {
    -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button-link:focus {
    outline: 0;
    background: #fafafa;
}    

.button-link:before {
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -moz-border-radius: .15em 0 0 .15em;
    -webkit-border-radius: .15em 0 0 .15em;
    border-radius: .15em 0 0 .15em;
    pointer-events: none;
}
.yes:before {
    content: "\2764";
    color: #EE2C2C;
}
.no:before {
    content: "\2718";
}
#success_screen {
    margin-top: 20px;
    clear: both;
    font-size: 12pt;
    font-weight: normal;
}
#success_screen h2 {
    display: none;
}
