{% extends "base.html" %}

{% block right_head %}
    <p><a href="{{ URL }}{% url ShowActions %}">Actions</a></p>
    <p><a href="{{ URL }}{% url ManageApps %}">Apps</a></p>
{% endblock right_head %}

{% block head %}
<script type="text/javascript" src="{{ URL }}/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <style type="text/css">
        .filters input {
            padding: 4px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);
            width: 150px;
            color: grey;
            font-size: 12px;
            height: inherit;
            margin-bottom: 0px;
        }
        .filters input:focus,
        .filters input:active {
            color: black;
            border: 1px solid rgba(0,0,0,0.5);
            box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);
        }
        .filters input[type="checkbox"] {
            width: initial;

        }
        .loading {
            display: none;
        }
        button {
            font-size: 12px;
            padding: 2px 4px;
        }
        #actions_list div {
            display: inline-block;
        }
        ul.ac_dropdown {
            z-index: 999;
            background: white;
            box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
            position: absolute;
            overflow-y: scroll;
            display: none;
            height: 100px; 
            padding: 3px;
        }
            ul.ac_dropdown li {
                margin: 0px;
                padding: 0px;
                font-size: 10px;
                cursor: pointer;
            }
            ul.ac_dropdown li:hover,
            ul.ac_dropdown li.selected {
                text-decoration: underline;
                color: grey;
                background: rgba(0,0,0,0.1);
            }
            ul.ac_dropdown li.active {
                text-decoration: none;
                color: orange;
            }
    </style>
    <script type="text/javascript">
        

        $(document).ready(function() {
            // poll for new actions        
            
        });

    </script>
{% endblock %}

{% block bottom_content %}
    <div class="span-24 prepend-top">
        <h1 class="prepend-top center">Click Actions</h1>
        <div class="span-12">
            <h3>Top Bar Button</h3>

            {% for count in tb_counts %}
                {{ count.name }}: {{ count.value }}<br /><br />
            {% endfor %}
        </div>
        <div class="span-12 last">
            <h3>SIBT Button</h3>

            {% for count in b_counts %}
                {{ count.name }}: {{ count.value }}<br /><br />
            {% endfor %}
        </div>
    </div>
{% endblock bottom_content %}

