<!DOCTYPE html>
<html lang='en'>
	<head>
        <title>Willet Referral</title>
        <meta name="description" content="What's the social value of your users?" />
        <meta name="keywords" content="social value, social payment, social worth, twitter value, twitter account value,
        tweet value, twittervalue, tweetvalue, social payments, twitter worth" />
        <link rel="start" href="http://www.wil.lt" title="{{NAME}}" />
        <link rel="bookmark" href="http://www.capption.tv" title="cAPPtion: Video Reviews of Web Apps" />
        <link rel="bookmark" href="http://www.getwillet.com" title="Willet: Monetization Simplified" />
        <link rel="bookmark" href="http://www.bitwillet.com" title="BitWillet: Accept Bitcoins on your website!" />
        
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
        
        <!-- Favicon -->
        <link rel='icon' type='image/vnd.microsoft.icon' href='/static/imgs/favicon.ico' />

        <!-- Blueprint CSS -->
        <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print" />
        <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />

        <!-- Scripts -->
        <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jrumble.1.1.min.js" type="text/javascript" charset="utf-8"></script>

       <!-- Google Analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23764505-9']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
            
        <script type="text/javascript">
        document.write(unescape("%3Cscript src='" + ((document.location.protocol=="https:")?"https://snapabug.appspot.com":"http://www.snapengage.com") + "/snapabug.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">
        SnapABug.addButton("a9fae0a0-daea-42c5-a125-eafa1ffd0ac8","3","80%");
        </script>
        
        {% block head %}{% endblock head %}
	</head>
	<body>
        <div id="background"></div>
        <div id="starburst"><div><div></div></div></div>

        <!-- CONTENT -->
        <div id='header'>
            <div id="white"></div>
            <div id="cloud_bottom"></div>
            <div id="cloud_top"></div>
        </div>
        <div id='wrap'>
            <div id='main' class='container'>
                <div class="span-24 append-bottom last">
                    {% block content %}
                    <div class="span-8 left_col">
                        {% block left_content %}
                        {% endblock left_content %}
                    </div>
                    <div class="prepend-top span-15 last right_col">
                        <div id="right_header" class="span-15 last">
                            {% include "admin_menu.html" %}
                            {% block right_head %}{% endblock right_head %}
                        </div>
                        {% block right_content %}
                        {% endblock right_content %}
                    </div>
                    {% endblock content %}
                </div>
                <div class="lower-50 span-24 append-bottom last">
                    {% block bottom_content %}
                    {% endblock bottom_content %}
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
        
        <!-- FOOTER -->
        <div id='footer' class='stripe'>
            <div id="sailboat">
                <img width="109" height="124" src="/static/imgs/sailboat.png" alt="Sailboat" />
            </div>
            <div id="ocean"></div>
            <div id="surf"></div>
            <div id="beach"></div>

            <div class='container'>
                <div class="prepend-top span-24 last">
                    <div class="prepend-1 span-5 lower-50" style="font-size: 1.5em"> 
                        <a href="/">Home</a> <br />
                        <a href="/about">About Us</a> <br />
                        <a href="http://www.willetinc.com">Blog</a> <br />
                        <a href="/products">Our Products</a> <br />
                    </div>
                    <div class="prepend-2 span-8 lower-75 center">
                        <a href="/">
                            <img src="/static/imgs/logo.png" width="100px"></img>
                        </a>
                    </div>
                    <div class="prepend-2 span-6 lower-75 last center" style="margin-top: 5px;">
                        <p>Copyright &copy; 2011 <a href='http://www.willetinc.com'>Willet Inc</a></p>
                        <p><a href='/terms'>Terms and Privacy</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FOOTER -->
        
        <!-- Preload these images -->
        <div class='hidden'>
        {% block hidden %}{% endblock %}
        </div>
         
         <!-- Late loading scripts -->
        {% block lazyload %}{% endblock %}
        
        <script src="/static/js/boat.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>

