<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Willet Referral</title>
        <meta name="description" content="What's the social value of your users?" />
        <meta name="keywords" content="social marketing automation" />

        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />

        <!-- Favicon -->
        <link rel='icon' type='image/vnd.microsoft.icon' href='/static/imgs/favicon.ico' />

        <!-- Blueprint CSS -->
        <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print" />
        <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />

        <!-- Scripts -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript">
        if (typeof jQuery == 'undefined'){
            document.write(unescape("%3Cscript src='/static/js/jquery.min.js' type='text/javascript' charset='utf-8' %3E%3C/script%3E"));
        }
        </script>
        <script src="/static/js/jrumble.1.1.min.js" type="text/javascript" charset="utf-8"></script>

       <!-- Google Analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23764505-9']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

        <script type="text/javascript">
        document.write(unescape("%3Cscript src='" + ((document.location.protocol=="https:")?"https://snapabug.appspot.com":"http://www.snapengage.com") + "/snapabug.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">
        SnapABug.addButton("a9fae0a0-daea-42c5-a125-eafa1ffd0ac8","3","80%");
        </script>

        {% block head %}{% endblock head %}
    </head>
    <body>
        <div id="background"></div>
        <div id="starburst"><div><div></div></div></div>

        <!-- CONTENT -->
        <div id='header'>
            {% if debug %}
                <div id="white"
                     style='height:42px;background:#F90;padding:10px 0 0 14px;font-size:20px;'>
                    Test Server
                </div>
            {% else %}
                <div id="white"></div>
                <div id="cloud_bottom"></div>
                <div id="cloud_top"></div>
            {% endif %}
        </div>
        <div id='wrap'>
            <div id='main' class='container'>
                <div class="span-24 append-bottom last">
                    {% block content %}
                    <div class="span-8 left_col">
                        {% block left_content %}
                        {% endblock left_content %}
                    </div>
                    <div class="prepend-top span-16 last right_col">
                        <div id="right_header" class="span-16 last">
                            {% include "admin_menu.html" %}
                            {% block right_head %}{% endblock right_head %}
                        </div>
                        {% block right_content %}
                        {% endblock right_content %}
                    </div>
                    {% endblock content %}
                </div>
                <div class="span-24 append-bottom last">
                    {% block bottom_content %}
                    {% endblock bottom_content %}
                </div>
            </div>
        </div>
        <!-- END CONTENT -->

        <!-- FOOTER -->
        <div id='footer' class='stripe'>
            <div id="sailboat">
                <img width="109" height="124" src="/static/imgs/sailboat.png" alt="Sailboat" />
            </div>
            <div id="ocean"></div>
            <div id="surf"></div>
            <div id="beach"></div>
        </div>
        <!-- END FOOTER -->

        <!-- Preload these images -->
        <div class='hidden'>
        {% block hidden %}{% endblock %}
        </div>

         <!-- Late loading scripts -->
        {% block lazyload %}{% endblock %}

        <script src="/static/js/boat.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>