{% extends "admin_base.html" %}

{% block head %}
    <script type="text/javascript" src="{{ URL }}/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{ URL }}/static/js/jquery.timeago.js"></script>
    <style type="text/css">
        table {
            overflow: scroll;
        }
    </style>
    <script type="text/javascript">
        var actions = {{ actions }};
        $(document).ready(function() {
            $.getJSON('{% url AnalyticsRPC %}', function(data){
                console.log(data);
                $('#data').empty();
                for (i = 0; i < data.data.length; i++) {
                    var row = $(document.createElement('tr'));
                    var since = $(document.createElement('abbr'));
                    since.addClass('timeago');
                    since.attr('title', data.data[i]['start']);
                    row.hide();
                    var html = ''
                    for (j = 0; j < actions.length; j++) {
                        html += '<td>'+data.data[i][actions[j]] + '</td>';
                    }
                    row.html(html);
                    row.prepend(since);
                    $('#data').append(row);
                    row.slideDown('fast');
                }
                $('abbr.timeago').timeago();
            }); 
        });

    </script>
{% endblock %}

{% block bottom_content %}
    <div class="span-24 prepend-top">
        <h1 class="prepend-top center">Analytics</h1>
        <table width="950px">
            <thead>
                <tr>
                    <th>Date</th>
                    {% for action in actions %}
                        <th>{{ action }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id='data'></tbody>
        </table>
    </div>
{% endblock bottom_content %}

