{% extends "admin_base.html" %}

{% block head %}
    <script type="text/javascript" src="{{ URL }}/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <style type="text/css">

    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            var key = $('#key')
            , value = $('#value')
            , protobuf = $('#protobuf')
            , clear_value = $('#clear_value')
            , key_list = $('#key_list')
            , messages = $('#messages');
            key.change(function(e){
                var data = {key: key.val()};
                if (protobuf.is(':checked')) {
                    data.protobuf = true;
                }
                if (clear_value.is(':checked')) {
                    data.value = ''; 
                } else if (value.val() != '') {
                    data.value = value.val();
                }
                $.ajax({
                    type: 'POST',
                    url: '?', 
                    data: data,
                    dataType: 'json',
                    success: function(data) {
                        key.val('');
                        value.val('');
                        protobuf.removeAttr('checked');
                        clear_value.removeAttr('checked');
                        var li = $(document.createElement('li'));
                        li.html("<strong>" + data.key + "</strong> = " + data.value);
                        li.hide();
                        key_list.prepend(li);
                        li.slideDown();
                        for (i = 0; i <= data.messages.length; i++) {
                            var m = $(document.createElement('li'));
                            m.html(data.messages[i]);
                            m.hide();
                            messages.append(m);
                            m.fadeIn();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block bottom_content %}
    <div class="span-24 prepend-top">
        <h1 class="prepend-top center">Memcache Console v0.1</h1>
        <ul id="messages"></ul>
        <div class='span-24 last clear'>
            <div class='span-10'>
                Key<br />
                <input id="key" value="" />
            </div>
            <div class="span-10">
                Value<br />
                <input id="value" value="" />
            </div>
            <div class="span-4 last clear">
                <input type="checkbox" id="protobuf" />
                <input type="checkbox" id="clear_value" />
            </div>
        </div>
        <div class='span-24 last clear'>
            <ul id="key_list"></ul>
        </div>
    </div>
{% endblock bottom_content %}

