{% extends "admin_base.html" %}

{% block content %}
    <div class="prepend-top span-24 last right_col">
        <div id="right_header" class="span-24 last">
            {% include "admin_menu.html" %}
        </div>
    </div>
{% endblock content %}

{% block bottom_content %}
    <div class="span-24 prepend-top append-bottom">
        <h1 class="prepend-top center">Routes</h1>
        {% for route in routes %}
        <div class="span-24" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1)">
            <div class="prepend-3 span-6">
                <a href="{{ route.route }}"> {{route.route}}</a>
            </div>
            <div class="span-6">
                {{ route.obj }}
            </div>
            <div class="span-6 append-3 last">
                {{ route.module }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock bottom_content %}

