{% extends "admin_base.html" %}

{% block content %}
    <div class="prepend-top span-24 last right_col">
        <div id="right_header" class="span-24 last">
            {% include "admin_menu.html" %}
        </div>
    </div>
{% endblock content %}

{% block bottom_content %}
    <div class="span-24 prepend-top append-bottom">
        <h1 class="prepend-top center">Routes</h1>
        <p> <b>Be careful</b> - don't click what you don't know!</p>
        <table>
            {% for route in routes %}
                <tr>
                    <td style="text-align:left;border-bottom:1px #999 solid">
                        <a href="{{ route.route }}"> {{route.route}}</a>
                        <br/>
                        <span style="font:11px monospace;">
                            {{ route.module }}.{{ route.obj }}
                        </span>
                    </td>
                    <td style="text-align:justify;border-bottom:1px #999 solid">
                        <pre style="font-size:11px;">{{ route.doc }}</pre>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock bottom_content %}

