<html>

<head>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="../../../static/reengage/css/engageStyles.css" rel="stylesheet" type="text/css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript">
</script>
<script src="../../../static/reengage/engageFunctionality.js" type="text/javascript">
</script>
</head>

<body>

<div id="banner" class="shadow">
    <div id="bannerBody">
        <div id="bannerTitle">
            <h1><b>Engage</b></h1>
        </div>
        <div id="bannerRight">
        </div>
    </div>
</div>

<div id="body">
    <div id="loginTopMessage">Instantly engage with your customers!</div>
    <div id="loginMainBox">

        <div id="signupBox" class="roundedTops roundedBL roundedBR">
            <div class="loginHead roundedTops">Sign up</div>

            <div class="loginLeft">
                <div class="loginElemLeft">Shop name:</div>
                <div class="loginElemLeft">Shopify url:</div>
                <div class="loginElemLeft">Email:</div>
                <div class="loginElemLeft">Password:</div>
                <div class="loginElemLeft">Confirm password:</div>
            </div>

            <div class="loginRight">
                <div class="loginElemRight"><input type="text" value="" /></div>
                <div class="loginElemRight"><input type="text" value="" /></div>
                <div class="loginElemRight"><input type="text" value="" /></div>
                <div class="loginElemRight"><input type="password" value="" /></div>
                <div class="loginElemRight"><input type="password" value="" /></div>
            </div>

            <div id="signupButtonContainer">
                <div id="signupButton" class="button"><a href="engage-queued.html">Sign up</a></div>
            </div>
        </div>

        <div id="loginBox" class="roundedTops roundedBL roundedBR">
            <div class="loginHead roundedTops">Login</div>

            <div class="loginLeft">
                <div class="loginElemLeft">Email:</div>
                <div class="loginElemLeft">Password:</div>
            </div>
            <div class="loginRight">
                <div class="loginElemRight"><input type="text" value="" /></div>
                <div class="loginElemRight"><input type="password" value="" /></div>
            </div>

            <div id="loginButtonContainer">
                <div id="loginButton" class="button"><a href="engage-queued.html">Login</a></div>
            </div>
        </div>

    </div>
</div>


</body>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="engageFunctionality.js">
<script type="text/javascript" charset="utf-8">
</script>

</html>