<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="ReEngage">
    <head>
        <title>SecondFunnel ReEngage&trade;</title>
        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">
        <link href="/static/reengage/css/engageStyles.css" rel="stylesheet" type="text/css">
        <link href="/static/reengage/css/jquery-ui-1.8.21.ReEngage.css" rel="stylesheet" type="text/css"/>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/r/reengage/js/com.js" type="text/javascript"></script>
        <script src="/static/reengage/js/engageFunctionality.js" type="text/javascript"></script>
    </head>
    <body>

        <div id="banner" class="shadow">
            <div id="bannerBody">
                <div id="bannerTitle">
                    <h1><b>Engage</b> // {{ client.name|default:"Your Store" }}</h1>
                </div>
                <div id="bannerRight">
                    <ul id="bannerRightObj">
                        <li><a href="./queues">Home</a></li>
                        <li><a href="./how_to">Instructions</a></li>
                        <li><a href="./logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="body">
            <div id="innerBody">
            </div>

            <div id="ajax_loader">
                <img alt="Loading" src="/static/imgs/loading.gif"
                     style="padding: 20px;" />
            </div>

            <div id="break">
            </div>

            <div id="box">
                <div id="boxTop">
                    <ul class="boxTopNav">
                        <li><b>How to Use Engage</b></li>
                    </ul>
                </div>
                <div id="mainBox">
                    <div id="howToNavContainer">
                        <div class="howToNav overview selected">Overview</div>
                        <div class="howToNav facebook">Facebook</div>
                        <div class="howToNav twitter comingSoon">Twitter</div>
                        <div class="howToNav pinterest comingSoon">Pinterest</div>
                        <div class="howToNav email comingSoon">Email</div>
                    </div>

                    <div id="howToMain">

                        <!-- OVERVIEW -->
                        <div class="howToText overview">
                            <h2 class="howTo">Overview</h2>

                            <p class="howTo">
                                Engage puts you in control of how you reach out to users
                                who liked, tweeted, pinned, or emailed your product.
                            </p>

                            <p class="howTo">
                                To learn about how Engage works for the different social
                                networks, take a look at the navigation to the left.
                            </p>

                            <img src="">

                            <p class="howTo">
                                **Soon you'll be able to reach out to users who did social
                                actions with specific categories or products!
                            </p>
                        </div>


                        <!-- FACEBOOK -->
                        <div class="howToText facebook hidden">
                            <h2 class="howTo">Facebook</h2>

                            <p class="howTo">
                                To reach out to customers on Facebook, start by creating
                                posts to go in your queue. Posts are sent out at regular
                                intervals to people who have liked one of your products.
                                You can find out when post are scheduled by looking in the
                                top-right of the queue area.
                            </p>

                            <p class="howTo">
                                To reach out to your customers
                            </p>

                            <p class="howTo">
                                1. Click the 'New Post' button.
                            </p>

                            <p class="howTo">
                                2. Give your post a title. The title you give your post will only be visible to you.
                            </p>

                            <p class="howTo">
                                3. If this is not your first post, you can decide to
                                schedule your post at the beginning of the queue (as soon
                                as possible) or the end of the queue (as late as possible).
                            </p>

                            <p class="howTo">
                                4. Add content to your post. This content will be what your
                                customers will see on their Facebook feed when the post is sent.
                            </p>

                            <p class="howTo">
                                **Soon you'll be able to embed links, images, and videos in your Facebook posts as well!
                            </p>
                        </div>
                    </div>
                </div>
            </box>

    </body>
</html>