<html>
<body>
<form action="{{ host }}{% url ReEngageVerify %}" method="POST">
    <h1>Create</h1>
    {{ msg }}<br/>
    {% if set_password %}
    <label for="password">Enter new password</label>
    <input type="password" name="password" id="password" />
    <label for="password2">Re-Enter new password</label>
    <input type="password" name="password2" id="password2" />
    <input type="hidden" value="{{ token }}" name="token" />
    <input type="hidden" value="{{ email }}" name="email" />
    <input type="submit" value="Submit" />
    {% endif %}
</form>
</body>
</html>