{% extends "../../plugin/templates/ask.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/wosib/css/wosib.css" type="text/css" />
{% endblock styles %}



{% block screens %}
<!---------------------------- Splash Screen ------------------------------>

    <div id="splash">
        <div class="title_bar">
            <img alt="SIBT Logo" src="/static/imgs/sibt_logo_79x50.png" />
            <div>Select items to display in your survey.</div>
        </div>
        <form method="POST" action="">
            <div id="cart_items_display_container">
                <ul id="cart_items_display">
                    <!-- JS -->
                </ul>
            </div>
        </form>
        <div class="options">
            <div class="option left">
                <div class="button" id="postWosibOnWall" title="Post to your wall">
                    <img alt="friends" src="/static/sibt/imgs/sibt_ask_all.png" />
                    <div class="title">Ask Friends</div>
                    <div class="subtitle">Post to Facebook</div>
                </div>
                <div class="hint">
                    <img alt="hint arrow" src="/static/sibt/imgs/little_arrow.png" />
                    <div>easy &amp; fast</div>
                </div>
            </div>
            <div class="or">or</div>
            <div class="option right">
                <div class="button" id="showChooseScreen" title="Post to your friends' walls">
                    <img alt="friend" src="/static/sibt/imgs/sibt_choose_friends.png" />
                    <div class="title">Choose Friends</div>
                    <div class="subtitle">Get trusted advice</div>
                </div>
                <div class="hint">
                    <img alt="hint arrow" src="/static/sibt/imgs/little_arrow.png" />
                    <div>best advice</div>
                </div>
            </div>
        </div>
    </div>
{% endblock screens %}



{% block js_globals %}
{% endblock js_globals %}



{% block ajax_methods %}
    var storeAnalytics = function( evnt ) {
        var payload = { what          : evnt,
                        instance_uuid : '',
                        app_uuid      : '{{ app_uuid }}',
                        user_uuid     : '{{ user_uuid }}',
                        target_url    : '{{ target_url }}'
                      };
        $.ajax({
            url      : "{{ URL }}{% url TrackWOSIBUserAction %}",
            dataType : 'json',
            data     : payload,
            type     : 'post',
            success  : function (response) {
                return;
            }
        });
    };
    
    var updateServerUser = function( accessToken, userId ) {
        var payload = { user_uuid   : "{{user_uuid}}",
                    accessToken : accessToken,
                    fbUserId    : userId 
                  };
        $.ajax({
            url      : "{{ URL }}{% url UpdateFBAccessToken %}",
            type     : 'post',
            dataType : 'json',
            data     : payload,
            success  : function (tr) {
                return;
            }
        });

        fbAccessToken = accessToken;
        fbIdentity    = userId;
    };

    var startPartialInstance = function() {
        if (get_selected_objects ()) {
            var payload = { app_uuid     : "{{app_uuid}}",
                            user_uuid    : "{{user_uuid}}",
                            product_uuids : get_selected_objects (),
                            willt_code   : "{{willt_code}}" };
            $.ajax({
                url      : "{{ URL }}{% url StartPartialWOSIBInstance %}",
                type     : 'post',
                dataType : 'json',
                data     : payload,
                success  : function (tr) {
                    window._willet_wosib_partial_instance_uuid = tr;
                }
            });
            return true;
        } else {
            return false;
        }
    };

    var startFullInstance = function() {
        if (get_selected_objects ()) {        
            var payload = { app_uuid     : "{{app_uuid}}",
                            user_uuid    : "{{user_uuid}}",
                            product_uuids : get_selected_objects (),
                            willt_code   : "{{willt_code}}" };
            $.ajax({
                url      : "{{ URL }}{% url StartWOSIBInstance %}",
                type     : 'post',
                dataType : 'json',
                data     : payload,
                success  : function (tr) {
                    window._willet_wosib_partial_instance_uuid = tr;
                }
            });
            return true;
        } else {
            return false;
        }
    };

    var fb_share_handler = function(payload) {
        $.ajax({
            url: '{% url ShareWOSIBInstanceOnFacebook %}',
            type: 'post',
            dataType: 'json',
            data: payload,
            success: function (response) {
                // console.log('got response', response);
                if (response.success) {
                    shareComplete('facebook');
                } else {
                    if (userFound) {
                        // we tried to use an existing user
                        // but the share failed!
                        userFound = false; // dont do this twice
                        fb_login_and_share();
                    } else {
                        // console.log("Facebook post failure", response);
                        $("#loading").hide();
                        $("#error").fadeIn(300);
                    }
                }
            }
        });
    };

    var sendMessages = function() {
        var friend_info = [];
        var msg   = $("#share-text").val();

        // Clean up UI to show loader gif
        showScreen('asking');

        // Gather up friend info
        $.each( friends, function (i) { 
            friend_info.push( friends[i].getFriendInfo() );
        });

        payload = { 
            user_uuid       : "{{user_uuid}}",
            app_uuid        : "{{app_uuid}}",
            product_uuids   : get_selected_objects (),
            fb_access_token : fbAccessToken,
            fb_id           : fbIdentity,
            friend_info     : friend_info,
            msg             : msg,
            willt_code      : "{{willt_code}}"
        };

        $.ajax({
            url      : "{{ URL }}{% url SendWOSIBFBMessages %}",
            type     : 'post',
            dataType : 'json',
            data     : payload,
            success  : function (tr) {
                // Change to success screen
                showScreen('success');
            }
        });
    };

    var updateEmailAddress = function() {
        var addr = document.getElementById( 'email-field' ).value;
            
        $.ajax({
            url: "/updateEmailAddress",
            type: 'post',
            data: { email : addr },
            success: function (tr) {
                doPostMessage('close');
                window.close();
            }
        });
    };

{% endblock ajax_methods %}



{% block js_functions %}
    // Open up the FB dialog. Does not do a FB connect with us.
    var postWosibOnWall = function () {
        try { // detect adblock
            if (!startPartialInstance ()) {
                alert ("Please select at least one item!");
            } else {
                FB.ui({ method:  "feed",
                        display: "popup",
                        link:    "{{share_url}}",
                        picture: "{{images|first}}",
                        name:    "{{title|escape}}",
                        caption: "{{store_domain}}",
                        description: "{{ product_desc|striptags|escape }}",
                        redirect_uri: "{{fb_redirect}}" });
            }
        } catch (e) {
            alert ('Oops... AdBlock is probably blocking facebook!');
        }
        closeIframe( 'WOSIBNoConnectFBDialog' );
    };

    var runFriendPicker = function () {
        // derp
    };

    var share = function() {
        storeAnalytics('WOSIBAskUserClickedShare');

        fbData.msg = message; 
        fbData.motivation = motivation_text;
        FB.login(function(lr) {
                if (!lr.authResponse) {
                    // we weren't given permission
                    storeAnalytics('SIBTFBConnectCancelled');
                    window.close();
                } else { 
                    // TODO: need to support new authresponse
                    fbData.fb_token = lr.authResponse.accessToken;
                    fbData.fb_id = lr.authResponse.userID;
                    fb_share_handler(fbData);
                }
            }, {scope: 'publish_stream,offline_access,user_about_me,email'}
        );
        return;
    };
    
    var fb_share_handler = function(payload) {
        $.ajax({
            url: '{% url ShareWOSIBInstanceOnFacebook %}',
            type: 'post',
            dataType: 'json',
            data: payload,
            success: function (response) {
                // console.log('got response', response);
                if (response.success) {
                    shareComplete('facebook');
                } else {
                    if (userFound) {
                        // we tried to use an existing user
                        // but the share failed!
                        userFound = false; // dont do this twice
                        fb_login_and_share();
                    } else {
                        // console.log("Facebook post failure", response);
                        $("#loading").hide();
                        $("#error").fadeIn(300);
                    }
                }
            }
        });
    };

    var get_selected_objects = function () {
        var uuids = [];
        $('#cart_items_display input').each (function (i, e) {
            var $e = $(e);
            // if ($e.checked) {
            if (e.checked) {
                uuids.push ($e.data('uuid'));
            }
        });
        // console.log(uuids);
        return uuids.join(',');
    }

    // Connect with FB and fetch FB friends, on Choose Friends screen
    var runFBConnect = function () {
        storeAnalytics('WOSIBConnectFBDialog');

        FB.login( function(response) {
            var authResp = response.authResponse;

            if (!authResp) {
                // We weren't given permission, do nothing
                return;
            } else { 
                storeAnalytics('WOSIBFBConnected');

                // Store FB data in the server.
                updateServerUser(authResp.accessToken, authResp.userID);
                fetchFBFriends();
            }
        }, {scope: 'publish_stream,offline_access,user_about_me,email'});
    };
    
    // Query FB api to grab logged-in user's friends
    var fetchFBFriends = function () {
        FB.api( '/me/friends', function (response) {
            fb_friends = response.data;
            fb_friends.sort();

            $.each( response.data, function (i) {
                friendNames.push(fb_friends[i].name); 
            });

            // Code here changes all FB Connect options into FB Friend Select options
            var i = friends.length;
            while ( i-- ) {
                friends[i].FBLoggedIn();
            }
       });
    };
{% endblock js_functions %}



{% block js_init %}
    $(document).ready (function () {
        // controller guarantees there to be > 0 variants
        var _willet_cart_variants = [ {% for variant in variants %}
            {   "id": "{{variant.id}}",
                "title": "{{variant.title}}",
                "image": "{{variant.image}}", // deprecated... try /cart.js.
                "variant_id": "{{variant.variant_id}}",
                "product_uuid": "{{variant.product_uuid}}",
            },
        {% endfor %} ];
        
        var x = null;
        for (x in _willet_cart_variants) {
            // add products onto page.
            $('#cart_items_display').append(
                '<li>' + 
                    '<img class="variant_image" src="' + _willet_cart_variants[x].image + '" />' +
                    '<label>' +
                        '<input name="item' + _willet_cart_variants[x].variant_id + '" ' + 
                               'data-uuid="' + _willet_cart_variants[x].product_uuid + '" ' + 
                               'id="item' + _willet_cart_variants[x].variant_id + '" ' + 
                               'class="variant_select" type="checkbox" checked="checked" />' +
                        _willet_cart_variants[x].title + 
                    '</label>' + 
                '</li>'
            );
        }
        
        // adjust box width.
        $('#cart_items_display').width(240 * _willet_cart_variants.length);
        
        // add product selection events onto checkbox.
        $('#cart_items_display li').each (function () {
            $(this).bind('click', function () {
                var checkbox = $(this).find('input')[0];
                checkbox.checked = !checkbox.checked;
                $(this).fadeTo(200, checkbox.checked ? 1.0 : 0.2);
            });
        });
        
        var startPartialInstance = function() {
            // its success in creating the instance is assumed
            var payload = { app_uuid      : "{{app_uuid}}",
                            user_uuid     : "{{user_uuid}}",
                            product_uuids : get_selected_objects (),
                            willt_code    : "{{willt_code}}" };
            $.ajax({
                url      : "{{ URL }}{% url StartPartialWOSIBInstance %}",
                type     : 'post',
                dataType : 'json',
                data     : payload,
                success  : function (tr) {
                    return;
                }
            });
        };
        
        $('#postWosibOnWall').click (postWosibOnWall);
        $('#runFriendPicker_btn').click (runFriendPicker);
    });
    showScreen('splash');
{% endblock js_init %}
