<!DOCTYPE html>
<html lang='en'>
    <head>
        <!-- Favicon -->
        <link rel='icon' type='image/vnd.microsoft.icon' href='/static/imgs/favicon.ico' />        
        <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/sibt/css/ask.css" type="text/css" />
        <link rel="stylesheet" href="/static/sibt/css/vote.css" type="text/css" />
        <link rel="stylesheet" href="/static/wosib/css/wosib.css" type="text/css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript">
        if (typeof jQuery == 'undefined'){
            document.write(unescape("%3Cscript src='/static/js/jquery.min.js' type='text/javascript' charset='utf-8' %3E%3C/script%3E"));
        }   
        </script>
        <style type="text/css">
            #wrapper, .wrapper { /* overrides ask.css defaults */
                height: auto;
                width: auto;
                display: auto;
            }
        </style>
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
        <title>Vote on stuff</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="splash">
                <div class="title_bar">
                    <img alt="SIBT Logo" src="/static/imgs/sibt_logo_79x50.png" />
                    <div>Which one would you buy?</div>
                    <!-- text should not mention 'buy' -->
                </div>
                <form method="POST" action="">
                    <ul id="cart_items_display">
                        <!-- JS -->
                    </ul>
                </form>
                <div class="dialog_button_area">
                    <input type="hidden" name="app_uuid" value="{{app_uuid}}">
                    <input type="hidden" name="user_uuid" value="{{user_uuid}}">
                    <input type="hidden" name="instance_uuid" value="{{instance_uuid}}">
                    <input type="hidden" name="target_url" value="{{target_url}}">
                    
                    <input name="vote_btn" id="vote_btn" 
                           type="button" value="Done">
                </div>
            </div>
            <div id="wosib_thanks_for_vote">
                <div class="title_bar">
                    <img alt="SIBT Logo" src="/static/imgs/sibt_logo_79x50.png" />
                    <div>Thank you!</div>
                    <!-- text should not mention 'buy' -->
                </div>
                <div>Thanks man, you're awesome! <br />
                    We'll email your friend the result in a couple of hours.
                </div>
                <div class="dialog_button_area">
                    <input type="button" value="Close">
                </div>
            </div>
            <div id="wosib_error">
                <div class="title_bar">
                    <img alt="SIBT Logo" src="/static/imgs/sibt_logo_79x50.png" />
                    <div>Doh!</div>
                    <!-- text should not mention 'buy' -->
                </div>
                <div>Something went wrong, and your vote was not counted! <br />
                    Sorry, man. Please tell us about it.
                </div>
                <div class="dialog_button_area">
                    <input type="button" value="Close">
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready (function () {
                // controller guarantees there to be > 0 variants
                var _willet_cart_products = [ {% for product in products %}
                    {   "id": "{{product.shopify_id}}",
                        "title": "{{product.title}}",
                        // "image": "{{product.image}}", // deprecated... try /cart.js.
                        "image" : "{{product.image}}" || "/static/imgs/noimage-willet.png",
                        "product_uuid": "{{product.uuid}}",
                    },
                {% endfor %} ];
                
                var x = null;
                for (x in _willet_cart_products) {
                    // add products onto page.
                    $('#cart_items_display').append(
                        '<li>' + 
                            '<img class="product_image" src="' + _willet_cart_products[x].image + '" />' +
                            '<label>' +
                                '<input name="item' + _willet_cart_products[x].product_id + '" ' + 
                                       'data-uuid="' + _willet_cart_products[x].product_uuid + '" ' + 
                                       'id="item' + _willet_cart_products[x].product_id + '" ' + 
                                       'class="product_select" type="checkbox" checked="checked" />' +
                                _willet_cart_products[x].title + 
                            '</label>' + 
                        '</li>'
                    );
                }
                
                // add product selection events onto checkbox.
                $('#cart_items_display li').click (function (e) {
                    $('#cart_items_display input').prop('checked', false);
                    var checkbox = $(this).find('input')[0];
                    checkbox.checked = true;
                    $('#cart_items_display li').each (function () {
                        var checkbox = $(this).find('input')[0];
                        $(this).css('border', checkbox.checked ? '2px #666 solid' : '2px transparent solid');
                    });
                });
                
                var showScreen = function (id) {
                    $('#wrapper').children().hide();
                    $('#wrapper>#'+id).show();
                };
                
                var closeWindow = function () {
                    window.self.close();
                };
                $('[value="Close"]').click (closeWindow);
                
                var vote = function () {
                    var product_uuid = $('#cart_items_display input:checked').data('uuid');
                    if (product_uuid) {
                        var payload = {
                            "user_uuid" : "{{ user_uuid }}",
                            "instance_uuid" : "{{ instance_uuid }}",
                            "product_uuid" : product_uuid
                        };
                        $.ajax({
                            url      : "{{ URL }}{% url DoWOSIBVote %}",
                            type     : 'post',
                            data     : payload,
                            success  : function () {
                                // alert ("Thanks for voting!");
                                showScreen('wosib_thanks_for_vote');
                            },
                            error    : function () {
                                // alert ("Cannot register vote!");
                                showScreen('wosib_error');
                            }
                        });
                    } else {
                        alert ("Please select a product :)");
                    }
                }
                $('#vote_btn').click(vote);
                
                $('#cart_items_display input').prop('checked', false);
                showScreen('splash');
            });
        </script>
        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23764505-9']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
