{% extends "../../plugin/templates/vote.html" %}

{% block styles %}
    <style type="text/css">
        html. body {
            background: transparent !important;
            background-color: rgb(232, 247, 251) !important;
        }
        h2 a {
            color: inherit;
            text-decoration: none;
        }
        h2 a:hover {
            text-decoration: underline;
        }
        .title_bar {
            width: 100%;
            height: 55px;
            font-size: 18px;
            padding: 0 0 8px 0;
            border-bottom: 1px solid #BBB;
        }
        .title_bar>* {
            float: left;
        }
        .title_bar>img {
            height: 60px;
            width: 50px;
            margin: 0px 0px 0px 15px;
            padding: 0px;
        }
        .title_bar>div {
            line-height: 30px;
            margin: 14px 0 0 15px;
        }
        #wrapper {
            margin-top: 130px;
            padding: 10px;
        }
        #wrapper, .wrapper { /* overrides ask.css defaults */
            height: auto;
            display: auto;
        }
        #error_bar {
            display:none;
            color: #f00;
        }
        #cart_items_display li {
            background-color: transparent;
            border: 2px transparent solid;
            box-shadow: none;
        }
    </style>
{% endblock %}

{% block body_start %}
    <div id='header'>
        <div id="white"></div>
        <div id="cloud_bottom"></div>
        <div id="cloud_top"></div>
    </div>
{% endblock %}

{% block screens %}
    <div id="splash">
        <div id="asker_title">
            <div id="title">
                Which one would you get?
                {% if share_url %}
                <div id="share_again">
                    Invite a friend to vote: <input style="width: 250px" type="text" readonly="readonly" value="{{ share_url }}" />
                </div>
                {% endif %}
            </div>
        </div>
        <div class="slight_highlight">
            <form method="POST" action="">
                <ul id="cart_items_display">
                    <!-- JS -->
                </ul>
            </form>
            <div class="dialog_button_area">
                <input type="hidden" name="app_uuid" value="{{app_uuid}}">
                <input type="hidden" name="user_uuid" value="{{user_uuid}}">
                <input type="hidden" name="instance_uuid" value="{{instance_uuid}}">
                <input type="hidden" name="target_url" value="{{target_url}}">

                <input name="vote_btn" id="vote_btn"
                       class="button"
                       type="button" value="Done">
                <div id="error_bar"></div>
            </div>

        </div>
    </div>
    <div id="wosib_thanks_for_vote">
        <div class="title_bar">
            <img alt="SIBT Logo" src="/static/plugin/imgs/blue_logo_shdw_50x60.png" />
            <div>Thank you!</div>
            <!-- text should not mention 'buy' -->
        </div>
        <div>Thank you. You're awesome! <br />
            We'll email your friend the result in a couple of hours.
        </div>
        <div class="dialog_button_area">
            <input type="button" class="button" value="Close">
        </div>
    </div>
    <div id="wosib_error">
        <div class="title_bar">
            <img alt="SIBT Logo" src="/static/plugin/imgs/blue_logo_shdw_50x60.png" />
            <div>Doh!</div>
            <!-- text should not mention 'buy' -->
        </div>
        <div>Something went wrong, and your vote was not counted! <br />
            Sorry! Please <a href="mailto:support@getwillet.com">tell us</a> about it.
        </div>
        <div class="dialog_button_area">
            <input type="button" class="button" value="Close">
        </div>
    </div>
{% endblock %}

{% block body_script %}
    $(document).ready (function () {
        // controller guarantees there to be > 0 products
        var _willet_cart_products = [ {% for product in products %}
            {   "id": "{{product.shopify_id}}",
                "title": "{{product.title}}",
                "image" : "{{product.images.0}}" || "/static/imgs/noimage-willet.png",
                "product_uuid": "{{product.uuid}}",
            },
        {% endfor %} {}];
        _willet_cart_products.pop(); // remove trailing {} to fix IE trailing comma

        // Widget class
        // Base widget, same basic functionality
        var LiWidget = function (name) {
            var elem = this.elem = document.createElement('li');
            elem.id = elem.name = name || '';
        };
        LiWidget.prototype = {
            getElement: function () {
                return this.elem;
            },
            getName: function () {
                return this.name;
            },
            setVisible: function (i) {
                this.elem.style.display = i ? 'block' : 'none';
            }
        };

        var Product = function (uuid, title, image_src, shopify_id) {
            LiWidget.call(this, "item" + shopify_id);

            var that = this,
                $elem = $(this.elem);

            $elem.click (function (e) {
                // add product selection events onto checkbox.
                $('#cart_items_display input').prop('checked', false);
                var checkbox = $(this).find('input')[0];
                checkbox.checked = true;

                // cancel select for all other checkboxes
                $('#cart_items_display li').each (function () {
                    var checkbox = $(this).find('input')[0];
                    $(this).css('border', checkbox.checked ? '2px #666 solid' : '2px transparent solid');
                });
            });

            var image = this.image = document.createElement('img');
            image.src = image_src || "/static/imgs/noimage-willet.png";

            var input = this.input = document.createElement('input');
            input.id = "item" + shopify_id;
            input.name = "item" + shopify_id;
            input.className = "product_select";
            input.type = "checkbox";

            var label = this.label = document.createElement('label');
            label.appendChild (input);
            $(input).data('uuid', uuid);
            label.innerHTML += title;

            $elem.append ([image, label]);

        };

        Product.prototype = new LiWidget();

        Product.prototype.getProductUuid = function () {
            return $elem.data('uuid');
        };

        Product.prototype.attach = function () {
            $('#cart_items_display').append(this.elem);
        };

        var x = 0;
        for (x = 0; x < _willet_cart_products.length; x++) {
            // add products onto page.
            var prod = new Product (
                _willet_cart_products[x].product_uuid,
                _willet_cart_products[x].title,
                _willet_cart_products[x].image,
                _willet_cart_products[x].product_id
            );
            prod.attach ();
        }

        var showScreen = function (id) {
            $('#wrapper').children().hide();
            $('#wrapper>#'+id).show();
        };

        var closeWindow = function () {
            window.close();
        };
        $('[value="Close"]').click (closeWindow);

        var showError = function (msg) {
            $('#error_bar').text(msg).fadeIn(350).delay(3000).fadeOut(700);
        }

        var vote = function () {
            var product_uuid = $('#cart_items_display input:checked').data('uuid');
            if (product_uuid) {
                var payload = {
                    "user_uuid" : "{{ user_uuid }}",
                    "instance_uuid" : "{{ instance_uuid }}",
                    "product_uuid" : product_uuid
                };
                $.ajax({
                    url      : "{{ URL }}{% url WOSIBDoVote %}",
                    type     : 'post',
                    data     : payload,
                    success  : function () {
                        showScreen('wosib_thanks_for_vote');
                    },
                    error    : function () {
                        showScreen('wosib_error');
                    }
                });
            } else {
                showError ("Please select a product :)");
            }
        }
        $('#vote_btn').click(vote);

        $('#cart_items_display input').prop('checked', false);
        showScreen('splash');
    });
{% endblock %}
