{% extends "preask.html" %}

{% block styles %}
    <style type="text/css">
        #cart_items_display {
            display: block;
            margin: 0 auto;
            padding: 0;
        }
        #cart_items_display li {
            border: 1px transparent solid;
            display: inline-block;
            font-size: small;
            margin: 10px 5px;
            padding: 10px;
            width: 200px;
            height: 324px;
            vertical-align: bottom;
        }
        #cart_items_display li:hover {
            border: 1px silver solid;
            border-radius: 5px;
            background-color: #fcfcff;
        }
        #cart_items_display img, #cart_items_display input, #cart_items_display label {
            clear: both;
            display: block;
            margin: 0 auto;
        }
        #cart_items_display input {
            display: none;
        }
        #cart_items_display img {
            max-height: 196px;
            margin-bottom: 12px;
        }
        .dialog_button_area {
            background-color: #f0f0f0;
            padding: 10px;
        }
    </style>
{% endblock %}

